.alertbar {
    background-color:#35818A;
    width: 100%;
    z-index: 1100;
    padding: 10px 60px;
    color:#ffffff;
    font-family: campton-medium;
    font-size: 14px;
}
.alerttext{
    font-family: campton-medium;
    font-size: 16px;
    margin-right: 10px;
}
.redalertbar {
    background-color:#DF323F;
    margin-top: 2%;    
    color:#ffffff;
    font-family: campton-medium;
    font-size: 14px;
    padding-left: 5%;
    box-shadow: 0 8px 40px 0 rgba(0,0,0,.2);
}
.greentext{
    font-family: campton-medium;
    font-size: 16px;
    margin-right: 10px;
}
.whiteagreebtn{
        color: #DF313F!important;
        background-color: #FFFFFF!important;
        background-image: none!important;
        box-shadow: none!important;
        display: inline-block;
        border-radius: 20px;
        font-size: 16px;
        padding: 9.5px 52px;
        color:#fff;
        font-family: campton-bold;
       
}
.redalertpad{
    padding: 40px 20px;
}
.closebutton{
float: right;
margin-top: 5px;

}