ol.breadcrumb {
	font-size: 14px;
}

.padLeft79 {
	padding-left: 79px!important;
}

.breadcrumb {
	padding: 21px 74px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #ffffff;
	border-radius: 4px;
	font-family: campton-book;
}

.breadcrumb-item a {
	color: #DF323F!important;
	text-decoration: none;
	font-size: 14px;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #5d5d5d;
	content: "/\00a0";
}

.accountHeader {
	color: #DF323F;
	font-family: campton-bold;
	font-size: 50px;
	letter-spacing: -0.1px;
	line-height: 60px;
	margin: 1% 2% 3% 4%;
}

.leftArea {
	height: 100%;
	background-color: #F4F7FA;
	overflow: hidden;
	padding-top: 65px;
	padding-bottom: 200px;
}

.troubleText {
	color: #5D5D5D;
	font-family: campton-book;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 18px;
}

a.helpText,a.helpText:hover{
	color: #DF323F;
	font-family: CamptonSemiBold;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 18px;
}

.section1_subheader {
	color: #5D5D5D;
	font-family: campton-book;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 24px;
	margin: 0% 2% 1% 2%;
}

.businessformContent {
	margin-left: 2%;
}

.businessformContent input[type=text] {
    padding: 6px 15px;
    min-height: 45px;
    border-radius: 25px;
    box-sizing: border-box;
    border: 0px;
    background-color: #F4F7FA;
    margin-bottom: 7px;
    font-size: 14px;
    font-family: campton-book;
    color: #5C707C;
    box-shadow: none;
}

.businessformContent label {
	color: #5D5D5D;
	font-family: campton-bold;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	margin-bottom: 3%;
	text-transform: none!important;
}

.asteriskred {
	color: #DF323F;
}

.select-control {
	display: block;
	width: 60%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: campton-book;
	color: #5C707C;
	border-radius: 25px;
	box-sizing: border-box;
	border: 1px solid #5C707C;
}

.previosnmail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 6% 2% 10% 2%;
}

.Nextbutton {
	color: rgb(255, 255, 255);
	margin-bottom: 15px;
	margin-right: 6%;
	background-color: #DF323F!important;
	border-color: #DF323F;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 16px;
	font-family: campton-bold;
	line-height: 1.42857;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 10.5px 58px;
	border-radius: 23px;
}

.office-icon {
	position: relative;
	top: 131px;
	left: 20px;
}

.white-circle {
	height: 292px;
	width: 292px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 345px;
	left: -95px;
}


.bussinessmaincontent {
	padding-left: unset!important;
	padding-right: unset!important;
	overflow-y: hidden!important;
	overflow-x: hidden!important;
	height: auto;
}

.accountcontentArea {
	background-color: #fff;
	transform: translateX(-50%);
	left: 50%;
	position: relative;
	margin-bottom: 5%;
	padding: 0;
	box-shadow: 0 -10px 40px 7px rgba(0, 69, 104, 0.1);
}

ul.accountlist {
	list-style: none;
	margin-left:31px;
}
.marLeft23{
margin-left:23px!important;
}
ul.accountslist {
	list-style: none;
	margin-left: -41px;
	margin-top: 20px;
}

.accountlist li {
	font-size: 20px;
	font-family: campton-bold;
	color: #5C707C;
	margin-bottom: 30px;
}

.accountslist li {
	font-size: 14px;
	font-family: campton-medium;
	color: #5C707C;
	margin-bottom: 15px;
}

.section1_header {
	color: #5C6E7C;
	font-family: campton-bold;
	font-size: 32px;
	letter-spacing: 0;
	line-height: 40px;
	margin: 5% 2% 2% 2%;
}

.section1_helpSection {
	text-align: right;
	padding: 5% 5% 0% 0%;
}

.linkbtton {
	background: url(../images/footerlink.png) no-repeat;
	height: 19px;
	width: 18px;
	background-size: contain;
	display: inline-block;
	margin-right: 2%;
	position: relative;
	top: 5px;
}

.prevStepbtn {
	color: #DF323F;
	font-family: campton-medium;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 18px;
	display: inline;
	padding-top: 10px;
}

.topnav {
	float: right;
}

.topnav a {
	float: left;
	display: block;
	text-align: center;
	 margin: 14px 30px 0px;
	text-decoration: none;
	font-weight: 600;
	color: #5C707C;
	font-family: campton-bold;
	font-size: 1.4vw;
	letter-spacing: 0;
	line-height: 23px;
	padding-bottom:30px
}

/*.topnav a:hover {
	border-bottom: 2px solid #D0021B;
}

.topnav a.active {
	border-bottom: 2px solid #D0021B;
	
}
.active {
	border-bottom: 2px solid #D0021B;}*/
.active-1{border-bottom: 4px solid #D0021B;}	
ul.topnav{float:left;list-style: none;margin-bottom:0px;}
ul.topnav li{float:left;margin-left: 20px;}
.accountlist:before {	
	height: 350px;
	width: 4px;
	background: #fff;
	content: "";
	position: absolute;
	left: 30px;
}

li.future-listing {
	position: relative;
}

li.future-listing:before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #DF323F;
	position: absolute;
	border-radius: 50%;
	left: -31px;
	top: 2px;
	border: 5px solid #fff;
	color: #DF323F;
	z-index: 99999999;
}
li.listing {
	position: relative;
}

li.listing:before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #35818A;
	position: absolute;
	border-radius: 50%;
	left: -31px;
	top: 2px;
	border: 5px solid #fff;
	color: #000;
	z-index: 99999999;
}
li.stepTwo {
	position: relative;
}
li.stepTwo:before {
    content: " 2 ";
    width: 24px;
    height: 24px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: -33px;
    top: 2px;
    border: 5px solid #fff;
    color: #DF323F;
    z-index: 99999999;
    font-size: 19px;
    line-height: 14px;
    font-family: campton-bold;
}
/* Business Details ends*/

/* Business Info starts */

.BillingleftArea {
	height: 100%;
	background-color: #F4F7FA;
	overflow: hidden;
	padding-top: 65px;
}
.radioLabel {
	font-size: 12px;
	font-family: campton-bold;
	color: #5d5d5d;
	margin-top: 8px;
}

.radioLabels {
	font-size: 14px;
	font-family: campton-book!important;
	color: #5d5d5d!important;
	margin-top: 8px!important;
	font-size: 14px!important;
}

.previosnmailsec {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 4% 2% 5% 2%;
}



.Billingaccountlist:before {	
	height: 350px;
	width: 4px;
	background: #fff;
	content: "";
	position: absolute;
	left: 30px;
}

li.future-listing {
	position: relative;
}

li.future-listing:before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #DF323F;
	position: absolute;
	border-radius: 50%;
	left: -31px;
	top: 2px;
	border: 5px solid #fff;
	color: #DF323F;
	z-index: 99999999;
}
li.Billlisting {
	position: relative;
}

li.Billlisting:before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #35818A;
	position: absolute;
	border-radius: 50%;
	left: -31px;
	top: 2px;
	border: 5px solid #fff;
	color: #000;
	z-index: 99999999;
}
li.stepThree {
	position: relative;
}
li.stepThree:before {
    content: " 3 ";
    width: 24px;
    height: 24px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: -33px;
    top: 2px;
    border: 5px solid #fff;
    color: #DF323F;
    z-index: 99999999;
    font-size: 19px;
    line-height: 14px;
    font-family: campton-bold;
}
.highlighted{background: white;
    color: #DF323F!important;
    border-radius: 20px;
    width: 205px;
    padding-left: 6px;
}
/* Shipping location css starts */
.ShippingleftArea {
	height: 100%;
	background-color: #F4F7FA;
	overflow: hidden;
	padding-top: 65px;
}
ul.Shippingaccountlist {
	list-style: none;
}

ul.accountslist {
	list-style: none;
	margin-left: -41px;
	margin-top: 20px;
}

.Shippingaccountlist li {
	font-size: 20px;
	font-family: campton-bold;
	color: #5C707C;
	margin-bottom: 30px;
}

.accountslist li {
	font-size: 14px;
	font-family: campton-medium;
	color: #5C707C;
	margin-bottom: 15px;
}
.shippingformContent {
	margin-left: 2%;
}

.shippingformContent input[type=text] {
	padding: 6px 15px;
	min-height: 40px;
	border-radius: 25px;
	box-sizing: border-box;
	border: 0px;
	background-color: #F4F7FA;
	margin-bottom: 7px;
	font-size: 14px;
	font-family: campton-book;
	color: #5C707C;
	/* width: 220px; */
	box-shadow:none;
}

.shippingformContent label {
	color: #5D5D5D;
	font-family: campton-bold;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px;
	margin-bottom: 3%;
	margin-right: 5%;
	text-transform: none!important;
}

.radioLabels {
	font-size: 14px;
	font-family: campton-book!important;
	color: #5d5d5d!important;
	margin-top: 8px!important;
	font-size: 14px!important;
}

.previoushipping {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 8% 2% 5% 2%;
}

.skiptext {
    font-family: campton-semibold;
    font-size: 14px!important;
    color: #5C707C;
    position: absolute;
    left: 80%;
    bottom: 20px;
    top: 70px;
    padding-left: 7px;
}

	
	a.skiplink,a.skiplink:hover{font-family: campton-semibold;
		color:#5d5d5d!important;
		font-size: 14px;}
.Addbutton {
    color: #5C707C!important;
    margin-bottom: 40px;
    margin-right: 6%;
    background-color: #FFFFFF!important;
    border-color: #DF323F!important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-family: campton-semibold;
    line-height: 1.42857;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    padding: 10.5px 22px;
    border-radius: 23px!important;
    text-transform: none!important;
}

.Shippingaccountlist:before {	
	height: 350px;
	width: 4px;
	background: #fff;
	content: "";
	position: absolute;
	left: 30px;
}

li.future-listing {
	position: relative;
}

li.future-listing:before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #DF323F;
	position: absolute;
	border-radius: 50%;
	left: -31px;
	top: 2px;
	border: 5px solid #fff;
	color: #DF323F;
	z-index: 99999999;
}
li.Shippinglisting {
	position: relative;
}

li.Shippinglisting:before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #35818A;
	position: absolute;
	border-radius: 50%;
	left: -31px;
	top: 2px;
	border: 5px solid #fff;
	color: #000;
	z-index: 99999999;
}
li.stepThree {
	position: relative;
}
li.stepThree:before {
    content: " 3 ";
    width: 24px;
    height: 24px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: -33px;
    top: 2px;
    border: 5px solid #fff;
    color: #DF323F;
    z-index: 99999999;
    font-size: 19px;
    line-height: 14px;
    font-family: campton-bold;
}
.highlighted{background: white;
    color: #DF323F!important;
    border-radius: 20px;
    width: 205px;
    padding-left: 6px;
}
/* Review and confirm css starts */

.ReviewleftArea {
	height: 100%;
	background-color: #F4F7FA;
	overflow: hidden;
	padding-top: 65px;
}

ul.Reviewaccountlist {
	list-style: none;
}


.Reviewaccountlist li {
	font-size: 20px;
	font-family: campton-bold;
	color: #5C707C;
	margin-bottom: 30px;
}

.padLeft30 {
	padding-left: 30px;
}

.padBottom50 {
	padding-bottom: 50px;
}

.reviewHeader {
	font-size: 14px;
	font-family: campton-bold;
	color: #5C6E7C;
	margin-bottom: 10px;
	text-transform: none!important;
}

.editlink a,.editlink a:hover {
	font-family: campton-semibold;
	color: #DF323F;
	font-size: 14px;
	text-transform: none!important;
}

.Reviewaccountlist:before {
	/* list-style: none; */
	height: 350px;
	width: 4px;
	background: #fff;
	content: "";
	position: absolute;
	left: 30px;
}

li.Reviewlisting {
	position: relative;
}

li.Reviewlisting:before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #35818A;
	position: absolute;
	border-radius: 50%;
	left: -31px;
	top: 2px;
	border: 5px solid #fff;
	color: #000;
	z-index: 99999999;
}
li.stepFour {
	position: relative;
}
li.stepFour:before {
    content: " 4 ";
    width: 24px;
    height: 24px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: -33px;
    top: 2px;
    border: 5px solid #fff;
    color: #DF323F;
    z-index: 99999999;
    font-size: 19px;
    line-height: 14px;
    font-family: campton-bold;
}


.reviewsubheading {
	font-size: 12px!important;
	color: #5C707C;
	font-family: campton-bold;
	text-transform: none!important;
	margin-bottom:0px;
}

#success_message{ display: none;}
.help-block{
	font-family: campton-semibold;
	color: #DF323F!important;
	font-size: 14px!important;}
a.tablinks{
	color: #5C707C;
	
    text-decoration: none;
}




a:hover{cursor: pointer;}
.active-img{display:block;}
.office-icon .img-no{display:none;}
.prevStepbtn:hover{cursor: pointer;}
.tab-section{display:none;}
.active-section{display: block;}

li.stepThree {
	position: relative;
}
li.stepThree:before {
    content: " 3 ";
    width: 24px;
    height: 24px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: -33px;
    top: 2px;
    border: 5px solid #fff;
    color: #DF323F;
    z-index: 99999999;
    font-size: 19px;
    line-height: 14px;
    font-family: campton-bold;
}

li.stepFour {
	position: relative;
}
li.stepFour:before {
    content: " 4 ";
    width: 24px;
    height: 24px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    left: -33px;
    top: 2px;
    border: 5px solid #fff;
    color: #DF323F;
    z-index: 99999999;
    font-size: 19px;
    line-height: 14px;
    font-family: campton-bold;
}


li.listing-pending {
	position: relative;
}

li.listing-pending:before {
	content: " ";
	width: 18px;
	height: 18px;
	background: #D0021B;
	position: absolute;
	border-radius: 50%;
	left: -31px;
	top: 2px;
	border: 5px solid #fff;
	color: #000;
	z-index: 99999999;
}

.sub-active{background: #fff;
    padding: 5px 10px;
    border-radius: 100px;
	color: red !important;}
	
	.removebutton {
		color: #5C707C;
		
		margin-right: 6%;
		background-color: #FFFFFF!important;
		border-color: #DF323F;
		display: inline-block;
		margin-bottom: 10px;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		white-space: nowrap;
		font-size: 14px;
		font-family: campton-semibold;
		line-height: 1.42857;
		user-select: none;
		border-width: 1px;
		border-style: solid;
		padding: 10.5px 22px;
		border-radius: 23px!important;
		text-transform: none!important;
	}	

	textarea:focus, input:focus{
		outline: none;
	}	

	.add-shipping{overflow: hidden;}
	
	button[type="submit"]:disabled {
		pointer-events: none;
		opacity: 0.6;
	  }

	.no-show-removeButton{display: none;}
	.businessformContent input[type=email] {
		padding: 6px 15px;
		min-height: 40px;
		border-radius: 25px;
		box-sizing: border-box;
		border: 0px;
		background-color: #F4F7FA;
		margin-bottom: 7px;
		font-size: 14px;
		font-family: campton-book;
		color: #5C707C;
		box-shadow: none;
		
	}
	.skiptextmar{position: relative;
		top: 34px;}

		.shippingprevios{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 6% 2% 11% 2%;
		}

		/* New design classes added */
		.regfeilds{display:inline-block;float:left;}
		.fieldmarright{margin-right: 106px;}
		.fieldsmargin-2{margin-right: 50px;}
		.fieldsmargin-3{margin-right: 80px;}
		.fieldsmargin-4{margin-right: 75px;}
		.fieldsmargin-5{margin-right: 45px;}
		.reginfotext{color: #606060;
			font-family: campton-book;
			font-size: 12px;}
		.fieldmar{margin-bottom: 8px!important;}
		.input-1{width: 114%;}
		.input-2{width: 115%!important;} 
		.input-3{width: 129%!important;}   
		.input-4{width: 50%;}
		
		.trading-dropdown {
            display: block;
            width: 100%;
            height: 43px;
            padding: 6px 12px;
            font-size: 14px;
            font-family: campton-book;
            color: #5C707C;
            border-radius: 25px;
            box-sizing: border-box;
            border: 1px solid #5C707C;
            font-weight:bold;
            position: relative;
              }
		.select-dropdowns {
			display: block;                                    
            height: 43px;
            padding: 6px 12px;
            font-size: 14px;
            font-family: campton-book;
            color: #5C707C;
            border-radius: 25px;
            box-sizing: border-box;
            border: 1px solid #5C707C;
            font-weight:bold;
            width: 100%;
		}
		.pull-top{margin-top: 20px;}
		.shippingformContent input[type=email] {
			padding: 6px 15px;
            min-height: 40px;
            border-radius: 25px;
            box-sizing: border-box;
            border: 0px;
            background-color: #F4F7FA;
            margin-bottom: 7px;
            font-size: 14px;
            font-family: campton-book;
            color: #5C707C;
            /*width: 220px;*/
            box-shadow:none;
			
		}
		.star-text{color:#F4F7FA;text-align: center;font-size: 10px;font-family :campton-bold;
			margin-bottom: 30px;}
			
.noShow
{
visibility:hidden;
}

button[type="button"]:disabled {
pointer-events: none;
	opacity: 0.6;}
.no-click{pointer-events: none;}	
		
		.dotted-horizontal {
    background: url(../images/dotted.png) 0 0 repeat-x;
    width: 95%;
    height: 29px;
   margin: 1% 0 6% 0;
}
.errortextwidth{width: 231px!important;}
.btn-default[disabled]:hover{color:#ccc;}

.fieldsmargin-8 {
    margin-right: 108px;
}
.footer-anchorlink {
    color: #71838d;
    font-family: campton-bold;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    }
 .input-group-addon {
                border-radius: 25px 0 0 25px!important;
                background-color: #f4f7fa!important;
                color: #5c707c!important;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
                border: none;
            }	
.NextbuttonSubmit, .subntn {
                color: #fff;
                margin-bottom: 15px;
                margin-right: 6%;
                background-color: #df323f!important;
                border-color: #df323f;
                display: inline-block;
                margin-bottom: 0;
                text-align: center;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                background-image: none;
                white-space: nowrap;
                font-size: 16px;
                font-family: campton-bold;
                line-height: 1.42857;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border: 1px solid transparent;
                border-image: initial;
                padding: 10.5px 48px;
                border-radius: 23px;
            }
            [hidden], template {
                display: none!important;
            }         
            
    .billingicon{width:130px;}  
    .marRight80{margin-right:80px;} 
    .width104{width:104%!important;}  
    
 .Nextbutton_without_validation {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    margin-right: 6%;
    background-color: #DF323F!important;
    border-color: #DF323F;
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 16px;
    font-family: campton-bold;
    line-height: 1.42857;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 10.5px 48px;
    border-radius: 23px;
}

.Nextbutton5 {
  color: #ffffff;
  margin-bottom: 15px;
  margin-right: 6%;
  background-color: #DF323F!important;
  border-color: #DF323F;
  display: inline-block;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: campton-bold;
  line-height: 1.42857;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 10.5px 58px;
  border-radius: 23px;
}

.NextbuttonAccount {
  color: #ffffff;
  margin-bottom: 15px;
  margin-right: 6%;
  background-color: #DF323F!important;
  border-color: #DF323F;
  display: inline-block;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: campton-bold;
  line-height: 1.42857;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 10.5px 58px;
  border-radius: 23px;
}
.no-show-ship{display:none;}       
.reviewPara {
                font-size: 14px;
                font-family: campton-book;
                color: #5D5D5D;
                font-weight: normal!important;
                word-break: break-word;
                text-transform:none;
}
.reviewcolumns {
                float: left;
                display: inline;
                margin-right: 0;
}
.review-margin-15{
   margin: 15px 0;              
}

button:disabled {
	pointer-events: none;opacity: 0.6;
}

#emailerr,#message {
    font-family: campton-semibold;
    color: #DF323F!important;
    font-size: 14px!important;
}

.Nextbutton2 {
  color: #ffffff;
  margin-bottom: 15px;
  margin-right: 6%;
  background-color: #DF323F!important;
  border-color: #DF323F;
  display: inline-block;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: campton-bold;
  line-height: 1.42857;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 10.5px 58px;
  border-radius: 23px;
}
.Nextbutton3 {
  color: #ffffff;
  margin-bottom: 15px;
  margin-right: 6%;
  background-color: #DF323F!important;
  border-color: #DF323F;
  display: inline-block;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 16px;
  font-family: campton-bold;
  line-height: 1.42857;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 10.5px 58px;
  border-radius: 23px;
}
/* fallback for  IE11 */
input[type="radio"]:checked::-ms-check {
	border: 2px solid red;
    color: red;
    opacity: 1;

}

.form-control:-ms-input-placeholder {
	color: #ccc !important;
  }

.reviewPara label{ margin-bottom:0px;}  

.dropdown-content{z-index: 9999;}

.showmodel-abdonod-popup .modal-content{border-radius: 10px;}
.showmodel-abdonod-popup .btn{text-transform: capitalize; border-radius: 8px !important;}
.showmodel-abdonod-popup .btn:hover{
color: #fff !important;
background-color: #ee3a43 !important;
}

 
.page-register .showmodel-abdonod-popup .modal-content {
    background-color: #fefefe !important;
    padding: 15px 25px !important;
    border: 1px solid #888 !important;
    width: 40%!important;
    text-align: center !important;
    border-radius: 10px !important;
}
