@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.padding-B30{
    padding-bottom: 30px;
}
.padding-T30{
    padding-top: 30px;
}
/* css for logout page*/
.cookiePolicyLogout{
    margin-bottom: 50px;
}
.cookiePolicyLogout_left_header{
    padding: 37px 0px 50px 40px;
    font-family: 'Campton-Bold';
    font-size: 50px;
    line-height: 60px;
    color: #DF323F;
}
.cookiePolicyLogout_leftside,.cookiePolicyLogout_rightside{
    padding: 25px 35px;
}
.cookiePolicyLogout_leftText1{
    font-family: 'Campton-Medium';
    font-size: 22px;
    line-height: 32px;
    color: #5C6F7B;
    padding-bottom: 25px;
}
.cookiePolicyLogout_label{
    font-family: 'Campton-Medium';
    font-size: 22px;
    line-height: 32px;
    color: #5C6F7B;
    padding-bottom: 25px;
    margin-left: 55px;
    
}
.cookiePolicyLogout_leftText2{
    font-family: 'Campton-Bold';
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
    color: #5D5D5D;
}

.cookiePolicyLogout_text1{
    font-size: 14px;
    color: #5D5D5D;
    font-family: 'Campton-Book';
    line-height: 18px;
}
.cookiePolicyLogoutBtn{
    width: 188px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Campton-Bold';
    float: left;
    margin-top: 60px;
    outline: none !important;
    font-size: 16px;
    border-radius: 30px;
}
.cookiePolicyLogoutBtn.inactive{
    background-color: #DF323F;
    color: #FFFFFF;
    cursor: default;
}
.cookiePolicyLogoutBtn.active{
    background-color: #DF323F;
    color: #FFFFFF !important;
    cursor: pointer;
}
.cookiePolicyLogout_leftText {
    padding: 50px 70px;
    box-shadow: -2px 11px 20px 0 #91aab2;
    height: 380px;
}
.cookiePolicyLogout_rightSubpart{
    padding: 50px 93px;
    float: right;
    box-shadow: -2px 11px 20px 0 #91aab2;
    height: 380px;
}

.cookiePolicyLogout_leftText label{
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Campton-Book';
    font-size: 14px;
    color: #5D5D5D;
    text-transform: capitalize;
}
.cookiePolicyLogout_leftText input[type='radio']:checked:after {
    color: #555555;
}
/* radio btn code*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.cookiePolicyLogout_leftText .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0px;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    /*background-color: #eee;*/
    border-radius: 50%;
    border: 1px solid #5C707C;
    cursor: pointer;
    margin-top: 3px;
}

/* When the radio button is checked, add a blue background */
.cookiePolicyLogout_leftText .container input:checked ~ .checkmark {
    background-color: #555555;
    cursor: default;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.cookiePolicyLogout_leftText .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.cookiePolicyLogout_leftText .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.cookiePolicyLogout_lowerText1{
    font-family: 'Campton-Medium';
    font-size: 22px;
    line-height: 32px;
    color: #5C6F7B;
}
.cookiePolicyLogout_lowerLayout{
    padding: 50px 93px;
    box-shadow: -2px 11px 20px 0 #91aab2;
    
}
.cookiePolicyLogout_lowerText2, .cookiePolicyLogout_lowerText4, .cookiePolicyLogout_lowerText6{
    font-family: 'Campton-Bold';
    font-size: 20px;
    line-height: 18px;
    color: #5C6F7B;
}
.cookiePolicyLogout_lowerText3, .cookiePolicyLogout_lowerText5, .cookiePolicyLogout_lowerText7{
    font-family: 'Campton-Book';
    font-size: 14px;
    line-height: 18px;
    color: #5D5D5D;
}
.cookiePolicyLogout_tableLayout{
    padding: 40px 35px;
}
.cookiePolicyLogout_table{
    border: 1px solid #5C6E7C;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;
}
.cookiePolicyLogout_table td {
    border: 1px solid #5C6E7C;
    text-align: left;
    padding: 15px;
}
.cookiePolicyLogout_table th{
    border: 1px solid #5C6E7C;
    text-align: center;
    padding: 8px;
    text-transform: capitalize;
    background-color: #FFF !important;
    font-family: 'Campton-Bold';
} 
@media only screen and (max-width:991px){
    .cookiePolicyLogout{
        border: none;
    }
    .cookiePolicyLogout_label{
        padding-bottom: 0px !important;
    }
    .cookiePolicyLogout_text1 {
        padding-bottom: 15px !important;
        margin-top: 15px;
        line-height: 24px;
    }
    .cookiePolicyLogout_label div:first-child,.cookiePolicyLogout_label div:last-child{
        float: none;
    }
    .cookiePolicyLogout_left_header {
        float: none;
    }
    .cookiePolicyLogout_leftText1{
        text-align: center;
    }
    .cookiePolicyLogout_leftText2{
        margin-top: 24px;
        text-align: center;
    }
    .cookiePolicyLogoutBtn{
        float: none;
        margin: 30px auto;
    }
    .cookiePolicyLogout_rightside{
        padding: 0px 0px 0px 0px !important;
    }
    .cookiePolicyLogout_leftside{
        padding: 25px 0px;
    }
    .cookiePolicyLogout_rightSubpart {
        border: none;
        padding: 25px;
        padding-bottom: 50px;
        text-align: center;
        box-shadow: none;
    }
    .cookiePolicyLogout_tableLayout {
        padding: 25px 20px;
        text-align: center;
    }
    .cookiePolicyLogout_leftText{
        font-size: 16px;
        border: none;
        padding: 15px;
        box-shadow: none;
    }
    .cookiePolicyLogout_lowerLayout {
        box-shadow: none;
        padding: 20px 0px;
    }
}
@media only screen and (max-width:1024px){
    .cookiePolicyLogout_rightSubpart{
        padding: 50px 26px;
    }
}
/*Cookie banner css*/
.cookieBannerLeft{
    padding: 15px 0px;
    font-family: 'Campton-Book';
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 50px;
}
.cookieBannerBtn{
    width: 192px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    font-family: 'Campton-Bold';
    float: left;
    outline: none !important;
    font-size: 16px;
    border-radius: 30px;
    line-height: 21px;
    margin-left: 170px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.cookieBannerBtn.inactive{
    background-color: transparent;
    color: #FFFFFF;
    cursor: default;
}
.cookieBannerBtn.active{
    background-color: transparent;
    color: #FFFFFF !important;
    cursor: pointer;
}
.margin-B20{
    margin-bottom: 20px;
}
.cookieBannerText3{
    font-family: 'Campton-Bold';
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 205px;
    float: left;
    padding-bottom: 40px;
}

.cookieBannerRight a, .cookieBannerRight a:focus, .cookieBannerRight a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.cookieBannerText2 span{
    font-family: 'Campton-SemiBold';
}
@media only screen and (max-width:991px){
    .cookieBannerBtn{
        margin: 0px auto;
        float: none;
    }
    .cookieBanner{
        background-color: #35818A;
    }
    .cookieBannerText3{
        margin: 20px auto;
        float: none;
        justify-content: center;
        display: flex;
    }
}
.cookieBannerText2 a{
font-family: 'Campton-SemiBold';
color: #FFFFFF;
text-decoration: underline;
}
table th:last-child {
     text-align: center; 
}

td:nth-child(odd){
background-color: #FFF !important;
}
th:first-child{
background-color: #FFF !important;
}
.cookiePolicyLogout_table a{
color:#DF323F;
font-family: campton-bold;
}
.cookiePolicyLogout_table table td{
word-break: keep-all !important;
}
.cookiePolicyLogout_table table th{
word-break: break-all !important;
}



.cookie_banner{
    position: fixed;
    bottom: 0;
    margin: 0;
    height: calc(100% - 60%);
    width: 100%;
    z-index: 2000;
    top: 60%;
}
.cookie_banner .box{
    margin: 0px;
}
.cookie_banner .cookie-content{
    background: #35818A;
    position: absolute;
    bottom: 0;
    color: #fff;
}
.cookie_banner .cookie_box-body{
    width: 96%;
    padding: 40px;
    float: left;
}
.bannerClose{
    margin-top: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Campton-Bold';
    float: right;
    width: 3%;
}

/* External Link Popup Code Start*/
.externalLinkPopup{
    display: none;
}
.externalLinkPopup .modal-content {
    background-color: #fefefe !important;
    border: 1px solid #888 !important;
    width: 50%!important;
    text-align: center !important;
    border-radius: 10px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.externalLinkPopup .contentParent{
    padding: 30px 60px !important;
}
.externalPopHeader{
    font-family: campton-medium;
    margin: 10px;
    font-size: 22px;
    line-height: 32px;
    color: #5C6F7B;
}
.externalPoppara {
    font-size: 14px;
    font-family: campton-book;
    color: #5d5d5d;
    margin-bottom: 40px;
    line-height: 18px;
    margin-top: 20px;
}
.stay, .continue {
    color: #DF323F;
    font-size: 15px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    font-family: campton-semibold;
    line-height: 18px;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 10.5px 15px;
    border-radius: 23px;
    background-color: #fff;
    float: left;
}
.externalPopCloseBtn{
    float: right;
    margin: 10px;
    color: #5C6F7B;
    font-family: campton-bold;
    cursor: pointer;
}
.externalPopbtnParent{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.continueBtnParent{
    float: left;
}
.continueBtnParent .active{
    background-color: #DF323F;
    color: #fff !important;
    font-size: 16px;
    line-height: 21px;
}
.continueImg{
    background: url(../images/white_arrow.png) no-repeat;
    height: 24px;
    width: 24px;
    background-size: contain;
    display: inline-block;
    position: relative;
    float: right;
}
/* External Link Popup Code End*/

