.pageHeader {
    color: #DF323F;
    font-family: campton-bold;
    font-size: 45px;
    letter-spacing: -0.1px;
    line-height: 60px;
    margin: 2% 3%;
}

.loginleftimage {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 234% !important;
}

.leftimagecontainer {
margin:0;
padding:0;
}

.leftHeader {
    color: #FFFFFF;
    font-family: campton-bold;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 5%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.leftsubHeader {
    color: #FFFFFF;
    font-family: campton-medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.leftcontentArea{
overflow: hidden;
}
.leftcontentArea .banner__component img{
width: 100% !important;
}