.errorsbreadcrumb {
	padding: 21px 17px;
	margin-bottom: 20px;
	list-style: none;
	background: none;
	border-radius: 4px;
	font-family: campton-book;
}

.errorsbreadcrumb>li {
	display: inline-block;
}

.errorsbreadcrumb-item a {
	color: #DF323F!important;
	text-decoration: none;
	font-size: 14px;
}

.errorsbreadcrumb>li+li:before {
	padding: 0 5px;
	color: #5C6E7C;
	content: "/\00a0";
}

.errorbody-section {	
    background-color: #FFFFFF;
}

.errorspageHeader {
	color: #DF323F;
	font-family: campton-bold;
	font-size: 50px;
	letter-spacing: -0.1px;
	line-height: 60px;
	margin: 1% 2% 3% 1%;
	text-transform: uppercase;
}

.productspadLeft60 {
	padding-left: 60px!important;
}


.errorheading-txt {
	FONT-FAMILY: "CAMPTON-BOOK";
	font-size: 22px;
	color: #5C6E7C;
	font-weight: bold;
	line-height: 30px;
	margin-left: 1%;
}

.erorrblock{
	text-align: center;
}
.rederorround-btn {
    background-color: #ee3a43!important;
    color: #fff;
    margin-bottom: 15px;
    border-color: #ee3a43;
}
.errorbttn {
    border-width: 2px;
    transition: all .3s linear;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10.5px 33px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 35px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    font-family: campton-book;
}
.button-section {
    margin-top: 30px;
    text-align: center;
}
.marbot170{
	margin-bottom: 170px;
	margin-top: 30px;
}
.abdnHeader, .abdnlink {
    font-family: campton-medium;
    margin: 10px;
}
.abdnHeader {
    font-size: 22px;
    color: #5c6e7c;
}
.abdnpara{
	font-size:14px;
	font-family:campton-book;
	color:#5d5d5d;
	margin-bottom: 40px;
}
.abdnmargn{
	margin-bottom:30px;
}
.abdnlink, .confirmreg {
    color: #ee3a43;
    font-size: 15px;
    cursor: pointer;
    margin-top: 28px;
display: inline-block;
margin-bottom: 0px;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
white-space: nowrap;
font-size: 16px;
font-family: campton-bold;
line-height: 1.42857;
user-select: none;
border-width: 1px;
border-style: solid;
border-color: transparent;
border-image: initial;
padding: 10.5px 36px;
border-radius: 23px;
background-color: #fff;
}
.showmodel-abdonod-popup.modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    background-color: rgba(0,0,0,.4);
}
.showmodel-abdonod-popup .modal-content {
    background-color: #fefefe;
    padding: 40px;
    border: 1px solid #888;
    width: 50%!important;
    text-align: center;
    border-radius:21px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.showmodel-abdonod-popup .btn-default .badge, .btn-primary {
    color: #fff;
    background-color: #ee3a43;
}

.showmodel-abdonod-popup .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7.5px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.errorbttntxt, a.errorbttntxt:hover{
	color:#fff!important;
}

.errorpadLeft75 {
	padding-left: 75px!important;
} 

/*.confirmreg {

  color: rgb(255, 255, 255);

  margin-bottom: 15px;

  margin-right: 6%;

  background-color: #DF323F!important;

  border-color: #DF323F;

  display: inline-block;

  margin-bottom: 0px;

  text-align: center;

  vertical-align: middle;

  touch-action: manipulation;

  cursor: pointer;

  background-image: none;

  white-space: nowrap;

  font-size: 16px;

  font-family: campton-bold;

  line-height: 1.42857;

  user-select: none;

  border-width: 1px;

  border-style: solid;

  border-color: transparent;

  border-image: initial;

  padding: 10.5px 36px;

  border-radius: 23px;

  margin-left: 13px;

}*/
.abdnlink:hover, .confirmreg:hover{
color: #ffffff;
background-color: #DF323F !important;
border-color: #DF323F;
}
.confirmreg.active{
	color: #ffffff !important;
margin-right: 6%;
background-color: #DF323F !important;
border-color: #DF323F;
    font-size: 15px;
    cursor: pointer;
    margin-top: 28px;
    margin-left: -4px;
display: inline-block;
margin-bottom: 0px;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
white-space: nowrap;
font-size: 16px;
font-family: campton-bold;
line-height: 1.42857;
user-select: none;
border-width: 1px;
border-style: solid;
border-color: transparent;
border-image: initial;
padding: 10.5px 36px;
border-radius: 23px;
margin-left: 13px;
}