.faqsbody-section {
    background-color: #F4F7FA;
}

.faqleftcolumn {
    background: #fff;
    padding: 5% 5%;
    margin-right:30px;
}
ul.faqslist{
    list-style: none;
    font-size: 20px;
    font-family: campton-book;
    margin-left: -32px;
    color: #5C6E7C;
    font-weight: 600;
}
li.faglists{padding:10px;} 
.faqheading-txt {
    FONT-FAMILY: "CAMPTON-Bold";
    font-size: 30px;
    color: #5C6E7C;
    font-weight: bold;
    line-height: 30px;
    margin-bottom:20px;
}
.selectedsign {
    color: #ed3841;
    margin-right: 7px;
    margin-left: -15px;
}
.sidemenuselected{
    color: #ed3841;
}
.faqheader {
    color: #DF323F;
    margin-left: 14px;
    line-height: 58px;
    font-size: 50px;
    font-family: campton-bold;
}
.faq-body {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 2%;
}
.supportfaqwhite-background {
    background: #fff;
    padding: 5% 5%;
}

.supportfaqwhite-background {
    background: #fff;
    padding: 5% 5%;
    margin-bottom: 102px;
}

.supportbreadcrumb {
    padding: 21px 17px;
    margin-bottom: 20px;
    list-style: none;   
    border-radius: 4px;
    font-family: campton-book;
}
.supportbreadcrumb>li {
    display: inline-block;
}
.active {
    color: #DF323F!important;
}
.supportbreadcrumb-item a {
    color: #DF323F!important;
    text-decoration: none;
    font-size: 14px;
}
.supportbreadcrumb>li+li:before {
    padding: 0 5px;
    color: #5C6E7C;
    content: "/\00a0";
}
.login-link {
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 15px;
    color: #DF323F;
    padding: 0px 30px 0px 0px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
}
.faqheading{font-size:14px;font-family: campton-bold;margin-bottom: 10px;color:#5C6E7C;}
.faqsubpara{font-size:14px;font-family:campton-book;color:#5C6E7C;}
.marBottom30 {
    margin-bottom: 15px;
}.footernavigation-1 {
    margin-top: 4%;
}
a.faqlinks{color:#5C6E7C;text-decoration: none;}
a.faqlinks:hover{color: #ed3841;;text-decoration: none;}
.sublinks-active {
       
    color: #ed3841 !important;
}
.sublinks-active:before {
    content: ' \02C3';
    padding-right: 6px;
    margin-left: -19px;
}

.supportfaqwhite-background1 {
    background: #fff;
    padding: 5% 5%;
    margin-bottom: 102px;
}
