.invoicebreadcrumb {
	padding: 21px 17px;
	margin-bottom: 20px;
	list-style: none;
	background: none;
	border-radius: 4px;
	font-family: campton-book;
}

.invoicebreadcrumb>li {
	display: inline-block;
}

.invoicebreadcrumb-item a {
	color: #DF323F!important;
	text-decoration: none;
	font-size: 14px;
}

.invoicebreadcrumb>li+li:before {
	padding: 0 5px;
	color: #5C6E7C;
	content: "/\00a0";
}

.invoicepageHeader {
	color: #DF323F;
	font-family: campton-bold;
	font-size: 50px;
	letter-spacing: -0.1px;
}

.invoicepagesubHeader1 {
	color: #5C6E7C;
	font-family: campton-medium;
	font-size: 22px;
}

.invoicepagesubHeader2 {
	color: #5C6E7C;
	font-family: campton-bold;
	font-size: 20px;
}

.invoicepadLeft46 {
	padding-left: 46px!important;
}

.invoicepadLeft31 {
	padding-left: 17px!important;
}

.invoice-body {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 2%;
}

.invoice-body .no-pad {
	margin-bottom: 2%;
}

.invoice-body .no-pad {
	padding-left: 0px;
	padding-right: 0px;
}

.invoiceheading-txt {
	FONT-FAMILY: "CAMPTON-BOOK";
	font-size: 22px;
	color: #5C6E7C;
	font-weight: bold;
	line-height: 30px;
	margin-bottom:15px;
}

.invoiceblue-back {
	background-color: #F4F7FA;
	padding-bottom: 20px;
	padding-top: 66px!important;
	padding-left: 1px;
}

.invoicebody-section {
	background-color: #F4F7FA;
	padding: 0 5%;
}

.invoice-body {
	margin: 0% 2%;
}
.invoicebllkfirst{
	margin-bottom:10%;
	margin-left: 15px;
}
.invoicewhite-cotte {
	overflow: hidden;
	background: #fff;
}

.invoicebody-txt {
	font-size: 14px;
	color: #5C6E7C;
	font-family: "campton-book";
	line-height: 22px;
	word-break: break-all;
	text-align: left !important;
}

.white-background-invoice-consent {
	padding: 4% !important;
}

.white-background-invoice {
	background: #fff;
	padding: 3% 4%;
	overflow: hidden;
}

.portalbody-txt a {
	color: #DF323F;
}

table.invoiceagreement {
	border-collapse: separate;
	border-spacing: 0;
	min-width: 100%;
	text-align: center;
	color: #5C6E7C;
	font-family: campton-book;
}

table.invoiceagreement tr th,
table.invoiceagreement tr td {
	border-right: 1px solid #CFD8E1;
	border-bottom: 1px solid #CFD8E1;
	padding: 20px 10px;
	font-size: 14px;
	color: #5d5d5d;
	font-family: campton-medium;
	word-break: keep-all !important;
}

table.invoiceagreement tr th:first-child,
table.invoiceagreement tr td:first-child {
	border-left: 1px solid #CFD8E1;
	 width:211px;
}

table.invoiceagreement tr th {
	border-top: 1px solid #CFD8E1;
	text-align: center;
	font-family: campton-bold;
}

table.invoiceagreement tr td:nth-child(2) {    
    width:235px;
}

table.invoiceagreement tr td:nth-child(odd) {
	background-color: #F4F7FA;
}

table.invoiceagreement tr th:nth-child(odd) {
	background-color: #F4F7FA;
}

table.invoiceagreement tr:first-child th:nth-child(3) {
	background-color: #F4F7FA;
}


/* top-left border-radius */

table.invoiceagreement tr:first-child th:first-child {
	border-top-left-radius: 32px;
	background-color: #F4F7FA;
}


/* top-right border-radius */

table.invoiceagreement tr:first-child th:last-child {
	border-top-right-radius: 32px;
}


/* bottom-left border-radius */

table.invoiceagreement tr:last-child td:first-child {
	border-bottom-left-radius: 32px;
}


/* bottom-right border-radius */

table.invoiceagreement tr:last-child td:last-child {
	border-bottom-right-radius: 32px;
}

.invoiceredbutton {
	color: rgb(255, 255, 255);
	margin-bottom: 15px;
	background-color: #DF323F!important;
	border-color: #DF323F;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 16px;
	font-family: campton-bold;
	line-height: 1.42857;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 10.5px 28px;
	border-radius: 23px;
	margin-left: 13px;
}

.invoicewhitebutton {
	color: #DF323F;
	margin-bottom: 15px;
	background-color: #ffffff!important;
	border: 2px solid #DF323F!important;
	display: inline-block;
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 16px;
	font-family: campton-bold;
	line-height: 1.42857;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 10.5px 28px;
	border-radius: 23px;
	margin-left: 13px;
}

.rightAlignment {
	float: right;
	background: white;
	border-radius: 26px;
	padding: 8px 10px 8px 0px;
}

.invoicesection {
	background: #fff;
	margin-right: 10px;
	height: 208px;
	margin-top: 20px;
}

.tealbg {
	background-color: #35818A!important;
	text-align: center;
	padding: 61px;
}

.tealbgheader {
	font-size: 50px;
	color: #fff;
	font-family: campton-bold;
	line-height: 58px;
}

.tealbgsubheader {
	font-size: 20px;
	color: #fff;
	font-family: campton-bold;
}

.whiteboxbg {
	background-color: #ffffff!important;
	text-align: center;
	padding: 70px 10px;
}

.whiteboxbgheader {
	font-size: 32px;
	color: #5C6E7C;
	font-family: campton-bold;
}

.whiteboxbgsubheader {
	font-size: 14px;
	color: #555555;
	font-family: campton-bold;
}

.redsubtext {
	font-size: 14px;
	color: #DF323F;
	font-family: campton-semibold;
}

.nopadleftright {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.pulltopleft {
	margin-top: 30px;
	margin-left: 17px;
}

.invoiceboxheader {
	font-size: 14px;
	color: #5C6E7C;
	font-family: campton-bold;
}

.whitesubbox {
	background-color: #ffffff!important;
	text-align: center;
	padding: 20% 5%;
	margin-right: 10px;
	margin-top: 20px;
	min-height: 145px;
}

.whiteboxtext {
	color: #555555;
	font-size: 16px;
	font-family: campton-bold;
}

.whitesubboxs {
	background-color: #ffffff!important;
	text-align: center;
	margin-top: 20px;
}

.invoicegreybg {
	background: #CFD8E1;
	width: 50%;
	padding: 8% 2%;
    float: left;
    min-height: 145px;
    line-height: 20px;
    
}

.invoicewhitebg {
	background: #ffffff;
    float: left;
    width: 50%;
    padding: 6% 2%;
    min-height: 145px;
}

.whiteboxgreytext {
	color: #555555;
	font-size: 16px;
	font-family: campton-medium;
	text-align: left;
}

table.invoicetotal {
	border-collapse: separate;
	border-spacing: 0;
	color: #5C6E7C;
	font-family: campton-book;
	margin-left: -15px;
	min-width: 60%;	
}

.invoicelefttd {
	color: #555555;
	font-size: 14px;
	font-family: campton-medium;
}

.invoicerighttd {
	text-align: right;
	color: #555555;
	font-size: 14px;
	font-family: campton-bold;
}

.invoiceleft {
	text-align: left;
	color: #555555;
	font-size: 20px;
	font-family: campton-bold;
}

.invoiceright {
	color: #555555;
	font-size: 20px;
	font-family: campton-bold;
	text-align: right;
}

.totalhrline {
	color: #CFD8E1;
	height: 2px;
	margin-top: 10px!important;
    margin-bottom: 10px!important;

}

table.invoicetotal td {
	padding: 10px;
	background-color:#ffffff!important;
}

.nopadding {
	padding: 0px!important;
}

.totalinvoice {
	float: right;
	padding-left: 73px;
	padding-top: 30px;
}

a.invoicewhitebutton:focus, a.invoicewhitebutton:hover {
    color: #DF323F!important;
    text-decoration: none!important;
}

table.invoiceagreement th{
    text-transform: none!important;
}

table.invoiceagreement tr th{
    background-color: #ffffff;
    border-top: 1px solid #CFD8E1!important;
}
