/* -----Profile Page Css Starts------*/

.white-bg{
    background: #fff;
    border-radius: 100px;
    padding: 2% 3% 1% 3%;
    /*margin-top: 6%;*/
}
.lst-login{
    font-size: 14px;
    color: #5C6E7C;
    font-family: "campton-book";
    line-height: 30px;
    word-break: break-all;
    text-align: left !important;
    width: 40% !important;
}
.dashboard-heading-table td:nth-child(odd){
background:none !important;
}
.edit-company-details input:read-only{
background:#ccc;
}


.status_active{
    color: #fff;
    border-radius: 20px;
    border: 1px solid #3E818A;
    font-family: "campton-book";
    font-size: 12px;
    padding: 5px 10px;
    background: #5C6E7C;
}

.white-background-profile {
    background: #fff;
    padding: 8% 4% 2% 4%;
    overflow: hidden;
    position: relative;
}

.profile-field{
        font-size: 14px;
        font-family: campton-bold;
        color: #5C6E7C;
        margin-bottom: 10px;
        line-height: 20px;
        word-wrap: break-word;
}

#company_email_main em{
    font-size: 12px;
    font-family: campton-book;
    color: #5C6E7C;
}

.password-field{
    border:none;
}

.profile-lebel {
    font-size: 12px !important;
    font-family: campton-bold !important;
    color: #5D5D5D !important;
    margin-bottom: 5px !important;
}

.profile-lebel-big{
    font-size: 14px;
    font-family: campton-bold;
    color: #5D5D5D; 
}

.clearfix1{clear: both; height: 20px;}

.post_login .heading-txt-bold{ 
    FONT-FAMILY: "CAMPTON-BOLD";
    font-size: 22px;
    color: #5C6E7C;
    font-weight:bold;
    line-height: 30px;
    margin-bottom: 10px;
}

.profile-field-margin{margin-bottom: 20px;}
.profile-progress{
    color:#3E818A;
    border-radius: 25px;
    border:1px solid #ccc;
    font-family: "campton-book";
    font-size: 10px; 
    padding: 7px 17px;
    display: flex;
    width:197px;
    float:right;
}

.profile-progress .progress-circle{
    margin: 3px 0px 0px 18px;
    font-size: 6px !important;
    font-weight: bold;
    font-family: "campton-bold";
}

.margin-top-field{margin-top: 5px;}
.Addbutton_profile {
    color: #5C707C;
    background-color: #FFFFFF!important;
    border-color: #DF323F;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-family: campton-semibold;
    line-height: 1.42857;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    padding: 10.5px 22px;
    border-radius: 23px;
}

.button-disabled {
    
    background-color: #E6E6E6 !important;
    border: none !important;
    pointer-events: none;
}
.align-right-txt{text-align: right;}
.align-center-txt{text-align: center;}
.white-background-profile-consent{padding:4% !important;}
.body-txt {
    font-size: 13px;
    color: #5C6E7C;
    font-family: "campton-book";
    line-height: 22px;
    word-break: break-all;
    text-align: left !important;
}

.body-txt a{color: #DF323F;}
.profile-heading-width{width:40%;}
.add-ship-section, .add-bill-section, .add-pay-section, .add-inv-section, .profile-details-edit, .confirm-msg{display: none;}
.rounded-bg{background-color: #F4F7FA; border-radius: 20px; padding: 12px; margin-bottom: 15px;overflow:hidden;}
.confirm-msg{padding: 10% 5% !important;}
.confirm-txt{ 
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 22px;
    color: #5C6E7C;
    font-weight:bold;
    line-height: 30px;
}

@media only screen and (max-width: 768px)  {
 
    .align-right-txt{text-align: left !important;}
} 




.edit-company-details, .edit-email{display:none;}
.shippingformContent-profile input[type=password] {
    padding: 6px 12px;
    min-height: 40px;
    border-radius: 25px;
    box-sizing: border-box;
    border: 0px;
    background-color: #fff;
    margin-bottom: 20px;
    font-size: 13px;
    font-family: campton-book;
    color: #5C707C;
    width: 100%;
}

.greycolor input[type=password] {
    background-color: #F4F7FA !important;
    margin-bottom: 0px !important;
}

.coverCircle
{
    background-color: #f4f7fa;
    padding: 5px !important;
    width: 80%;
    border-radius: 50%;
    margin: 0 !important;
    cursor:pointer;
    color:#5C6E7C;
}

.white-cote{
    overflow: hidden;
    background: #fff;
}
.blue-back{background-color: #F4F7FA;padding-bottom: 20px !important;
}

.profile_header{
    font-size: 25px;
    font-family: campton-bold !important;
    color: #5C6E7C !important;
    line-height: 0px !important;
    
}

.profile_edit_section{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999;
}


.switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 54px;

  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 22px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 22px;
  }
  
  input:checked + .slider {
    background-color:red;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 .profile-heading-table tbody tr td {
    width: 100%;
}
.show-radioInv,.show-radioPay{display:none;}

.ship-radio-buttons input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 5%;
    background: red;
}

.edit-company-details input:read-only{
background:#ccc !important;
color:#222 !important;
}

table td{word-break: break-all !important;}
#edit_company_reg, #edit_company_business_type, #edit_company_vat, #edit_company_nhc{background-color: #00000026 !important;}
.update_password_link
{
    float:left !important;
}

.proTablecontainer .dataTable > tbody > tr > :nth-child(1) {
    border-bottom: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
}
.proTablecontainer .dataTable tr > :nth-child(1){
    border-left: 1px solid #fff !important;
}


#company_main_contact{
word-break: break-word;
}
.Nextbutton-profile-company {
    color: #ffffff;
    background-color: #DF323F!important;
    border-color: #DF323F;
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 16px;
    font-family: campton-bold;
    line-height: 1.42857;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 10px;
    border-radius: 23px;
    width: 100%;
}