.portalbreadcrumb {
	padding: 21px 17px;
	margin-bottom: 20px;
	list-style: none;
	background: none;
	border-radius: 4px;
	font-family: campton-book;
}

.portalbreadcrumb>li {
	display: inline-block;
}

.portalbreadcrumb-item a {
	color: #DF323F!important;
	text-decoration: none;
	font-size: 14px;
}

.portalbreadcrumb>li+li:before {
	padding: 0 5px;
	color: #5C6E7C;
	content: "/\00a0";
}

.portalpageHeader {
	color: #DF323F;
	font-family: campton-bold;
	font-size: 50px;
	letter-spacing: -0.1px;
	line-height: 60px;
	margin: 1% 2% 3% 3%;
}

.portalpadLeft60 {
	padding-left: 60px!important;
}

.portal-body {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 2%;
}

.portal-body .no-pad {
	margin-bottom: 2%;
}

.portal-body .no-pad {
	padding-left: 0px;
	padding-right: 0px;
}

.portalheading-txt {
	FONT-FAMILY: "CAMPTON-BOOK";
	font-size: 22px;
	color: #5C6E7C;
	font-weight: bold;
	line-height: 30px;
}

.blue-back {
	background-color: #F4F7FA;
	padding-bottom: 20px;
}

.portalbody-section {
	background-color: #F4F7FA;
}

.portal-body .bllkfirst {
	margin: 0% 2%;
}

.white-cotte {
	overflow: hidden;
	background: #fff;
}

.portalbody-txt {
	font-size: 14px;
	color: #5C6E7C;
	font-family: "campton-book";
	line-height: 22px;
	word-break: break-all;
	text-align: left !important;
}

.white-background-portal-consent {
	padding: 4% !important;
}

.white-background-portal {
	background: #fff;
	padding: 8% 4%;
	overflow: hidden;
}

.portalbody-txt a {
	color: #DF323F;
}

table.portalagreement {
	border-collapse: separate;
	border-spacing: 0;
	min-width: 100%;
	text-align: center;
	color: #5C6E7C;
	font-family: campton-book;
}

table.portalagreement tr th,
table.portalagreement tr td {
	border-right: 1px solid #CFD8E1;
	border-bottom: 1px solid #CFD8E1;
	padding: 20px;
}

table.portalagreement tr th:first-child,
table.portalagreement tr td:first-child {
	border-left: 1px solid #CFD8E1;
}

table.portalagreement tr th {
	border-top: 1px solid #CFD8E1 !important;
	text-align: center;
	font-family: campton-bold;
	text-transform: capitalize;
	color: #5C6E7C;
}

td:nth-child(odd) {
	background-color: #F4F7FA;
}

table.portalagreement tr:first-child th:nth-child(3) {
	background-color: #F4F7FA;
}


/* top-left border-radius */

table.portalagreement tr:first-child th:first-child {
	border-top-left-radius: 32px;
	background-color: #F4F7FA;
}


/* top-right border-radius */

table.portalagreement tr:first-child th:last-child {
	border-top-right-radius: 32px;
}


/* bottom-left border-radius */

table.portalagreement tr:last-child td:first-child {
	border-bottom-left-radius: 32px;
}


/* bottom-right border-radius */

table.portalagreement tr:last-child td:last-child {
	border-bottom-right-radius: 32px;
}

.grey-Blocks {
	width: 243px;
	height: 253px;
	display: inline;	
	margin: 0 10px 25px 0px;
}

.grey-Labels {
	font-weight: 700;
	font-size: 14px;
	color: #000;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background: #D7E5E9;
	height: 146px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-Content {
	background-color: #F4F7FA;
	height: 100px;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.linksbtton {
	background: url(../images/link.png) no-repeat;
	height: 19px;
	width: 18px;
	background-size: contain;
	display: inline-block;
	margin-right: 1%;
	position: relative;
	top: 5px;
	margin-left: 10%;
}

.portal-blocks {
	text-align: left;
	padding: 10px;
	font-size: 16px;
	font-family: campton-bold;
}

.red-labels {
	background: white;
	width: 58px;
	text-align: center;
	border-radius: 20px;
	color: #DF323F;
	margin: 10px;
}

.red-labls {
	background: white;
	width: 93px;
	text-align: center;
	border-radius: 20px;
	color: #DF323F;
	margin: 10px;
}

.portallefttxt {
	font-family: campton-book;
	font-size: 14px;
    color: #5C6E7C;
    padding-left: 0px!important;
}

.portalagreement tr th:nth-child(even) {
    background: #fff;
}

.portalrighttxt {
	font-family: campton-book;
	font-size: 13px;
	color: #DF323F;
    font-weight: 900;
    padding-left: 0px!important;
    text-align: right;
}

.marBottom20 {
	margin-bottom: 20px;
}
.portalBoximage{
	max-width: 92%;
}
.Portalboxheading {
    font-size: 20px;
    color: #5C6E7C;
    font-family: campton-bold;
    margin-bottom: 5px;
}
.Portalresource-para {
    font-size: 14px;
    color: #5d5d5d;
    font-family: campton-book;
}
.Portalresource-para a {
    color: #5d5d5d !important;
}