.contentArea
{
    background-color: #fff;
    transform: translateX(-50%);
    left:50%;
    position: relative;
    margin-bottom:5%;
    padding:0;
    box-shadow: 0 -10px 40px 7px rgba(0,69,104,0.1);

}
.section1_newcust,.section1_joinacc
{
    position: relative;
    border-radius: 11px;
    background-color: #F4F7FA;
    margin: 0% 0% 4% 0%;
    padding: 4%;
    left: 50%;
    transform: translateX(-50%);
}
.subheaderarrow {
    position: relative;
    color: #DF323F;
    font-size: 30px;
    margin: -3% 1% 0% 0%;
    float: right;
    font-family: campton-medium;
    cursor: pointer;
}
.subheaderarrow:hover
{
	color: #DF323F !important;
}
.subsecheader {
    color: #5C6E7C;
    font-family: campton-medium;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35px;
}
.subsectext {
    color: #5D5D5D;
    font-family: campton-book;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 17px;
    width: 72%;
}


/* New Customer CSS begin */


.formContent label
{
  color: #5D5D5D;
  font-family: campton-bold;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom:3%;
}
.formContent input[type=text]
{
    padding: 2% 10% 2% 7%;
    min-height: 40px;
    border-radius: 25px;
    box-sizing: border-box;
  border: 0.5px solid #5C707C;
  background-color: #F4F7FA;
  margin-bottom:20px;
}


.radioBtnsection
{
    margin-top:3%;
    margin-bottom:1%;
    padding-left:0;
}
.radioLabel
{
  color: #5d5d5d!important;
  font-family: campton-bold;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-transform:none!important;
  top: -2px;
  position: relative;

}
.linkbtn
{
    background: url(../images/link.png) no-repeat;
    height: 19px;
    width: 18px;
    background-size: contain;
    display: inline-block;
    margin-right: 5%;
}

.radioLabel span
{
    position: relative;
    top:-5px;
}
.radioContentLabel
{
    color: #5D5D5D;
  font-family: campton-medium !important;
  font-size: 14px !important;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 2%;
  top: -2px;
  position: relative;
} 
input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right:5%;
    
}
.sendemailText
{
  color: #5D5D5D;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  margin:2%;
}
.prevnmail
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 2% 5% 2%;
}

.emailbtn
{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    margin-right:6%;
    background-color: rgb(238, 58, 67) !important;
    border-color: rgb(238, 58, 67);
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 7.5px 30px;
    border-radius: 20px;
}

@media (max-width: 1024px){
    .leftredborder {
        background: #DF323F;
        height: 1030.04px;}
}


    @media (max-width: 992px){
.primary-nav__list>li {
    margin: 0 2%;
}
    }
    .primary-nav__list>li {
        display: inline-block;
        line-height: 20px;
        margin: 0 52px 0 0;
    }

    .primary-nav__list>li>a {
        color: #5C6E7C;
        font-family: Nexa,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
        font-weight: 700;
        line-height: 25px;
        padding: 25px 0 20px;
        position: relative;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
    }
   
   
    .createAccountLeft{
    padding-left: 0px !important;
   } 
    .leftcontentArea
{
    
    height: 100%;
    background-size: cover;
}

ul.topnav{float:left;list-style: none;}
ul.topnav li{float:left;margin-left: 20px;}