.maincontent{
    padding-left: unset!important;
    padding-right: unset!important;
    overflow-y: hidden!important;
    overflow-x: hidden!important;
    height:auto;
    margin-top:5%;
}
.pageHeader
{
    color: #DF323F;
    font-family: campton-bold;
    font-size: 40px;
    letter-spacing: -0.1px;
    line-height: 60px;
    margin: 5% 3%;
}
.contentArea
{
    background-color: #fff;
    transform: translateX(-50%);
    left:50%;
    position: relative;
    margin-bottom:5%;
    padding:0;
    box-shadow: 0 -10px 40px 7px rgba(0,69,104,0.1);

}
.leftcontentArea
{
    background: url(../images/login.png) no-repeat;
    height: 100%;
    padding-bottom: 30%;
    padding-top: 28.5%;
    background-size: cover;
}


.leftHeader
{
  color: #FFFFFF;
  font-family: campton-bold;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom:15%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.leftsubHeader
{
    color: #FFFFFF;
    font-family: campton-medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

.linkbtton {
	background: url(../images/link.png) no-repeat;
	height: 19px;
	width: 18px;
	background-size: contain;
	display: inline-block;
	margin-right: 2%;
	position: relative;
	top: 5px;
}
.prevnmail
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0% 5% 0%;
}

.logInbtn,.agreebtn
{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    background-color: rgb(238, 58, 67) !important;
    border-color: rgb(238, 58, 67);
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 10px 60px;
    border-radius: 20px;
}

@media (max-width: 1024px){
    .leftredborder {
        background: #DF323F;
        height: 1030.04px;}
}


    @media (max-width: 992px){
.primary-nav__list>li {
    margin: 0 2%;
}
    }
    .primary-nav__list>li {
        display: inline-block;
        line-height: 20px;
        margin: 0 52px 0 0;
    }

    .primary-nav__list>li>a {
        color: #5C6E7C;
        font-family: Nexa,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
        font-weight: 700;
        line-height: 25px;
        padding: 25px 0 20px;
        position: relative;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
    }
    .headerSection
    {
        margin-top: 2%;
        margin-bottom: 1.5%;
    }
    .topnav {
        float:right;
      }
      
      .topnav a {
        float: left;
        display: block;
        text-align: center;
        margin: 14px 30px;
        text-decoration: none;
        font-weight: 600;
        color: #5C707C;
        font-family: campton-bold;
        font-size: 1.4vw;
        letter-spacing: 0;
        line-height: 23px;
        border-bottom: 3px solid transparent;
      }
      
      .topnav a:hover {
        border-bottom: 2px solid #D0021B;
      }
      
      .topnav a.active {
        border-bottom: 2px solid #D0021B;;
      }

.passConfirmdiv,.passDiv
{
    width:50%;
}
.section1_header {
    color: #5C6E7C;
    font-family: campton-bold;
    font-size: 33px;
    letter-spacing: 0;
    line-height: 40px;
    margin: 40% 0% 2% 0%;
    text-align: center;
}
.enterCodeheader
{
    color: #5C6E7C;
    font-family: campton-book;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    width: 54%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 2% 0% 3% 0%;

}