.maincontent {
  padding-left: unset!important;
  padding-right: unset!important;
  overflow-y: hidden!important;
  overflow-x: hidden!important;
  height: auto;
  margin-top: 5%;
}
.pageHeader {
  color: #DF323F;
  font-family: campton-bold;
  font-size: 40px;
  letter-spacing: -0.1px;
  line-height: 60px;
  margin: 5% 3%;
}
.contentArea {
  background-color: #fff;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  margin-bottom: 5%;
  padding: 0;
  box-shadow: 0 -10px 40px 7px rgba(0, 69, 104, 0.1);
}
.leftcontentArea {
  background: url(../images/login.png) no-repeat;
  height: 100%;
  padding-bottom: 30%;
  padding-top: 28.5%;
  background-size: cover;
}
.leftHeader {
  color: #FFFFFF;
  font-family: campton-bold;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 15%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.leftsubHeader {
  color: #FFFFFF;
  font-family: campton-medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}


.passDiv
{
    width:40%;
}
.formContent
{
    margin: 2% 0% 2% 0%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.formContent label
{
  color: #5D5D5D;
  font-family: campton-bold;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom:3%;
}
.formContent input[type=text],.formContent input[type=password]
{
    padding: 3% 8% 3% 8%;
    min-height: 40px;
    border-radius: 25px;
    box-sizing: border-box;
  border: 0.5px solid #F4F7FA;
  background-color: #F4F7FA;
  margin-bottom:20px;
  width:100%;
}

.formContent input[type=password]:focus,.formContent input[type=text]:focus
{
  border: 0.5px solid #5C707C;
}
.radioBtnsection
{
    margin-top:1%;
    margin-bottom:1%;
    padding-left:0;
}
.radioLabel
{
  color: #DF323F;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}
.linkbtton {
	background: url(../images/link.png) no-repeat;
	height: 19px;
	width: 18px;
	background-size: contain;
	display: inline-block;
	margin-right: 2%;
	position: relative;
	top: 5px;
}
.linkbttonred {
	background: url(../images/link.svg) no-repeat;
	height: 15px;
	width: 15px;
	background-size: contain;
	display: inline-block;
    margin: 0%;
    padding:0;
	position: relative;
	top: 3px;
}

.radioLabel span
{
    position: relative;
    top:-5px;
}
.radioContent
{
    padding:0;
    text-align: center;
}
.radioContentLabel
{
    color: #5D5D5D;
  font-family: campton-book !important;
  font-size: 14px !important;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 2%;
  top: -2px;
  position: relative;
} 
input[type="checkbox"]
{
    width: 1em;
    height: 1em;
    background-color: #F4F7FA;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -5px;
    border: 0.5px solid #5D5D5D;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
input[type="checkbox"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right:5%;
    background: red;
    border:none;
}
input:focus,input[type="checkbox"]:focus, textarea:focus, select:focus{
    outline: none;
}
.formContent input::-webkit-input-placeholder {
    font-family: campton-book;
}
  
.formContent input:-ms-input-placeholder {
    font-family: campton-book;
}
.forgotPass
{
    color: #DF323F;
    font-family: campton-medium;
    font-size: 15px;
    font-weight: 600;

}
.prevnmail
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0% 5% 0%;
}
.cancelAgreesection
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:15%;
    padding:0px 25px 0px 25px;
}
.cancelAgreesection div{
    width:45%;
}
.logInbtn,.agreebtn
{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    background-color: rgb(238, 58, 67) !important;
    border-color: rgb(238, 58, 67);
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 10px 60px;
    border-radius: 20px;
}
.agreebtn
{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    background-color: rgb(238, 58, 67) !important;
    border-color: rgb(238, 58, 67);
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 14px;
    border-width: 1px solid  rgb(238, 58, 67);
    padding: 10px 40px;
    border-radius: 20px;
}
@media (max-width: 1024px){
    .leftredborder {
        background: #DF323F;
        height: 1030.04px;}
}


    @media (max-width: 992px){
.primary-nav__list>li {
    margin: 0 2%;
}
    }
    .primary-nav__list>li {
        display: inline-block;
        line-height: 20px;
        margin: 0 52px 0 0;
    }

    .primary-nav__list>li>a {
        color: #5C6E7C;
        font-family: Nexa,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
        font-weight: 700;
        line-height: 25px;
        padding: 25px 0 20px;
        position: relative;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
    }
    .headerSection
    {
        margin-top: 2%;
        margin-bottom: 1.5%;
    }
    .topnav {
        float:right;
      }
      
      .topnav a {
        float: left;
        display: block;
        text-align: center;
        margin: 14px 30px;
        text-decoration: none;
        font-weight: 600;
        color: #5C707C;
        font-family: campton-bold;
        font-size: 1.4vw;
        letter-spacing: 0;
        line-height: 23px;
        border-bottom: 3px solid transparent;
      }
      
      .topnav a:hover {
        border-bottom: 2px solid #D0021B;
      }
      
      .topnav a.active {
        border-bottom: 2px solid #D0021B;;
      }

.passConfirmdiv,.passDiv
{
    width:50%;
}
.section1_header {
    color: #5C6E7C;
    font-family: campton-bold;
    font-size: 33px;
    letter-spacing: 0;
    line-height: 40px;
    margin: 28% 0% 2% 0%;
    text-align: center;
}