
.body-section-resource .left-side{
    background: #fff;
    padding: 20px 15px 20px 15px;
}
.body-section-resource .marBottom40{display:block;}
.body-section-resource .contactheader{margin-left:0px;}
.body-section-resource .left-side .heading{
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 22px;
    color: #5C6E7C;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
    padding-left: 25px;
}
.body-section-resource .left-side .left-nav-wrap{
    background-color: #f4f7fa !important;
    border-radius: 20px;
}
.body-section-resource .left-side .left-nav-wrap ul{
    padding: 5px;
    margin: 0px;
}
.body-section-resource .left-side .left-nav-wrap ul li{
    list-style: none;
    display: block;
    
}
.body-section-resource .left-side .left-nav-wrap ul li a{
    font-family: "campton-bold";
    font-size: 14px;
    color: #71838d;
    padding: 10px 10px 10px 28px;
    display: block;
    line-height: 18px;
}
.body-section-resource .left-side .left-nav-wrap ul li a.active{
    background: #fff;
    padding: 10px 10px 10px 28px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
}

.body-section-resource .left-side .left-nav-wrap ul li a.active:before{
    content: '\f105';
    font:normal normal normal 14px/1 FontAwesome;
    color: red;
    font-weight: bold;
    position: relative;
    left: -9px;
    font-size: 18px;
}

.body-section-resource .left-side .left-nav-wrap ul li a:hover{
    background: #fff;
    padding: 10px 10px 10px 28px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
}

.body-section-resource .left-side .left-nav-wrap ul li a:hover:before{
    content: '\f105';
    font:normal normal normal 14px/1 FontAwesome;
    color: red;
    font-weight: bold;
    position: relative;
    left: -9px;
    font-size: 18px;
   
}

.body-section-resource .right-side .block-content {
   font-family: "campton-book";
    color: #526774;
    font-size: 14px;
    line-height: 20px;
}    

.body-section-resource .right-side .block-content .heading-title{
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 22px;
    color: #5C6E7C;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
}

.body-section-resource .right-side .block-content .content-section{
    background: #fff;
    padding: 50px 50px 10px 50px;
    position: relative;
}

.body-section-resource .right-side .block-content .content-section .content-head{
    color: #526774;
    font-size: 24px;
    font-family: campton-bold;
    line-height: 30px;
    margin-bottom: 20px;
}    

.download_button {
    color: #ee3a43;
    background-color: #fff;
    background-image: none!important;
    box-shadow: none!important;
    display: inline-block;
    border-radius: 20px;
    padding: 7.5px 30px;
    border: 2px solid #ee3a43;
    font-family: campton-bold;
}
.pos-mid{text-align: center;}
.pos-right{text-align: right;}
.body-section-resource .right-side .block-content .content-section .view-resource{
    color: #3E818A;
    font-size: 14px;
    font-family: campton-bold;
    position: relative;
}
.body-section-resource .right-side .block-content .content-section .toggle-resource{
    font-size: 32px;
    color: #3E818A;
    
    border: 2px solid #fff;
    border-radius: 50%;
}
.body-section-resource .right-side .block-content .content-section .view-resource-pos{
    position: relative;
    top: 28px;
}
.body-section-resource .right-side .block-content .content-section .view_resource_panel{
    display: none;
}
.body-section-resource .right-side .block-content .content-section .view-resource .down-slide:hover{
   cursor: pointer;
}
.body-section-resource .right-side .block-content .content-section .view-resource .arrow-chng:hover{
    cursor: pointer;
}

.pos-right-video .video-block{
    background: #F4F7FA;
    border-radius: 20px;
    padding: 0px;
    width:48%;
}

.pos-right-video .video-block .video-container{
    text-align: center;
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 16px;
    color: #5C6E7C;
    font-weight: bold;
    line-height: 30px;
    background: #D7E5E9;
    padding: 40px 0px;
    border-radius: 20px 20px 0px 0px;
}
.pos-right-video .video-block .video-text{
    padding: 20px 10px 10px 10px;
}
.pos-right-video .video-block .video-text .vid-title{
    font-family: "campton-bold";
    font-size: 14px;
    color: #667783;
    padding: 0px 0px 10px 10px;
}
.pos-right-video .video-block .video-text .vid-content{
    padding: 0px 10px 10px 10px;
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 14px;
    color: #5C6E7C;
}
.pos-right-video .video-block .video-text .vid-download{
    background: #fff;
    border-radius: 20px;
    padding: 5px 5px 5px 12px;
    color:red;
    font-family: "campton-bold";
    font-size: 14px;
}
.pos-right-video .video-block .video-text .vid-download .fa{
    float: right;
    position: relative;
    right: 4px;
    top: 3px;
}
.dwnld:hover{cursor: pointer; text-decoration: none;}
.body-section-resource .pos-right-video{padding:0px;}
.pos-right-video .video-block{margin-left: 2%; margin-bottom: 3%;}
.download_txt {
    color: #ee3a43;
    background-color: #fff;
    background-image: none!important;
    box-shadow: none!important;
    display: inline-block;
    border-radius: 20px;
    padding: 0px 0px;
    border: 2px solid #fff;
    font-family: campton-bold;
    font-size: 14px;
}
.pos-mid{text-align: center;}
.no-pad{padding:0px;}
.body-section-resource .img-align-logo{padding-top: 20px;}
.body-section-resource .right-side .block-content .content-section-thin {
    background: #fff;
    padding: 20px 20px 10px 20px;
    position: relative;
}
.body-section-resource .event-container{
    background: #D7E5E9;
    border-radius: 20px;
    padding: 35px;
    min-height: 245px;
}
.body-section-resource .event-container .event-status{
    font-family: "campton-bold";
    font-size: 12px;
    color: #5D5D5D;
}
.body-section-resource .event-container .event-date{
    color: #526774;
    font-size: 24px;
    font-family: campton-bold;
    line-height: 30px;
    margin: 10px 0px;
}    
.body-section-resource .event-container .event-time{
    FONT-FAMILY: "CAMPTON-BOOK";
    font-size: 14px;
    color: #526774;
}    

.body-section-resource .event-container .event-btn {
    color: #fff;
    background-color: #DF323F;
    background-image: none!important;
    box-shadow: none!important;
    display: inline-block;
    border-radius: 20px;
    padding: 9.5px 30px;
    color: #fff;
    font-family: campton-bold;
}
.body-section-resource .event-container .event-btn:hover{color:#fff;}
.body-section-resource .event-container .event-btn-sontainer{display: block; margin-top: 50px;}
.body-section-resource .down-slide{
    position: absolute;
    height: 54px;
    left: 43.5%;
}
.body-section-resource .flot-menu{position:fixed;top:4%;}

/*Toolkit Table CSS */

#toolkitTable {
    color: #5D5D5D;
    font-family: Campton-medium;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    border-collapse: separate;
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #F4F7FA;
    text-align:center;
    border-left: 1px solid #CFD8E1;
    border-right: 1px solid #CFD8E1;
  }
  
#toolkitTable td {
    padding: 15px 20px;
    //border-bottom:1px solid black;
  }
  
  
#toolkitTable tr td:nth-child(even){
    background-color: #fff;
    color: #DF323F;
    font-family: Campton-medium;
    font-weight: 600;
}
#toolkitTable tr td
{
    border-top:1px solid #CFD8E1;
} 
#toolkitTable tr:first-child td
{
    border-top:1px solid #CFD8E1;
} 
#toolkitTable tr:last-child td
{
    border-bottom:1px solid #CFD8E1;
} 
#toolkitTable tr:first-child td:first-child
{
    border-top-left-radius:25px;
}
#toolkitTable tr:first-child td:last-child
{
    border-top-right-radius:25px;
}
#toolkitTable tr:last-child td:first-child
{
    border-bottom-left-radius:25px;
}
#toolkitTable tr:last-child td:last-child
{
    border-bottom-right-radius:25px;
}

/* Table CSS end */

.right-side{
	padding-left:45px;
}
