table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    table-layout: fixed;
  }
  table.dataTable td,
  table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  table.dataTable td.dataTables_empty,
  table.dataTable th.dataTables_empty {
    text-align: center;
  }
  table.dataTable.nowrap th,
  table.dataTable.nowrap td {
    white-space: nowrap;
  }
  
  div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
  }
  div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
  }
  div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
  }
  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
  }
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_paginate {
    margin: 30px 0px;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
  }
  
  table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
  table.dataTable thead > tr > td.sorting_asc,
  table.dataTable thead > tr > td.sorting_desc,
  table.dataTable thead > tr > td.sorting {
    text-align:center !important;
  }
  table.dataTable thead > tr > th:active,
  table.dataTable thead > tr > td:active {
    outline: none;
  }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
  }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    padding-top: 0px;
    margin-left: 5px;
    display: inline-block;
    opacity: 1;
  }
  table.dataTable thead .sorting:after {
    opacity: 1;
    content: "\2193";
    /* sort */
  }
  table.dataTable thead .sorting_asc:after {
    content: "\2191";
    color: #DF323F !important;
    /* sort-by-attributes */
  }
  table.dataTable thead .sorting_desc:after {
    content: "\2193";
    /* sort-by-attributes-alt */
  }
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    color: #eee;
  }
  
  div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
  }
  
  div.dataTables_scrollBody > table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  div.dataTables_scrollBody > table > thead .sorting:after,
  div.dataTables_scrollBody > table > thead .sorting_asc:after,
  div.dataTables_scrollBody > table > thead .sorting_desc:after {
    display: none;
  }
  div.dataTables_scrollBody > table > tbody > tr:first-child > th,
  div.dataTables_scrollBody > table > tbody > tr:first-child > td {
    border-top: none;
  }
  
  div.dataTables_scrollFoot > .dataTables_scrollFootInner {
    box-sizing: content-box;
  }
  div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
    margin-top: 0 !important;
    border-top: none;
  }
  
  @media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
      text-align: center;
    }
  }
  table.dataTable.table-condensed > thead > tr > th {
    padding-right: 20px;
  }
  table.dataTable.table-condensed .sorting:after,
  table.dataTable.table-condensed .sorting_asc:after,
  table.dataTable.table-condensed .sorting_desc:after {
    top: 6px;
    right: 6px;
  }
  
  table.table-bordered.dataTable {
    border-right-width: 0;
  }
  table.table-bordered.dataTable th,
  table.table-bordered.dataTable td {
    border-left-width: 0;
  }
  table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
  table.table-bordered.dataTable td:last-child,
  table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
  }
  table.table-bordered.dataTable tbody th,
  table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
  }
  
  div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0;
  }
  
  div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
  }
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0;
  }
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0;
  }
  
  
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
    cursor: default !important;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
    display: none !important;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td.dtr-control,
  table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th.dtr-control {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td.dtr-control:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th.dtr-control:before {
    top: 50%;
    left: 5px;
    height: 14px;
    width: 14px;
    margin-top: -9px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #337ab7;
  }
  table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control:before {
    content: '-';
    background-color: #d33333;
  }
  table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td.dtr-control,
  table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th.dtr-control {
    padding-left: 27px;
  }
  table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td.dtr-control:before,
  table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th.dtr-control:before {
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 14px;
    text-indent: 3px;
  }
  table.dataTable.dtr-column > tbody > tr > td.control,
  table.dataTable.dtr-column > tbody > tr > th.control {
    position: relative;
    cursor: pointer;
  }
  table.dataTable.dtr-column > tbody > tr > td.control:before,
  table.dataTable.dtr-column > tbody > tr > th.control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #337ab7;
  }
  table.dataTable.dtr-column > tbody > tr.parent td.control:before,
  table.dataTable.dtr-column > tbody > tr.parent th.control:before {
    content: '-';
    background-color: #d33333;
  }
  table.dataTable > tbody > tr.child {
    padding: 0.5em 1em;
  }
  table.dataTable > tbody > tr.child:hover {
    background: transparent !important;
  }
  table.dataTable > tbody > tr.child ul.dtr-details {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  table.dataTable > tbody > tr.child ul.dtr-details > li {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0;
  }
  table.dataTable > tbody > tr.child ul.dtr-details > li:first-child {
    padding-top: 0;
  }
  table.dataTable > tbody > tr.child ul.dtr-details > li:last-child {
    border-bottom: none;
  }
  table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
  }
  
  div.dtr-modal {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 10em 1em;
  }
  div.dtr-modal div.dtr-modal-display {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    z-index: 102;
    overflow: auto;
    background-color: #f5f5f7;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
  }
  div.dtr-modal div.dtr-modal-content {
    position: relative;
    padding: 1em;
  }
  div.dtr-modal div.dtr-modal-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 12;
  }
  div.dtr-modal div.dtr-modal-close:hover {
    background-color: #eaeaea;
  }
  div.dtr-modal div.dtr-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.6);
  }
  
  @media screen and (max-width: 767px) {
    div.dtr-modal div.dtr-modal-display {
      width: 95%;
    }
  }
  div.dtr-bs-modal table.table tr:first-child td {
    border-top: none;
  }
  
  
  div.dts {
    display: block !important;
  }
  div.dts tbody th,
  div.dts tbody td {
    white-space: nowrap;
  }
  div.dts div.dts_loading {
    z-index: 1;
  }
  div.dts div.dts_label {
    position: absolute;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    text-align: right;
    border-radius: 3px;
    padding: 0.4em;
    z-index: 2;
    display: none;
  }
  div.dts div.dataTables_scrollBody {
    background: repeating-linear-gradient(45deg, #edeeff, #edeeff 10px, white 10px, white 20px);
  }
  div.dts div.dataTables_scrollBody table {
    z-index: 2;
  }
  div.dts div.dataTables_paginate,
  div.dts div.dataTables_length {
    display: none;
  }
  
  div.DTS tbody tr {
    background-color: white;
  }
  .paginate_button 
  {
    margin-right:1% !important;
    margin-left:1% !important;
    font-family: campton-bold;
    background-color: #f4f7fa;
    padding: 0.5% 1%;
    color: #526774;
    border-radius: 50%;
  }
  .paginate_button:focus, .paginate_button:hover {
    
    text-decoration: none !important;
    cursor: pointer;
}
span .paginate_button 
{
  color: #5C6E7C !important;
  margin:0 !important;
}
.dataTables_paginate .current
{
  background-color: #fff !important;
  padding: 0.4% 1%;
}
.dataTable 
{
  width:100%;
}
  /* End of datatable css */
  
  #shippingheadertext
  {
    position: relative;
      margin-top: 70px;
      margin-left: 18%;
      margin-bottom: 20px;
      font-family: Campton-Bold;
      font-size: 33px;
      color:#5c6e7c;
  }
  #shippingsubheader
  {
    position: relative;
    margin-left: 18%;
    margin-bottom: 20px;
    font-family: Campton-Book;
    font-size: 15px;
    width: 60%;
    color:#5c6e7c;
  }
 
  #accTable_filter input
  {
    display: block;
    margin-left: 0em !important;
    border: 2px solid #b6b6b6;
    min-width:200px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px !important;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
  }
  #accTable_filter
  {
    font-family: Campton-Book;
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
  }
  .dataTable
  {
    font-size:13px;
    text-align:center !important;
    color: #6a6a6a;
  }
  .dataTables_scrollBody,.dataTables_scrollBody table,.dataTables_scrollHead,.dataTables_scrollHead table
  {
    width:100% !important;
  }
  .dataTable th
  {
    color:#5C6E7C !important;
    font-size: 15px !important;
    font-family: Campton-Medium;
    text-transform: none !important;
    border: none !important;
    text-align: center !important;
    padding-bottom: 10px;
    padding-top: 10px;
    outline: none !important;
  }

  .dataTable tr{
    border: 1px solid #cfd8e1 !important;
  }
  ::-webkit-input-placeholder { 
    font-size:13px;
  }
  :-ms-input-placeholder { 
    font-size:13px;
  }
  ::placeholder {
    font-size:13px;
  }
  #dataGrid-content
  {
    margin-left: 7%;
    z-index: 2;
    width: 100%;
    position: relative;
    margin-bottom:5%;
  }
  .tablecontainer
  {
    margin-left:0%;
    margin-bottom:1%;
  }
  .dataTables_scrollHeadInner table
  {
    width:100% !important;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 3px lightgrey;
    background-color: #EEF0F1;
    border-radius: 10px;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar {
    width: 6px;
    background-color: #AEB7BD;
    border-radius: 10px;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #AEB7BD;
    border-radius: 10px;
  }

  .dataBorder {
  
    padding: 8px 10px;
    font-family: campton-book;
    font-size: 13px;
}

/* Cart Landing Table */

#cart_landingTable-1 thead,#cart_landingTable-2 thead
{
  display:none;
}
#cart_landingTable-1 tr td,#cart_landingTable-2 tr td{
  padding: 15px 0px 15px 25px !important;
  text-align:left !important;
  border:1px solid #DBE0E2;
  color:#2A3237;
  cursor:pointer;
}
.selectedtick
{
  background-image: url(../images/selected.png);
  background-repeat: no-repeat;
  background-size:20px;
  background-position: left;
}
#cart_landingTable-1 tr,#cart_landingTable-2 tr{
  background-color: #F9FAFA;
}
#cart_landingTable-1 tr:hover,#cart_landingTable-2 tr:hover{
  //box-shadow: 0px 0px 0px 1px #6D7E88;
  //-ms-box-shadow: 0px 0px 0px 1px #6D7E88;
}
#cart_landingTable-1 tr td:nth-of-type(4),#cart_landingTable-2 tr td:nth-of-type(4){
  border-left:none !important;
  width:5%;
}
#cart_landingTable-1 tr td:nth-of-type(1),#cart_landingTable-2 tr td:nth-of-type(1){
  border-right:none !important;
  width:25%;
}
#cart_landingTable-1 tr td:nth-of-type(2),#cart_landingTable-1 tr td:nth-of-type(3),#cart_landingTable-2 tr td:nth-of-type(2),#cart_landingTable-2 tr td:nth-of-type(3){
  border-left:none !important;
  border-right:none !important;
  width:35%;
  color:#5D6F7B;
}
#cart_landingTable-1.dataTable,#cart_landingTable-2.dataTable {
  border-spacing:0px 15px;
  color: #2A3237;
  font-size:14px;
  margin-top:-12px !important;
  margin-left:2px !important;
}
#cart_landingTable-1 thead,#cart_landingTable-2 thead {
  visibility: collapse !important;
}
#cart_landingTable-1,#cart_landingTable-2
{
  width:96% !important;
}
#cart_landingTable-1_wrapper .dataTables_scrollHeadInner,#cart_landingTable-2_wrapper .dataTables_scrollHeadInner
{
  display:none !important;
}
.selected
{
  outline:1.5px solid #6D7E88 !important;
  background-color:#fff !important;
}
select:focus::-ms-value {
  background: none !important;
  color: #4e515e !important;
}
select::-ms-value {
    background: none !important;
    color: #4e515e !important;
}

@media only screen and (max-width:991px)
{
  #cart_landingTable-1 tr, #cart_landingTable-2 tr
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:20px;
  }
  #cart_landingTable-1 tr td,#cart_landingTable-2 tr td {
    padding: 15px 0px 10px 25px !important;
  }
  #cart_landingTable-1 tr td:nth-of-type(1),#cart_landingTable-2 tr td:nth-of-type(1) {
    border-right: none ;
    width: 100% ;
    padding: 10px;
  }
  #cart_landingTable-1 tr td:nth-of-type(2),#cart_landingTable-2 tr td:nth-of-type(2){
    border-left: none ;
    border-right: none ;
    width: 100% ; 
    padding-top: 10px ;
  }
  #cart_landingTable-1 tr td:nth-of-type(3),#cart_landingTable-2 tr td:nth-of-type(3) {
    border-left: none ;
    border-right: none ;
    width: 50% ;
    padding-top: 0px !important;
    padding-bottom: 15px !important;

  }
  #cart_landingTable-1 tr td:nth-of-type(4),#cart_landingTable-2 tr td:nth-of-type(4) {
    border-left: none ;
    width: 30% ;
    margin-top:-20px;
    padding-bottom:15px !important;
  }
  #cart_landingTable-1 tr td,#cart_landingTable-2 tr td {
    padding: 0px ;
    border: none ; 
    font-size:14px ;
  }
  .selectedtick {
    background-size: 25% ;
    background-position: right ;
  }
  #cart_landingTable-1 tr:hover,#cart_landingTable-2 tr:hover{
    border: 1px solid #cfd8e1 !important;
    //box-shadow: 0px 0px 1px black;
    //-ms-box-shadow: 0px 0px 1px black;
    outline:none;
  }
  .cart_container .dataTables_scrollBody
  {
    padding-left:15px;
  }
}

@media only screen and (min-width:478px) and (max-width:991px)
{
  #cart_landingTable-1 tr td:nth-of-type(3), #cart_landingTable-2 tr td:nth-of-type(3)
  {
      width:70%;
  }
  #cart_landingTable-1 tr td:nth-of-type(4), #cart_landingTable-2 tr td:nth-of-type(4) 
  {
      width:15%;
  }
  #cart_landingTable-1 tr td, #cart_landingTable-2 tr td
  {
    font-size:16px;
  }
}