/* Cart Landing CSS */

.cart_container
{
  max-width:1920px;
  width:100%;
  padding:0;
  margin:0 auto;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  overflow:hidden;
}
.cart_titlesection
{
  background-color: #5D6F7B;
  color: #fff;
  padding:50px 30px;
}
.cart_header
{
  font-family: campton-medium;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
}
.cart_subheader
{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27px;
  margin-top:15px;
}
.cart_dateheader
{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 32px;
  text-align: right;
}
.cart_dateheader span
{
  font-weight: 600;
}
.cart_neworder
{
  padding:30px;
}
.cart_neworderheader
{
  color: #EA181B;
  font-family: campton-medium;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 31px;
}
.cart_neworderbtns
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
}
.cart_neworderbtn
{
  border:1px solid #DBE0E2;
  padding: 20px 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.cart_neworderbtn:nth-of-type(2)
{
  margin-left:2%;
  margin-right:2%;
}
.cart_neworderbtnheader
{
  color: #5D6F7B;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}
.cart_neworderbtndate
{
  color: #2A3237;
  font-family: campton-medium;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top:5px;
}
.cart_neworderreorder
{
  color: #2A3237;
  font-family: campton-medium;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top:15px;
}
.cart_active
{
  box-shadow:inset 0px 6px 0px -3px #EA181B;
  -ms-box-shadow:inset 0px 6px 0px -3px #EA181B;
  border-top: 1px solid white;
}
#cart_neworderselect
{
  margin-top: 50px;
  padding: 10px 15px;
  border: 1px solid #AEB7BD;
  width: 100%;
  font-family: campton-medium;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
.cart_selectlocations
{
  border: 1.5px solid #DBE0E2;
  padding: 30px 30px 0px;
  margin: 0px 45px 50px;
  display: none;
}
.cart_selectheader
{
  color: #2A3237;
  font-family: campton-medium;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 27px;
  padding-left:0px;
  z-index:1000;
}
.cart_selectcount
{
  color: #2A3237;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27px;
  text-align: right;
  padding-right:0px;
}
.cart_selectcount span
{
  font-family: campton-medium;
  font-weight: 600;
}
.cart_loccount
{
  margin-left:5px;
}
.cart_selectline
{
  height:1.5px;
  background-color:#DBE0E2;
  margin-top:20px;
  margin-bottom:20px;
}
.cart_selectoptions
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0;
  margin-bottom:30px;
}
.cart_selectunselect
{
  display: flex;
}
.cart_selectoption
{
  text-transform: uppercase;
  font-family: campton-medium;
  font-weight:600;
  color: #2A3237;
  letter-spacing: 1px;
  font-size:12px;
  cursor: pointer;
}
.cart_selectdivision
{
  height:16px;
  width:1px;
  background-color:grey;
  margin-left:20px;
  margin-right:20px;
}
.cart_startorderbtnsection
{
  border-top:1px solid #DBE0E2;
  width:100%;
  margin-left: -30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}
.cart_startorderbtn
{
  border: 2px solid #5D6F7B;
  color: #5D6F7B;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
}
.cart_startorderbtn:focus
{
  outline:none;
}
.cart_startorderbtn:disabled
{
  border:2px solid #EEF0F1;
  color:#8E9AA3;
  background-color:#EEF0F1;
}
#cart_locations {
  padding: 10px 15px;
  border: 1px solid #AEB7BD;
  width:200px;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 600;
  float:left;
  outline: none;
}
.global_selectdiv:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  color: #333;
  right: 30px;
  top: 20px;
  height: 34px;
  position: relative;
  pointer-events: none;
}
select::-ms-expand {
display: none;
}
.global_selectdiv select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
display: block;
width: 100%;
max-width: 320px;
height: 50px;
float: right;
margin: 5px 0px;
padding: 0px 24px;
font-size: 16px;
line-height: 1.75;
color: #333;
background-color: #ffffff;
background-image: none;
-ms-word-break: normal;
word-break: normal;
}
.global_selectdivmob
{
  position: relative;
  display: none;

}
.global_selectdivmob:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  color: #333;
  right: 20px;
  top: 15px;
  height: 34px;
  position: absolute;
  pointer-events: none;
}
.global_selectdivmob select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
display: block;
width: 100%;
max-width: 320px;
height: 50px;
float: left;
margin: 5px 0px;
padding: 0px 24px;
font-size: 16px;
line-height: 1.75;
color: #333;
background-color: #ffffff;
background-image: none;
-ms-word-break: normal;
word-break: normal;
}
.cart_customsearch input
{
  border: 0;
  padding: 8px 0px 8px 0px;
  border-bottom: 1.5px solid #979797;
  min-width: 350px;
  margin-right: 20px;
  margin-left: 40px;
  font-size: 16px;
}
.cart_customsearch input:focus
{
  outline:none !important;
}
.cart_customsearch input::-webkit-input-placeholder {
  color: #5D6F7B;
  font-family: campton-book;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27px;
}
.cart_customsearch button
{
  border: 2px solid #5D6F7B;
  color: #5D6F7B;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
}
.global_searchicon
{
  position: absolute;
  margin-left: 5px;
  margin-top: 10px;
  background: url(../images/searchicon.png) no-repeat;
  width: 23px;
  height: 23px;
  background-size: contain;
}
button:focus
{
  outline: none !important;
}



@media only screen and (max-width:991px)
{
  .cart_titlesection {
    padding: 40px 15px;
  }
  .cart_dateheader {
    text-align: left;
    margin-top: 20px;
    line-height: 27px;
  }
  .cart_neworderbtns,.cart_selectline
  {
    display: none;
  }
  .cart_neworderreorder
  {
    padding:0;
    margin-top:25px;
  }
  .global_selectdivmob
  {
    display: block;
    margin-top:50px;
    max-width: 320px;
  }
  .cart_neworderheader
  {
    padding:0;
  }
  .cart_neworder
  {
    border-bottom:1px solid #DBE0E2;
  }
  .cart_selectlocations {
    border: none;
    padding: 30px 10px 0px;
    margin: 0px;
    width:100%;
  }
  .cart_selectheader {
      margin-left:15px;
  }
  .cart_selectcount {
      margin-top: 15px;
      text-align: left;
  }
  .cart_selectoptions {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 30px;
  }
  .cart_selectunselect {
    margin-top: 30px;
    align-self: center;
    margin-left: -20px;
  }
  .cart_startorderbtnsection
  {
    justify-content: flex-start;
    width: calc(100% + 45px);
    margin-left:-15px;
    padding-left:35px;
    padding-bottom:30px;
  }
  #cart_neworderselect
  {
    margin-top:0px;
  }
}
@media only screen and (max-width:478px)
{
  .cart_customsearch input {
    min-width: 260px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width:991px) and (max-width:1024px)
{
  .cart_customsearch input {
    min-width: 200px;
  }
}


/* CSS for Add Cart starts*/
#cart_section
{
  display: none;
}

.add_cart_wrapper{
  padding-left: 45px;
  padding-right:45px;
    padding-top: 4%;
  min-height:600px;

	}
#cart_section .border_cart{
	border:2px solid #ccc;
	padding: 2.5% 3%;
	z-index: 1;
	position:relative;
	margin-bottom:30px;
}
#cart_section .back_txt{
    padding-bottom: 15px;
    padding-left: 0px;
    
}
#cart_section .back_txt a{
	color: #2A3237;
    font-family: 'Campton-Book';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
}
#cart_section .add_product_btn{
	color: #2A3237;
    font-family: 'Campton-Book';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
	min-width: 170px;
	display:inline-block;
	padding:20px;
	background:#fff;
	border-radius:5px 5px 0px 0px;
	cursor:pointer;
	z-index: 999999;
	position:relative;
	top:3px;
}

#cart_section .border-add{
	border-left:2px solid #5D6F7B;
	border-top:2px solid #5D6F7B;
	border-right:2px solid #5D6F7B;
	
	
}

.add_product_btn .fa{
	font-size: 22px;
    margin-left: 10px;
    position: absolute;
}
.rvw_btn{
	color: #8E9AA3;
    font-family: 'Campton-Book';
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    background: #EEF0F1;
    text-align: center;
    padding: 10px;
    //pointer-events: none;
    cursor:pointer;
}
.nopad_L_R{
	padding-left:0px;
	padding-right:0px;
	
}
.nomar_L_R{
	margin-left:0px;
	margin-right:0px;
	
}
#cart_section .cart_list_wrap{
	padding: 20px;
    border: 2px solid #5D6F7B;
    position: absolute;
    bottom: auto;
    z-index: 0;
    border-radius: 0px 5px 5px 5px;
    display: none;
    background: #fff;
	-webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.45);
box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.45);
}


.cart_list_wrap .prod_list{
	border-bottom:1px solid #DBE0E2;
	padding:15px 0px;
	overflow:hidden;
}
.cart_list_wrap .prod_list:last-child{
	border-bottom:none;
	padding-bottom:0px;
	
}
#cart_section .cart_list_wrap .active_stage div:first-child{
	font-family: Campton-book;
    color: #2A3237;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}
#cart_section .cart_list_wrap .active_stage div:nth-child(2){
	color: #5D6F7B;
    font-family: Campton-Book;
    font-size: 16px;
    font-weight: 300;
}
#cart_section .cart_list_wrap .active_stage div:last-child{
	font-family: Campton-book;
    color: #2A3237;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
	text-align:right;
}

#cart_section .cart_list_wrap .active_stage div:last-child .fa{
	font-size:16px;
}

#cart_section .cart_list_wrap .sold_stage div:first-child{
	font-family: Campton-book;
    color: #5D6F7B;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}
#cart_section .cart_list_wrap .sold_stage div:nth-child(2){
	color: #5D6F7B;
    font-family: Campton-Book;
    font-size: 16px;
    font-weight: 300;
}
#cart_section .cart_list_wrap .sold_stage div:last-child{
	font-family: Campton-book;
    color: #EA181B;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
	text-align:right;
}
/* #cart_section .order-listing{ margin-bottom:30px;} */
#cart_section .order-listing .product_according .left-pro-list{
	border:1px solid #ccc;
	overflow:auto;
}

#cart_section .order-listing .product_according{
	margin-bottom:15px;
	overflow:auto;
	display:none;
	position:relative;
}

#cart_section .order-listing .product_according .left-pro-list .pro_desc{
	padding:16px 20px;
	color: #5D6F7B;
    font-family: Campton-Book;
    font-size: 16px;
    font-weight: 300;
	line-height:43px;
}

#cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(2), #cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(3), #cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(4), .pro_qty{
	padding:16px 5px !important;
}

#cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(4), .pro_qty{font-size:15px !important;}
#cart_section .pro_qty{ text-align:right !important;}

#cart_section .order-listing .product_according .left-pro-list .pro_desc:last-child{
	text-align:center;
	border-left:1px solid #ccc;
	padding:16px 20px !important;
	
}

#cart_section .order-listing .product_according .left-pro-list .pro_desc:last-child .fa{
	font-size:26px;
	color:#5D6F7B;
}

#cart_section .order-listing .product_according .del_section{
	padding:20px;
	text-align:center;
}

#cart_section .order-listing .product_according .del_section .fa{
	color:#6D7E88;
	font-size:22px;
	cursor:pointer;
}
#cart_section .add_pro_cart{
	cursor:pointer;
}

.top-b{
	border-top: 1px solid #ccc;
	margin-bottom: 36px;
}


#cart_section .pro_calc_wrapper{
	background: #fff;
	border-left:2px solid #5D6F7B;
	border-right:2px solid #5D6F7B;
	border-bottom:2px solid #5D6F7B;
	padding:20px;
	display:none;
	
}
#cart_section .border_cart_select{
	border-left: 2px solid #5D6F7B !important;
	border-top: 2px solid #5D6F7B !important;
}
#cart_section .border_del_select{
	border-bottom: 2px solid #5D6F7B;
	min-height: 78px; 
	border-left: 2px solid #5D6F7B;
}	
#cart_section .show_pro_details{
	cursor:pointer;
}

#cart_section .cart_pdf_link{
	color: #5D6F7B;
    font-family: 'Campton-SemiBold';
    font-size: 14px;
	line-height:21px;
    font-weight: 600;
    letter-spacing: 0;
	text-decoration:underline;
}

.spcl_3{width:20% !important;}

#cart_section .cart_doses_link{
	color: #5D6F7B;
    font-family: 'Campton-Book';
    font-size: 14px;
    letter-spacing: 0;
	width:28%;
}
#cart_section .product_calc{
	border:1px solid #ccc;
	margin-top:20px;
	padding:10px;
}
#cart_section .product_calc div:first-child{
	color: #2A3237;
    font-family: 'Campton-Book';
    font-size: 14px;
	line-height:32px;
}
#cart_section .product_calc div{
	color: #5D6F7B;
    font-family: 'Campton-Book';
    font-size: 14px;
	line-height:32px;
}
#cart_section .qty-messure{
	color: #5D6F7B;
    font-family: 'Campton-Book';
    font-size: 14px;
	line-height:32px;
	border-radius:0px;
	border:2px solid #AEB7BD;
	
}
#cart_section .qty-messure:focus{
	outline: none !important;
	box-shadow:none !important;
}
#cart_section .total_count{
	margin-top:20px;
	padding:0px;
}
#cart_section .total_count .total-order-txt{
	color: #5D6F7B;
    font-family: Campton-Book;
	font-size:16px;
}

#cart_section .total_cost_item{
	text-align:right;
	color: #5D6F7B;
    font-family: Campton-Book;
	font-size:16px;
}

.rvw_btn_enable{
	color: #5D6F7B;
    font-family: 'Campton-Book';
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    background: #fff;
    text-align: center;
    padding: 10px;
    cursor:pointer;
	border:2px solid #5D6F7B;
}

/* CSS for Add Cart ends*/
/* CSS for Cart summary starts*/

.cart_summary{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.cart_summaryborder{
    border-top: 1px solid #DBE0E2;
    border-top: 1px solid #DBE0E2;
    width: calc(100% + 60px);
    margin-left: -30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.cart_summaryContentbox{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#cart_summaryProductTable_length,#cart_summaryProductTable_filter,#cart_summaryProductTable_info,#cart_summaryProductTable_paginate{
    display: none;
}
#cart_summaryProductTable { 
    empty-cells: show;
    display: block;
}
.cart_summaryProductTableMob{
    display: none;
}
cart_summaryProductTable_wrapper{
    overflow-x: auto;
}
#cart_summaryProductTable tbody tr{ 
    border-top: 2px solid #DBE0E2;
}
#cart_summaryProductTable tbody tr:last-child,#cart_summaryProductTable tbody tr:nth-last-child(2){ 
    border: none;
    padding: 20px 0px;
}
#cart_summaryProductTable tbody tr td:first-child{ 
    text-align: left;
    color: #5D6F7B;
    width: 136px !important;
}
#cart_summaryProductTable tbody tr:nth-last-child(2) td:first-child,#cart_summaryProductTable tbody tr:last-child td:first-child{ 
    font-family: 'CamptonSemiBold';
    color: #2A3237;
}
#cart_summaryProductTable tbody tr td{ 
    text-align: center;
    color: #2A3237;
    font-family: 'Campton-Book';
    font-size: 14px;
    line-height: 18px;
    padding: 15px 0px;    
}
#cart_summaryProductTable tbody tr td:first-child:first-line{
    color: #2A3237;
}
#cart_summaryProductTable th{ 
    text-align: center;
    font-size: 12px;
    color: #2A3237;
    font-family: 'Campton-Medium'; 
    line-height: 16px;
    padding: 20px;
    width: auto !important;
}
#cart_summaryProductTable th span{ 
    text-align: center;
    font-size: 10px;
    color: #6D7E88;
    font-family: 'Campton-Book';
    line-height: 15px;
}
.cart_summaryProductselection{
    font-family: 'CamptonSemiBold';
    font-size: 14px;
    color: #2A3237;
    width: 220px;
    cursor: pointer;
    display: flex;
}
.cart_summaryProductselection .global_blackarrow{
    transform: rotate(180deg);
    margin-left: -7px;
    margin-right: 15px;
    position: relative;
}
.cart_summarytable{
    padding-top: 23px !important;
    overflow-x: auto;
}
.cart_summarybillingHeader,.cart_summarypayerHeader{
    font-size: 18px;
    font-family: 'Campton-Medium';
    margin: 25px 0px;
    color: #2A3237;
}
.cart_summarybillingaddressline,.cart_summarypayeraddressline{
    margin-bottom: 10px;
    font-size: 16px;
    color: #2A3237;
    font-family: 'Campton-Book';
}
.cart_summarybillingtext,.cart_summarypayertext{
    font-size: 15px;
    color: #2A3237;
    font-family: 'Campton-Book';
    line-height: 21px;
    font-style: italic;
    margin-bottom: 10px;
}
.cart_summaryupdatebilling,.cart_summaryupdatepayer{
    font-family: 'CamptonSemiBold';
    font-size: 14px;
    color: #2A3237;
    width: 300px;
    cursor: pointer;
}
.cart_summaryupdatebilling .fa-long-arrow-right,.cart_summaryupdatepayer .fa-long-arrow-right{
    margin-left: 20px;
}
.cart_summaryPO,.cart_summaryorderTotal,.cart_summaryshipping,.cart_summaryexpected{
    font-size: 18px;
    font-family: 'Campton-Medium';
    margin: 50px 0px 25px;
    color: #2A3237;
}
.cart_summaryPOlabel{
    font-size: 12px;
    font-family: 'Campton-Medium';
    color: #5D6F7B;
    margin-bottom: 10px;
}
.cart_summaryPOinput,.cart_summarysubTotal,.cart_summaryexcise,.cart_summarytotal{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.cart_summaryPOinput input{
    border: 1px solid #5D6F7B;
    width: 160px;
    height: 40px;
    padding: 10px;
}
.cart_summaryPOautogenerate{
    text-decoration: underline;
    cursor: pointer;
    margin-left: 14px;
    font-size: 14px;
}
.cart_summaryAdd{
    font-size: 14px;
    font-family: 'Campton-Medium';
    cursor: pointer;
}
.cart_summaryAdd .fa-plus-circle{
    margin-left: 6px;
}
.cart_summarysubTotal,.cart_summaryexcise,.cart_summarytotal{
    font-size: 16px;
    color: #2A3237;
    font-family: 'Campton-Book';
}
.cart_summaryLabel{
    width: 145px;
}
.cart_summarysubTotalno,.cart_summaryexciseno,.cart_summarytotalno{
    margin-left: 35px;
}
.cart_summarytotal{
    font-family: 'CamptonSemiBold';
}
.cart_summaryshippingtext,.cart_summaryexpectedtext{
    font-size: 14px;
    color: #2A3237;
    line-height: 21px;
    margin-bottom: 35px;
}
.cart_summaryshippingtext a,.cart_summaryshippingtext a:focus,.cart_summaryshippingtext a:hover,.cart_summaryexpectedtext a,.cart_summaryexpectedtext a:focus,.cart_summaryexpectedtext a:hover{
    font-family: 'Campton-SemiBold' !important;
    text-decoration: underline !important;
    color: #2A3237 !important;
    cursor: pointer;
}
.cart_summarycheckbox{
    display: flex;
    margin-bottom: 10px;
}
.cart_summarycheckbox input{
    color: #5D6F7B;
    width: 30px;
    height: 30px;
    margin-right: 18px;
    margin-top: 0px;
    cursor: pointer;
    filter: grayscale(1);
    background-image: "url(../images/checkbox.png)"
}

.cart_summarycheckbox input[type='checkbox']::after {
    content: '';
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    margin: auto;
    background-color: #2A3237;  
}

.cart_summarycheckbox input[type='checkbox']:checked::after {
    opacity: 1;
    z-index: 1;
}
.cart_summarycheckbox input[type=checkbox]:focus{
    outline: none !important;
}
.cart_summarycheckbox label{
    font-size: 14px;
    line-height: 21px;
    color: #2A3237;
    font-family: 'Campton-Book';
    font-weight: normal;
}
.cart_summarycheckbox a,.cart_summarycheckbox a:focus,.cart_summarycheckbox a:hover{
    text-decoration: underline !important;
    color: #2A3237 !important;
    cursor: pointer;
}
.cart_summaryPlaceorder{
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Campton-SemiBold';
    float: right;
    margin-top: 20px;
    outline: none !important;
}
.cart_summaryPlaceorder.inactive{
    background-color: #EEF0F1;
    font-size: 14px;
    color: #8E9AA3;
    cursor: default;
}
.cart_summaryPlaceorder.active{
    background-color: transparent;
    font-size: 14px;
    color: #5D6F7B;
    border: 2px solid #5D6F7B;
    cursor: pointer;
}
.cart_summaryContentbox:last-child {
    margin-top: 30px;
}
/* CSS for summary ends*/
/* CSS for Cart Thankyou starts*/
.cart_thankyousection{
    border: 1px solid #DBE0E2;
    padding: 30px 30px;
    margin: 30px 45px;
    display: none;
}
.cart_thankyou{
    padding-left: 0px;
    padding-right: 0px;
}
.cart_thankyouContentbox{
    padding-left: 0px;
    margin-bottom: 30px;
}
.cart_Thankyouheader{
    font-family: 'Campton-Medium';
    font-size: 24px;
    color: #2A3237;
    padding-left: 0px;
}
.cart_Thankyoutext{
    font-family: 'Campton-Book';
    font-size: 16px;
    color: #2A3237;
    line-height: 24px;
    margin-top: 16px;
    padding-left: 0px;
}
.cart_Thankyoutext p:last-child{
    margin-bottom:30px;
}
.cart_Thankyoutext p:last-child a,.cart_Thankyoutext p:last-child a:focus,.cart_Thankyoutext p:last-child a:hover{
    font-family: 'Campton-SemiBold' !important;
    text-decoration: underline !important;
    color: #2A3237 !important;
    cursor: pointer;
}
.cart_thankyouButton{
    box-sizing: border-box;
    height: 42px;
    width: 162px;
    border: 2px solid #5D6F7B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D6F7B !important;
    background-color: transparent;
    margin-bottom: 40px;
    font-family: 'Campton-Medium';
    outline: none !important;
}
/* CSS for Cart Thankyou starts*/

/************Mobile add cart starts here***************/

@media only screen and (max-width:800px){
	#cart_section .border_cart{border:none;padding:0px;}
	#cart_section .rvw_btn{display:inline-block;margin-top:30px;}
	.mob_border{border-top:1px solid #ccc;margin-top:10px;padding-top:10px;}
	.cart_list_wrap .prod_list  div{ text-align:left !important; padding-bottom:10px;}
	#cart_section .order-listing .product_according .left-pro-list .pro_desc:last-child {
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 0px 20px !important;
	border-left:none;
	}
	#cart_section .cart_list_wrap{
	position: inherit;
    bottom: 3px;
	margin-bottom: 20px;
	}
	#cart_section .order-listing .product_according .del_section {
    padding: 10px;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 1px;
	}
	#cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(2), #cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(3), #cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(4), .pro_qty {
    padding: 0px 8px !important;
    }
	
	#cart_section .cart_doses_link{width:100%;}
	#cart_section .border_del_select{border-bottom:0px;border-left:0px;}
	#cart_section .border_cart_select{
	border-left: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
	}
	#cart_section .pro_calc_wrapper {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	}
	.spcl_3{width:100% !important;}
	.mob-prescribe{ margin:20px 0px;}
	.mob-prescribe div{padding:5px 0px;}
	.mobile-according{
	 text-align:center;
	 padding: 10px 0px;
	 border-bottom:1px solid #ccc;
	 border-left:1px solid #ccc;
	 border-right:1px solid #ccc;
	}
	.mobile-according .fa{
	font-size: 26px;
    color: #5D6F7B;}
}



@media only screen and (min-width:801px) and (max-width:1100px){
	
	.visible-ipad{ display:block !important;}
	.notvisible-ipad{ display:none;}
	#cart_section .order-listing .product_according .left-pro-list .pro_desc{line-height:inherit;}
	#cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(2), #cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(3), #cart_section .order-listing .product_according .left-pro-list .pro_desc:nth-child(4), .pro_qty {
    padding: 16px 8px 16px 6px !important;
}
	
}

/************Mobile add cart ends here***************/