.createprofile_container{
	padding-left:0;
}
.createprofile_content{

}
.createprofile_contentArea{
padding-left: 0;
display: flex;
}
.createprofile_leftimagecontainer
{
  background:#F9FAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createprofile_leftHeader{
  color: #2A3237;
  font-family: campton-medium;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  padding-top:80px;
}
.createprofile_leftsubHeader{
  color: #5D6F7B;
  font-family: campton-book;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 10px;
}
.createprofile_helptext
{
  text-align: right;
  padding: 10px 25px;
}
.createprofile_helplighttext{
  color: #5D6F7B;
  font-family: campton-book;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}
.createprofile_helpdarktext{
  color: #2A3237;
  margin-left: 7px;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  top: -1px;
  position: relative;
}
.createprofile_container .global_blackarrow
{
	margin-left:7px !important;
}

@media only screen and (max-width:991px)
{
  .createprofile_contentArea {
    flex-direction: column;
  }
  .createprofile_container,.createprofile_contentArea {
    padding-right: 0;
  }
  .createprofile_cdccontent
  {
    padding:0;
  }
  .createprofile_leftimagecontainer {
    background: #fff;
  }
  .createprofile_container .breadcrumb
  {
    padding: 10px 10px !important;
    position: absolute;
    margin-top: -240px;
  }
  .createprofile_helptext {
    margin-bottom: 15px;
  }
}




@media only screen and (min-width:469px) and (max-width:991px)
{
  .createprofile_container .breadcrumb
  {
    margin-top: -190px;
    margin-left:50px;
  }
  .createprofile_helptext {
      padding: 10px 110px;
  }
}