/************Dashboard header Starts here***************/

.dashboard_profile{
    border-left: 1px solid #AEB7BD;
    min-height: 122px;
}

.dashboard_search{
    margin-top:40px;
    padding-left:5%;
}
.dashboard_search .fa{
    font-size:16px;
    color:#5D6F7B;
}
.dashboard_search .header_search{
    padding:5px;
    color: #2A3237;
    font-family: campton-Book;
    font-size: 16px;
    line-height: 23px;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:1px solid #ccc;
    width:55%;
}
.dashboard_search .header_search:focus{
    outline:none;
}
.dashboard_cart{
    padding-top:44px;
    font-family: campton-Medium;
    font-size: 17px;
    line-height: 23px;
    color: #2A3237;
    text-align:center;
}
.dashboard_cart a:hover{
    font-family: campton-Medium;
    font-size: 17px;
    line-height: 23px;
    color: #2A3237;
    text-decoration:underline;
}
.dashboard_cart .fa{
    font-size:22px;
    color:#2A3237;
}

.dashboard_profile{
    padding-top:44px;
    font-family: campton-Medium;
    font-size: 17px;
    line-height: 23px;
    color: #2A3237;
    text-align:center;
}	
.dashboard_profile .fa{
    font-size:22px;
    color:#2A3237;
}
.dashboard-menu a{
    font-size: 18px !important;
    color: #505152 !important;
    font-family: 'Campton-bold' !important;
    font-weight: lighter !important;
}

.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: relative;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0px 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        border-right: 1px solid #eee;
        float: left;
    }
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li {
    border-bottom: 1px solid #EEF0F1;
}
.nav-sidebar > li > a {
    padding: 18px 20px;
    position: relative;
    display: block;
    text-decoration: none;
    font-family: Campton-book;
    color: #2A3237;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    transition: 0.5s;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color:#EA181B;
    background-color: #F9FAFA;
}
/*
 * Main content
 */
.main {
    bottom: 20px;
    top:0px;
    padding: 0px 0px 0 0;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    height: 120px;
}
.startorder{
    padding: 15px 30px !important;
    border: 2px solid #EA181B;
}


@media (min-width: 1024px) {
    .startorder{
        padding: 15px 15px !important;
        border: 2px solid #EA181B;
    }

}
.dashborad-create-account {
    color: #EA181B !important;
    font-size: 16px !important;
    padding: 10px 20px !important;
}
.nav-sidebar .fa-fw{
    font-size:25px;
}

#dashborad_topcontent{
    color: #ffffff;
    background-color: #5D6F7B;
    display: flex;
    align-items: center;
}

#dashborad_topcontentleftcontent {
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 2% 2%;
    margin: 1% 0%;
    font-family: Campton-medium;
}
#dashborad_topcontentleftcontent span {
    font-size: 26px;
    font-weight: 700;

}
.currently-booking {
    color: #FFFFFF;
    font-family: Campton-book;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
}
.currently-booking-seson {
    color: #FFFFFF;
    font-family: Campton-book;
    font-size: 14px;

}
.dashborad_openorders{
    text-align: right;
    font-family: Campton-book;
    font-size: 18px;
}
.dashborad_openInvoices{
    text-align: right;
    font-size: 18px;
    font-family: Campton-book;

}
.dashborad_sperator{
    border-right: 1px solid #AEB7BD;
    height: 60px;
    position: relative;
}
.dashborad_opennumbers{
    font-size: 30px;
    font-weight: 700;
    font-family: Campton-bold;
}
.dashborad_announceleftheader {
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 2% 2%;
    margin: 1% 0%;
    font-family: Campton-medium;
}
.dashborad_announceleftcontent{
    color: #5D6F7B;
    font-size: 14px;
    width: 75%;
    line-height: 1.4;
    letter-spacing: 0.25px;
    font-weight: 300;
    font-family: 'Campton-Book';
}
.dashborad_readmore{
    color: #2A3237;
    font-family: 'Campton-Book';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;	
}
.dashborad_sub_menu{
    text-decoration: none;
    font-family: Campton-book;
    color: #2A3237;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
}
.dashborad_sub_menu li{
    list-style: none;
    padding: 0px 0px 10px 0px;
}
.dashborad_sub_menu li a {
    color: #5D6F7B;
    font-family: 'Campton-Book';
    font-size: 14px;
    text-decoration: none;
}

.dashboard-orderheades{
    color: #EA181B;
    font-family: Campton-medium;
    font-size: 24px;
    font-weight: 500;
}
.dashboard-viewall{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    font-family: Campton-semiBold;
    color: #2A3237;
    text-decoration:none;
}

.dashboard-orderdetials-header{
    color: #5D6F7B;
    font-family: Campton-medium;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 0 5px 0;
}
.dashboard-orderdetials-subheader{
    color: #929ea5;
    font-family: Campton-medium;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0 5px 0;
}
.dashboard-orderdetials-text{
    color:#929ea5;
    font-family: Campton-medium;
    font-size: 10px;
    font-weight: 500;
    padding: 5px 0px;
}
.dashboard-orderdetials-status{
    color: #929ea5;
    font-family: Campton-Book;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    padding: 25% 0;
}
.dashboard-ordersborder{
    border-bottom: 1px solid #AEB7BD;
    margin: 0px 20px;
    padding-bottom: 20px;
}
.dashboard-invoicesection{
    padding: 0;
    border-right: 1px solid #AEB7BD;
    min-height: 282px;

}
.dashboard-invoicesection-header{
    color: #EA181B;
    font-family: Campton-medium;
    font-size: 24px;
    font-weight: 500;
}

.dashboard-splitscetion{
    /*margin: 30px 0px;
padding: 30px 0 0 0;
border-top: 1px solid #AEB7BD;*/
    margin: 10% 0 10% 0px;
    padding: 10% 0 0 0;
    border-top: 1px solid #AEB7BD;
}
.dashboard-invoicesection-text{
    color: #5D6F7B;
    font-family: Campton-Book;
    font-size: 15px;
    font-weight: 300;
    padding:20px 0;
}
.dashboard-pricetxt{
    color:#5D6F7B;
    font-weight: 600;
}
.dashboard-creditsection{
    padding-left: 45px;

}
.dashboard-rightheadersection{
    margin: 0 20px;
}
.dashboard-nobrder{
    margin: 0 20px;
}
.dashboard-viewinvociemargin{
    margin-top: 60px;
}
.dashboard-support-text{
    color: #2A3237;
    font-family: Campton-medium;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0;
}
.dashboard-support-emailtext{
    color: #2A3237;
    font-family: Campton-bold;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
}
.dashboard-support-emaillink{
    color: #2A3237;
    font-family: Campton-bold;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    padding: 5px 0;
}
.dashboard-support-title{
    color: #5D6F7B;
    font-family: Campton-book;
    font-size: 14px;
    padding: 5px 0;
}
.dashboard-support-name{
    color: #5D6F7B;
    font-family: Campton-bold;
    font-size: 18px;
    font-weight: bold;
    adding: 0px 0 10px 0;
}
.dashboard-supportsection{
    margin-bottom: 10%;
}
.dashboard-ordervalues{
    margin: 10% 0;
}


@media only screen and (max-width:991px){

    .dashboard-welcomesection {
        margin: 10% -15px;
    }
    .dashboard-ordervalues {
        margin: 5% -35px 10% -35px;
    }
    .dashborad_openInvoices {
        text-align: center;
        font-size: 15px;
        font-family: Campton-book;
        padding: 0;
    }
    .dashborad_openorders {
        text-align: center;
        font-family: Campton-book;
        font-size: 15px;
        padding: 0;
    }
    .dashborad_anoucementssection {
        margin-top:20px ;
    }
    .dashboard-invoicesection {
        padding: 0;
        border-right: 0px solid #AEB7BD;
        min-height: 200px;

    }
    .dashboard-splitscetion {
        margin: 5% 0 5% 0px;
        padding: 5% 0 0 0;
        border-top: 0px solid #AEB7BD;
    }	
    .dashboard-creditsection {
        padding-left: 0px;
    }
    .dashboard-invoicesection-text {
        color: #5D6F7B;
        font-family: Campton-Book;
        font-size: 15px;
        font-weight: 300;
        padding: 20px 0 0 0;
    }
    .dashboard-viewinvociemargin {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .dashboard-rightheadersection {
        margin: 0 0px;
    }
    .dashboard-ordersborder {
        border-bottom: 1px solid #AEB7BD;
        margin: 0px 0px;
        padding-bottom: 20px;
    }
    .dashboard-nobrder {
        margin: 0 0px;
    }
    .dashboard-support{
        margin: 0px -25px 20% -25px;
    }
    .dashboard-orderheades {
        color: #EA181B;
        font-family: Campton-medium;
        font-size: 24px;
        font-weight: 500;
    }
}
/************Dashboard header ends here***************/
