body  {
    background: #ffffff;
    font-family: @site-font;
    margin: 0 auto;
    // overflow-x: hidden;
}

a {
    color: @grey--110;
    text-decoration: none;
}

// h1,h2,h3,h4,h5 {
//     font-family: @content-font;
//     font-weight: @header--font-weight;
// }


// a {
//     color:@paragraph;
//     &:active {
//         color:@paragraph;  
//     }
//     &:visited {
//         color:@paragraph;  
//     }
// }

//BOOTSTRAP CONTAINER SIZES 

//@media screen and (min-width: 1200px) {
    .container {
        background: #ffffff;
        margin-left: 20px!important;
        margin-right: 20px!important;
        padding-left: 0!important;
        padding-right: 0!important;

        // background-color: yellow; 
        position:relative; 
        top:0px;
        overflow: hidden;
       
        @media (min-width: 768px) {
        //  width: 768px!important;
        //     margin-left: 30px!important;
        //   margin-right: 20px!important;
        width: 728px!important;
        margin-left: auto!important;
        margin-right: auto!important;
          
          }

        //   @media (min-width:800px) {
        //       width: 95%!important;
        //   }
          @media (min-width: 992px) {
          
            //   width: 970px!important;
            //   padding-left: 0!important;
            //   padding-right: 0!important;
            //   margin-left:20px!important;
            //   margin-right: 20px!important;
            // width: 1296px!important;
            // padding-left: 0!important;
            // padding-right: 0!important;
            // margin-left:72px!important;
            // margin-right: 72px!important;
           
          }

          @media(min-width:1024px) {
              width: 960px!important;

               margin-left:auto!important;
              margin-right: auto!important;
          }

          
          @media (min-width: 1200px) {
          
              width: 1296px!important;
              padding-left: 0!important;
              padding-right: 0!important;
              margin-left:auto;
              margin-right: auto;
            //   top: -7px;
              
          }

        //   @media(min-width: 1440px) {
        //     //   max-width: 100%;
        //       margin-left: 15%!important;
        //       margin-right: 15%!important;
        //   }

      @media(min-width:1440px) {
        // margin-left:15%!important;
        // margin-right: 15%!important;
      }
        
    }
    .container-fluid {
        overflow: hidden;
        margin-right: 0!important;
        margin-left: 0!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
//}


// @media (min-width: 768px) {
//     .container {
//       width: 750px;
//     }
//   }
//   @media (min-width: 992px) {
//     .container {
//       width: 970px;
//     }
//   }
//   @media (min-width: 1200px) {
//     .container {
//       width: 1170px;
//     }
//   }

/* BACKGROUND COLORS START */
.bg--white {
    background-color: #ffffff!important;
}

.bg--grey-110 {
    background-color: @grey--110;
}

.bg--grey-100 {
    background-color: @grey--100;
}

.bg--grey-90 {
    background-color: @grey--90;
}

.bg--grey-80 {
    background-color: @grey--80;
}

.bg--grey-70 {
    background-color: @grey--70;
}

.bg--grey-60 {
    background-color: @grey--60;
}

.bg--grey-50 {
    background-color: @grey--50;
}

.bg--grey-20 {
    background-color: @grey--20;
}

.bg--grey-10 {
    background-color: @grey--10;
}

.bg--grey-0 {
    background-color: @grey--0;
}



.bg--red-100 {
    background-color: @red--100;
}

.bg--red-110 {
    background-color: @red--110;
}

.bg-darkred {
    background-color: @three-sixty--darkred;
}


.bg--green-100 {
    background-color: @green--100;
}


/*TEAL TEXT COLORS */

.bg--teal-110 {
    background-color: @teal--110;
}

.bg--teal-100 {
    background-color: @teal--100;
}

.bg--teal-90 {
   background-color: @teal--90;
}

.bg--teal-80 {
    background-color: @teal--80;
}

.bg--teal-70 {
    background-color: @teal--70;
}

.bg--teal-60 {
    background-color: @teal--60;
}

.bg--teal-50 {
    background-color: @teal--50;
}


/* BACKGROUND COLORS END */

/* GREEN TEXT COLORS */
.text--green-100 {
    color: @green--100;
}

/*RED TEXT COLORS */
.text--red-100 {
    color: @red--100;
}
.text--red-110 {
    color: @red--110;
}
.text-darkred {
    color: @three-sixty--darkred;
}

/*GREY TEXT COLORS */

.text--grey-110 {
    color: @grey--110;
}

.text--grey-100 {
    color: @grey--100;
}

.text--grey-80 {
    color: @grey--100;
}

.text-gray-90 {
    color: @grey--90;
}

.text--grey-80 {
    color: @grey--80;
}

.text--grey-70 {
    color: @grey--70;
}

.text--grey-60 {
    color: @grey--60;
}

.text--grey-50 {
    color: @grey--50;
}

.text--grey-20 {
    color: @grey--20;
}

.text--grey-10 {
    color: @grey--10;
}

.text--grey-0 {
    color: @grey--0;
}

/*TEAL TEXT COLORS */

.text--teal-110 {
    color: @teal--110;
}

.text--teal-100 {
    color: @teal--100;
}

.text--teal-90 {
    color: @teal--90;
}

.text--teal-80 {
    color: @teal--80;
}

.text--teal-70 {
    color: @teal--70;
}

.text--teal-60 {
    color: @teal--60;
}

.text--teal-50 {
    color: @teal--50;
}

.text--midaqua {
    color: @three-sixty--midaqua;
}

.text--white {
    color: @three-sixty--white;
}

.hide {
    display: none;
}

.show {
    display:block;
}

.hide-mobile {
    display:none;
    @media(min-width:@desktop) {
        display:block;
    }
}
.hide-desktop {
    display:block;
    @media(min-width:@desktop) {
        display:none;
    }
}

.center-content {
    display:flex; 
    justify-content:center;
}
//PADDING 

.pb-sm-0 {
    @media(max-width:@mobile) {
        padding-bottom: 0px!important;
    }
}

.px-sm-20 {
   @media(max-width:@mobile) {
    padding-left: 20px!important ;
    padding-right: 20px!important;
   }
}

.pb-30-lg {
    @media(min-width:@tablet) {
        padding-bottom: 30px;
    }
}

.pb-20-md {
    @media(max-width:@xl-mobile) {
        padding-bottom: 20px;
    }
}

.pb-sm-20 {
    @media(max-width:@mobile) {
        padding-bottom: 20px!important;
    }
}

// MARGINS 

.mt-0 {
    margin-top: 0;
}
.ml-xs-30 {
    @media(max-width:@mobile){
        margin-left: 30px!important;
    }
}
.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}


.ml-n-sm-51 {
    @media(max-with:@mobile) {
        margin-left: -51px!important;
    }
}

.mt-xs-0 {
    @media(max-width:@mobile){
        margin-top: 0;
    }
}

.mt-sm-0 {
 @media(max-width:@lg--mobile){
     margin-top: 0;
 }
}

.mt-md-0 {
    @media(max-width:@xl-mobile){
        margin-top: 0!important;
    }
}

.mt-lg-0 {
    @media(max-width:1200px) {
        margin-top: 0!important;
    }
}

.mb-sm-0 {
    @media(max-width:@mobile) {
        margin-bottom: 0!important;
    }
}

.mb-md-0 {
    @media(max-width:@lg--mobile) {
        margin-bottom: 0!important;
    }
}

.mb-md-50 {
    @media(max-width:@lg--mobile) {
        margin-bottom: 50px;
    }
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px!important;
}
.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px!important;
}

.mt-lg-30 {
    @media(min-width:@tablet) {
        margin-top:30px;
    }
}

.mt-40 {
    margin-top: 40px!important;
}

.mt-50 {
    margin-top: 50px;
}


.mb-50 {
    margin-bottom: 50px;
}

.mb-70  {
    margin-bottom: 70px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

//WIDTHS 

.w-60 {
    width:60%;
}

.w-100 {
    width: 100%!important;
}

.w-104 {
    width: 104%;
}

.w-70 {
    width: 70%;
}

.w-0 {
    width: 0;
}

.w-106 {
    width: 106%;
}

.w-lg-106  {
    @media(max-width:1200px) {
        width: 106%;
    }
}

.w-xs-0 {
    @media(max-width:@mobile) {
     width: 0;
    }
 }

.w-sm-0 {
   @media(max-width:@lg--mobile) {
    width: 0;
   }
}

.w-md-0 {
   @media(max-width:@tablet) {
    width: 0;
   }
}

// SLICK CSS CAROUSEL STYLING 
.slick-dots {
     display: inline-flex;
    position: absolute;
    bottom: 0px;
    left: 43%;
    transform: translateX(-43%);
    ul {

        li{
            // color: purple!important;
            font-size: 28px;
        }
    }
}


.slick-dots ul li {
    color: #ffffff!important;
    border: 1px solid @grey--100;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid @grey--110;
    background-color: yellow!important;
}




.slick-dots li button {
    background: transparent;
    font-size: 0;
    border: none;
    outline: none;
}

// .slick-active {
//     color: @red--100!important;
//     background: yellow!important;
//     ul {
//         li {
//              border: 1px solid yellow;
//         }
//     }
// }


//SHOW / HIDE BR TAGS

.show-br--desktop {
    display: none;
    @media(min-width:@desktop) {
        display: block;
    }
}

.show-br--mobile {
    display:none;
    @media(max-width:@lg--mobile) {
        display: block;
    }
}

.hide-br-mobile {
    display: block;
    @media(max-width:@xl-mobile) {
        display: none;
    }
}

.show-br-sm-mobile {
    display:none;
    @media(max-width:@mobile) {
        display: block;
    }
}

//centered headings for content and such

.centered-header{
	text-align: center;
	margin-bottom: 20px;
	
	@media(min-width:@desktop) {
        margin-bottom: 40px;
    }
	
	&--smaller{
		@media(min-width:@desktop) {
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

//generic centered text class
.centered-text{
	text-align: center;
}

.no-underline {
    text-decoration: none!important;
}

.overflow--hidden {
    overflow: hidden;
}

.sr-text{
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}