@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html,body {
  font-family: campton-book;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body{overflow-x:hidden;}
/*************Global padding and margin custom class****************/

.clearboth{
clear: both;
}

.no-margin{margin: 0 !important;}
.no-margin-left{margin-left: 0 !important;}
.no-margin-right{margin-right: 0 !important;}
.no-margin-top{margin-top: 0 !important;}
.no-margin-bottom{margin-bottom: 0 !important;}

.no-padding{padding: 0 !important;}
.no-padding-left{padding-left: 0 !important;}
.no-padding-right{padding-right: 0 !important;}
.no-padding-top{padding-top: 0 !important;}
.no-padding-bottom{padding-bottom: 0 !important;}

.margin-T10{margin-top:10px !important;}
.margin-T20{margin-top:20px !important;}
.margin-T25{margin-top:25px !important;}
.margin-T30{margin-top:30px !important;}
.margin-B20{margin-bottom:20px !important;}
.margin-L20{margin-left:20px !important;}
.margin-R20{margin-right:20px !important;}
.margin-L10{margin-left: 10px !important;} 
.full-width{width:100%!important;} 
.margin-T30 {margin-top: 30px !important;} 
.margin-B30 {margin-bottom: 30px !important;} 

.padding-T5 {padding-top: 5px;} 
.padding-L5 {padding-left: 5px;} 
.padding-R5 {padding-right: 5px;} 
.padding-B5 {padding-bottom: 5px;}  
.padding-T10 {padding-top: 10px;} 
.padding-L10 {padding-left: 10px;} 
.padding-R10 {padding-right: 10px;} 
.padding-B10 {padding-bottom: 10px;}  
.padding-T20{padding-top:20px !important;}
.padding-B20{padding-bottom:20px !important;}
.padding-L20{padding-left:20px !important;}
.padding-R20{padding-right:20px !important;}
.padding-B15{padding-bottom:15% !important;}
.padding-L40 {padding-left: 40px !important;;} 

/* global section */

.margin--T10 {margin-top: -10px !important;}
.margin--B10 {margin-bottom: -10px !important;}
.margin--L10 {margin-left: -10px !important;}
.margin--R10 {margin-right: -10px !important;}

.margin--T20 {margin-top: -20px !important;}
.margin--B20 {margin-bottom: -20px !important;}
.margin--L20 {margin-left: -20px !important;}
.margin--R20 {margin-right: -20px !important;}



/* .row {
    margin-right: -30px;
    margin-left: -30px;
} */
/*************Global Header class starts here****************/
.header {
  background-color: #F9FAFA; 
  min-height: 64px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1100;


}
.header-nav{
  float: right;
  padding-right: 3%;

}
.header-nav ul {
list-style: none;
}
.header-nav ul li {
list-style: none;
display:inline-block;
padding:20px;

}
.header-nav ul li a {
color: #5D6F7B;
font-family: Campton-book;
font-size: 16px;
font-weight: 300;
letter-spacing: 0;
text-decoration:none;
}

.log-in {
color: #2A3237!important;
font-family: Campton-book !important;
font-weight: 600!important;

}
.for-healthcare-profe {
    height: 24px;
    width: auto;
    color: #5D6F7B;
    font-family: Campton-book;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 20px 0;
    float: left;
    padding-left: 3%;
}


.redborder{
border: 2px solid #EA181B;
}
.create-account{
color: #EA181B !important;
font-size: 16px !important;
}


.primary-nav ul {
display: flex;
flex-direction: row;
align-items: start;
list-style-type: none;
  
}
.primary-nav ul li {
   padding: 60px 46px;
/*  margin: 30px 0px; */
}
.redborder{
  padding: 19px 29px !important;
  margin: 40px 0px !important;
}
.primary-nav ul li a {
position: relative;
display: block;
text-decoration: none;
font-family: Campton-book;
color: #2A3237;
font-size: 18px;
font-weight: 600;
letter-spacing: 0;
transition: 0.5s;
text-align:right;
display: table;
}
.second_level_menu li a
{
  float:right;
  padding-top:12px;
}
.primary-nav ul li a::after {
position: absolute;
content: "";
width: 100%;
height: 3px;
top: 125%;
left: 0;
background: #EA181B;
transition: transform 0.5s;
transform: scaleX(0);
transform-origin: right;
}



.dropdown-menu li a{    
  font-size: 20px !important;
  line-height: 16px !important;
  margin-bottom: 10px !important;
padding-left:0px !important;
padding-left:0px !important;
}

.primary-nav ul li a:hover::after {
transform: scaleX(1);
transform-origin: left;


}


.primary-nav ul li:hover {
color:#000;
}


.primary-nav ul li:hover > a{

}

.primary-nav ul li:hover > ul {
display:block;
}

.primary-nav ul ul {
    background: #fff;
    padding: 0;
    text-align: right;
    display: none;
    width: 100%;
    position: absolute;
    top: 200px;
    left: 0px;
    padding-right: 4%;
}

.dropdown-menu{
content:'\f0d8';
font-family: FontAwesome;
position: absolute;
z-index:99999;
}

.dropdown_first_level{ display:inline-block !important; vertical-align:top; padding: 60px 55px !important; }

.dropdown, .dropup, .navcolumn{position:static;}
.second_level_menu{position:relative !important;top:0px !important; padding:0px !important; margin:0px -5px;}
.second_level_menu li{padding:10px 0px !important; text-align:right !important;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background:none !important;}
.dropdown-menu>li>a{padding:3px 0px !important;}
.second_level_menu li a{font-size:15px !important;}


.primary-nav { margin-bottom: 0; }
.primary-nav > li.dropdown.open { position: static; }
.primary-nav > li.dropdown.open .dropdown-menu {display:block; width: 100%;  }
.dropdown-menu>li { display: block; }

.full-width-wrapper-menu{
width:100%;
background:#fff;
position:absolute;
top:0px;
border:1px solid #ccc;
}              

.indicator_arrow
{
  color: transparent;
    font-size: 18px;
    margin-top: 28px;
    position: absolute;
    display: none;
    z-index: 100000;
}
_:-ms-lang(x), .indicator_arrow { 
                  margin-top: 26px; /* IE EDGE */
     
 }


.primary-nav .fa-angle-up{
                font-size: 26px;
    color: #ccc;
    background: #fff;
    /* z-index: 9999999; */
    font-weight: 400;
}

.headerbar{border-bottom:1px solid #ececec;}

.pro_menu li:last-child{padding-right:0px !important;}
.megamenu li:last-child{padding-right:0px !important;}
.pro_menu .dropdown_first_level{padding: 60px 50px !important;}
/*************Global Header class Ends here****************/



/*************Global Footer class starts here****************/

.footer_container{
    background: #EA181B;
    padding: 4% 3% 0% 3%;
    top: 0px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.footer_container .fotter_txt{
font-family: Campton-book;
color:#fff;
font-size:18px;

}
.footer_container .Logo_footer{
margin-bottom:20px;
}
.footer_container .Logo_footer img{
width:200px;
}
.footer_container .logo_seqirus{
margin-bottom:20px;
}
.footer_container .logo_seqirus img{
width:135px;
}
.footer_container .fotter_txt a{
font-family: Campton-medium;
color:#fff;
font-size:15px;
}              
.footer_container .fotter_txt a:hover{
text-decoration:underline;
}
.footer_container .footer_heading{
  font-family: Campton-medium;
color:#fff;
font-size:16px; 
margin-bottom:30px;
font-weight: 500;
overflow:hidden;
clear:both;
}              

.footer_container .footer_menu_list{ padding:0px;margin:0px}
.footer_container .footer_menu_list li{
font-family: Campton-book;
color:#fff;
font-size:15px; 
margin-bottom:10px;
list-style:none;
}
.footer_container .footer_menu_list li a{
font-family: Campton-book;
color:#fff;
font-size:14px;
line-height:20px;
}
.footer_container .footer_txt_disclaimer{
border-bottom: 1px solid #b6b6b3;
  margin: 20px 0px;
  padding-bottom: 20px;
}
.footer_container .footer_txt_disclaimer p{
font-family: Campton-book;
color:#fff;
font-size:12px;
line-height:16px;
}
.footer_container .footer_txt_disclaimer sup{
top: 0px;
  vertical-align: super;
  font-size: smaller;
}
.footer_container .fotter_bottom_logo{
text-align:center;
padding:20px 0px;
}
.footer_container .fotter_bottom_logo img{
padding:0px 30px;
}

/*************Global Footer class ends here****************/


/* CSS for homepage body */

.home_container
{
  max-width:1920px;
  width:100%;
  padding:0;
  margin:0 auto;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
#home_floatingbanner
{
  width:100%;
  background-color: #EA181B;
  padding:10px 30px;
  color:#ffffff;
}
#home_floattext
{
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
}
#home_closebtn
{
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0;
  text-align: right;
  cursor:pointer;
}
#home_leftheader
{
  color: #2A3237;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 2%;
  font-family:campton-medium;
}
#home_leftcontenttext
{
  color: #5D6F7B;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  margin-top: 3%;
}
#home_leftcontenttext span
{
  color: #EA181B;
  font-family: campton-bold;
}
#home_loginleftsection
{
  display:flex;
  align-items:center;
}
#home_leftcontent
{
  padding: 5% 5%;

}
#home_leftoverviewbtn
{
  margin-top: 4%;
  background-color:#EA181B;
  color: #ffffff;
  font-family: 'Campton-Medium';
  width: 160px;
  text-align: center;
  padding: 2%;
  border:none;
}

#home_leftoverviewtext
{
  color: #5D6F7B;
  margin-top: 4%;
  font-size: 13px;
}
#home_planningcontent
{
  color:#ffffff;
  background-color: #5D6F7B;
  display: flex;
  align-items: center;
}
#home_planningleftcontent
{
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0;
  padding:2% 2%;
  margin:1% 0%;
  font-family: campton-medium;
}
#home_planningrighttext
{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  width: 50;
  padding: 0% 10%;
  line-height: 24px;
  margin: 0% 0% 3% 0%;
}
#home_planninglearn
{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  padding: 0% 10%;
  line-height: 24px;
}
#home_solutionssection 
{
  text-align: center;
  margin-top:5%;
  padding-left:4%;
  padding-right:4%;
}
#home_solutionheader
{
  color: #2A3237;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0;
  font-family:campton-medium;
}
#home_solutionsubheader
{
  color: #5D6F7B;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  margin-top:1%;
  margin-bottom:1%;
}
#home_solutiontabs,#home_vaccineportfolio,#home_resourcetabs
{
  display: flex;
  justify-content: space-evenly;
}
#home_vaccineportfolio
{
  margin-top:4%;
}
.home_tabs:nth-of-type(2)
{
  margin-left:2%;
  margin-right:2%;
}
.home_tabs
{
  background-color: #F9FAFA;
  //background-color: lightgrey;
  border-radius: 2%;
  padding: 4% 2%;
  text-align: left;
}
.home_tabsimg
{
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  margin-left: -10px;
}
#home_tabimg0
{
  background-image:url("../images/icon1.png");
}
#home_tabimg1
{
  background-image:url("../images/icon2.png");
}
#home_tabimg2
{
  background-image:url("../images/icon3.png");
}
.home_tabsheader
{
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: campton-medium;
}
#home_tabheader0
{
  color: #EA181B;
}
#home_tabheader1
{
  color: #3C827A;
}
#home_tabheader2
{
  color: #5D6F7B;
}
.home_tabscontent
{
  color: #5D6F7B;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  margin-top:2%;
}
.global_greybtncontainer
{
  display: flex;
  justify-content: center;
  margin-top:4%;
}
.global_greybtn
{
  color: #5D6F7B;
  background-color:#ffffff;
  border:2px solid #5D6F7B; 
  padding:10px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
.global_redbtn
{
  color: #EA181B;
  background-color:#ffffff;
  border:2px solid #EA181B; 
  padding:10px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  margin-right:3%;
}
.home_container sup
{
  font-size:55%;
}
.global_createaccheader
{
  color: #2A3237;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0;
  font-family:campton-medium;
}
.global_createaccsubheader
{
  color: #5D6F7B;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  margin-top:3%;
}
.global_greyredbtncontainer
{
  display: flex;
  justify-content: left;
  margin-top:4%;
}
.global_dashheader
{
  color: #2A3237;
  font-family: campton-medium;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 31px;
  padding:0;
}
.global_line
{
  background-color: rgba(174,183,189,0.5);
  height: 1px;
  margin-top: 16px;
  flex: 1;
  margin-left: 2%;
}
#home_safetyinfo
{
  color: #2A3237;
  font-family: campton-medium;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top:2%;
}

.global_headerwithdash
{
  display: flex;
  justify-content: left;
}
.home_fluad
{
  background-color: #F9FAFA;
  border-radius: 2%;
  padding: 3% 2%;
}
.home_fluad:nth-of-type(2) {
  margin-left: 2%;
  margin-right: 2%;
}
.home_vaccineimg
{
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  margin-top: 10%;
  margin-bottom: 10%;
  background-position-x:center ;
}
#home_img0
{
  background-image:url("../images/Fluad_Quadrivalent_logo.png");
}
#home_img1
{
  background-image:url("../images/FLUCELVAX_Logo.png");
}
#home_img2
{
  background-image:url("../images/Afluria_Quadravalent_Logo.png");
}
.home_vaccineheader
{
  text-align: center;
  font-family: campton-medium;
  font-weight:600;
}
.home_resourceheader
{
  color: #5D6F7B;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}
.home_resources
{
  padding:0;
  background-color:#F9FAFA;
  position: relative;
}
.home_resources:nth-of-type(2)
{
  margin-left:2%;
  margin-right:2%;
}
.home_resourceimg
{
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -20px;
  height: 150px;
  margin-bottom: 10%;
  background-position-x: center;
}
#home_clinicalimg
{
  background-image:url("../images/clinical.png");
  background-color:#EEF0F1;
}
#home_financialimg
{
  background-image:url("../images/financial.png");
  background-color:#EEF0F1;
}
#home_clinical2img
{
  background-image:url("../images/clinical2.png");
  background-color:#EEF0F1;
}
.home_resourcesubheader
{
  color: #2A3237;
  font-family: campton-medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  margin-top:2%;
}
.home_resourcetext
{
  color: #5D6F7B;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom:20%;
  margin-top:2%;
}
.home_resourcelink
{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  margin-top: 5%;
  border-top: 0.5px rgba(174,183,189,0.5) solid;
  padding-top: 5%;
  font-family: campton-medium;
  font-weight:600;
}
#home_loginsection
{
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("../images/flu360-homepage-hero.jpg");
  display:flex;
}
#home_flu360overview
{
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url("../images/Createaccounthero.png");
  margin-top:5%;
  padding:10% 4% 10% 4%;
}
#home_learnseqirus
{
  background-repeat: no-repeat;
  background-size: contain;
  background-image:url("../images/learnaboutseqirus.png");
  margin-top:5%;
  padding:10% 4% 10% 4%;
}
#home_productssection,#home_resourcessection
{
  margin-top: 5%;
  padding-left: 4%;
  padding-right: 4%;
}
#home_resourcetabs
{
  margin-top:3%;
}
#home_loginrightsection
{
  padding: 30px 30px;
}
#home_rightcontent
{
  display: flex;
  background-color: #ffffff;
  padding:30px 30px;
}
#home_rightcontent form
{
  position: relative;
}
#home_loginheader
{
  color: #2A3237;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  
}
.home_loginlabel
{
  display: block;
  position: absolute;
  margin-top: -50px;
  background-color: white;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #2A3237;
  font-size: 13px;
  font-weight: 600;
  text-transform:capitalize;
}
#home_emailfield,#home_passwordfield
{
  margin-top: 25px;
  height: 40px;
  width: 100%;
  padding-left:15px;
  border: 1px solid #555;
}
.global_checkboxsection
{
  margin-top:20px;
}
.global_checkboxsection div
{
  padding:0;
}
.global_forgotpasstext
{
  text-align: right;
  color: #2A3237;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  font-family:campton-medium;
}

/* Styling Checkbox Starts */
.checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 14px;
  height: 18px;
  width: 18px;
  clear: both;
  border:1px solid;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 3px;
top: 0px;
width: 6px;
height: 12px;
border: solid #EA181B;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}

button:focus,button:active
{
  outline:none !important;
}
.global_checkboxtext
{
  color:#5D6F7B;
  display: inline-block;
  margin: 0px 10px;
  position: absolute;
  font-size: 13px;
}
.global_termstext
{
  color: #5D6F7B;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
}
.global_darktext
{
  color: #2A3237;
  font-weight: 600;
  font-family:campton-medium;
}
#home_consenttext
{
  margin-top:20px;
}
#home_loginbtn
{
  padding:20px 0px 0px 0px; 
}
#home_loginpadding
{
  padding:7px 30px;
}
#home_logintext
{
  color: #5D6F7B;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
  padding-left: 10px;
  padding-right: 0;
  line-height: 20px;
  padding-top: 10px;
}
.global_Lshape
{
  position: absolute;
  margin:-10px -15px;
}
.global_horizontalL
{
  width:20px;
  height:4px;
  margin:0px 0px;
  background-color:#AEB7BD;
}
.global_verticalL
{
  width:4px;
  height:16px;
  margin:0px 0px;
  background-color:#AEB7BD;
}
.global_whitearrow
{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/whitearrow.png);
  margin: 0% 15px;
  width: 28px;
  position: absolute;
  height: 22px;
  display: inline-block;
}
.global_blackarrow
{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/blackarrow.png);
  margin: 0% 15px;
  width: 28px;
  position: absolute;
  height: 22px;
  display: inline-block;
}
.home_resourcelink .global_blackarrow
{
  position: relative;
  margin:0;
}
.global_mobilecarousel
{
  display: flex;
  justify-content: space-between;
}
.dropdown-menu
{
  border-radius:0px;
}
.headerbar {
    background-color: #fff;
}

.banner__component a img {
    width: inherit;
}

