/* logged in error page starts*/
.LI_errorTextParent{
    padding: 120px 60px;
}
.LI_errorText1{
    font-family: 'Campton-Medium';
    font-size: 32px;
    line-height: 40px;
    color: #2A3237;
    text-align: left;
    margin-bottom: 30px;
}
.LI_errorText2{
    font-family: 'Campton-Medium';
    font-size: 20px;
    line-height: 28px;
    color: #5D6F7B;
    text-align: left;
}
.LI_errorbtnParent{
    margin-top: 40px;
}
.LI_errorReturnDashboardBtn, .LI_errorViewBtn{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #5D6F7B;
    font-family: 'Campton-SemiBold';
    color: #5D6F7B;
    outline: none !important;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFFFFF;
    float: left;
    margin-right: 20px;
}

@media only screen and (max-width:991px){
    .LI_errorTextParent{
        padding: 60px 10px;
    }
    .LI_errorText1{
        font-size: 28px;
        line-height: 32px;
        text-align: left;
    }
    .LI_errorText2{
        text-align: left;
    }
    .LI_errorReturnDashboardBtn, .LI_errorViewBtn{
        margin-top: 10px;
    }
}
/* logged in error page ends*/
