/* logged out error page starts*/
.LO_errorTextParent{
    padding: 180px;
}
.LO_errorText1{
    font-family: 'Campton-Medium';
    font-size: 32px;
    line-height: 40px;
    color: #2A3237;
    text-align: center;
    margin-bottom: 30px;
}
.LO_errorText2{
    font-family: 'Campton-Medium';
    font-size: 20px;
    line-height: 28px;
    color: #5D6F7B;
    text-align: center;
}
.LO_returnHomeBtn{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #5D6F7B;
    font-family: 'Campton-SemiBold';
    color: #5D6F7B;
    margin: 60px auto;
    outline: none !important;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFFFFF;
}

@media only screen and (max-width:991px){
    .LO_errorTextParent{
        padding: 60px 10px;
    }
    .LO_errorText1{
        font-size: 28px;
        line-height: 32px;
        text-align: left;
    }
    .LO_errorText2{
        font-size: 20px;
        line-height: 28px;
        text-align: left;
    }
    .LO_returnHomeBtn{
         margin: 60px 0px;
    }
}
/* logged out error page ends*/
