@media only screen and (max-width:991px){

  #home_floatingbanner
  {
    padding: 10px 30px;
  }
  #home_closebtn {
    padding: 0;
  }
  #home_floattext 
  {
    padding-left: 0px;
    text-align: left;
  }
  #home_loginsection
  {
    display: block;
  }  
  #home_leftcontent {
    padding: 5% 0%;
  }
  #home_leftheader {
    font-size: 28px;
    line-height: 32px;
    margin-top: 30px;
  }
  #home_leftcontenttext {
    font-size: 16px;
    margin-top: 20px;
  }
  #home_leftoverviewbtn {
    width: 130px;
    font-size: 13px;
    padding: 10px;
    margin-top:20px;
  }
  #home_loginleftsection {
    margin-bottom: 30px;
  }
  #home_loginsection
  {
    background-size: 100% 41%;
  }
  #home_loginrightsection,#home_rightcontent {
    padding: 0px 0px;
  }
  #home_loginheader {
    font-size: 19px;
    padding-top: 30px;
  }
  #home_emailfield, #home_passwordfield {
    margin-top: 30px;
    height: 35px;
  }
  .home_loginlabel
  {
    margin-top: -45px;
  }
  .global_checkboxsection {
    margin-top: 30px;
  }
  #home_logintext {
    padding-left: 0px;
    padding-top: 20px;
    margin-bottom:30px;
  }
  #home_planningcontent
  {
    display: block;
  }
  #home_planningleftcontent {
    font-size: 22px;
    padding: 30px 20px 10px 20px;
  }
  #home_planningrighttext {
      padding: 10px 8px;
      line-height: 22px;
      margin: 0% 0% 3% 0%;
  }
  #home_planninglearn {
      font-size: 13px;
      padding: 0px 10px 30px 10px;
      line-height: 24px;
  }
  #home_solutionssection {
      margin-top: 10%;
  }
  #home_solutionsubheader {
      font-size: 15px;
      margin-top: 2%;
      margin-bottom: 1%;
      padding-left: 10px;
      padding-right: 10px;
  }
  #home_solutiontabs, #home_vaccineportfolio, #home_resourcetabs {
      display: block;
  }
  .home_tabs {
      padding: 0px 15px 20px 15px;  
      margin-top: 20px;
  }
  .home_tabsimg {
      margin-left: -15px;
  }
  .home_tabsheader {
      font-size: 20px;
      font-weight: 500;
  }
  .home_tabscontent {
      font-size: 14px;
      margin-top: 2%;
  }
  .home_tabs:nth-of-type(2) {
      margin-left: 0%;
      margin-right: 0%;
  }
  .global_greybtncontainer {
      margin-bottom: 4%;
  }
  .global_greybtn {
      padding: 8px 15px;
      font-size: 12px;
  }
  #home_flu360overview {
      padding: 10% 0% 10% 0%;
  }
  .global_createaccheader {
      font-size: 26px;
      margin-top: 190px;
      line-height: 30px;
  }
  .global_greyredbtncontainer {
      margin-top: 20px;
  }
  .global_redbtn {
      padding: 10px 10px;
      font-size: 13px;
  }
  .global_line {
      display: none;
  }
  .home_fluad {
      margin-bottom: 20px;
  }
  .home_fluad:nth-of-type(2) {
      margin-left: 0%;
      margin-right: 0%;
  }
  #home_safetyinfo {
      font-size: 13px;
      line-height: 22px;
  }
  .home_resources:nth-of-type(2) {
      margin-left: 0%;
      margin-right: 0%;
  }
  .home_resourcesubheader {
      font-size: 18px;
  }
  .home_resourcetext {
      font-size: 13px;
      margin-bottom: 25%;
  }
  #home_learnseqirus .global_greyredbtncontainer
  {
      padding-right:0px;
  }
  #home_resourcessection {
    margin-top: 5%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .global_mobilecarousel
  {
    display: block;
  }
  .carousel
  {
    padding-bottom:40px !important;
  }
  .carousel-indicators
  {
    bottom:0px !important;
  }
  .carousel-control.left,.carousel-control.right
  {
    background-image: none !important;
  }
  .carousel-indicators li {
    background-color: white;
    border: 1px solid #000;
  }
  .carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 1px; 
    background-color: #EA181B;
    border:none !important; 
  }
  .multi-item-carousel {
    overflow: hidden;
    padding:0;
  }
  .home_resourcescontent {
    height: auto;
    width: 100%;
  }
  .multi-item-carousel .carousel-control.left, 
  .multi-item-carousel .carousel-control.right {
      width: 10%;
  }
  .multi-item-carousel .carousel-inner {
    width: 150%;
    left: -25%;
  }
  .carousel-inner > .item.next, 
  .carousel-inner > .item.active.right {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
  }
  .carousel-inner > .item.prev, 
  .carousel-inner > .item.active.left {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
  }
  .item__third {
    float: left;
    position: relative; 
    width: 23%;
  }
  .item__third .home_resourceimg{
    background-size: 100% 115%;
  }
  .item__third .home_resourceheader,.item__third .home_resourcesubheader,.item__third .home_resourcetext,.item__third .home_resourcelink{
    display: none;

  }
  .item__third .home_resourceheader,.item__third .home_resourcesubheader,.item__third .home_resourcetext,.item__third .home_resourcelink{
    display: none;
  }
  .global_mobilecarousel .active .item__third:nth-of-type(2) .home_resourceheader,.global_mobilecarousel .active .item__third:nth-of-type(2) .home_resourcesubheader,.global_mobilecarousel .active .item__third:nth-of-type(2) .home_resourcetext {
    display: block;
  }
  .global_mobilecarousel .active .item__third:nth-of-type(2) .home_resourcelink {
    display: flex;
  }
  .global_mobilecarousel .item__third:nth-of-type(2) {
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .carousel-inner>.item {
    -webkit-transition: -webkit-transform 0.1s ease-out;
    -o-transition: -o-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
  }
  .home_resourceimg
  {
    background-size: cover;
  }
  #home_dashleftpadding
  {
    padding-left:45px !important;
    padding-top:20px;
  }
  .primary-nav ul
  {
    width:auto;
  }
   /* CSS for Support Contact starts*/
    .global_verticalL,.global_horizontalL{
        margin-left: 8px;       
    }
    .Support_container .container-fluid{
        width: 100%;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .Support_header{
        font-size: 36px;
    }
    .Support_text{
        font-size: 20px;
        line-height: 26px;
    }
    .Support_adverseReporting{
        border: none;
        border-top: 1px solid #AEB7BD;
        border-bottom: 1px solid #AEB7BD;
        padding: 30px 0px !important;
        
    }
    .Support_medicalCommunication{
        padding: 30px 0px 0px !important;

   }
   .Support_flu360{
      padding-bottom: 30px !important;
      padding-right: 0px !important;
   }
   /* CSS for Support Contact ends*/
}

@media only screen and (min-width:480px) and (max-width:991px){
  
  #home_rightcontent
  {
    padding-right: 100px;
    padding-left: 100px;
  }
  #home_flu360overview {
    background-size: 100% 50%;
  }
  #home_flu360overview {
    padding: 20% 0% 10% 0%;
}
  #home_solutionssection {
      margin-top: 7%;
  }
  #home_productssection, #home_resourcessection {
    margin-top: 0%;
  }
  .home_resourceimg {
    height: 220px;
  }
  #home_learnseqirus {
    padding: 30% 4% 10% 4%;
  }
  .home_resourceimg {
    height: 280px;
  }
}
@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
  .footer_container{
      display: flex !important;
    }
}
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation:portrait){
  .footer_container{
      display: flex !important;
    }
}


@media only screen and (min-width:1600px){
	.container-lg{min-width:1650px;}
	.primary-nav ul{ float:right;}
}	

.for-healthcare-profe-mob {
    color: #5D6F7B;
    font-family: Campton-book;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 20px;
}

/************Mobile header starts here***************/

.mob-menu{
	padding-top:40px;
	text-align:right;
}

.mob-menu .fa{
	font-size:20px;
}
.mob-logo-wrap{overflow:hidden;}
.mob_exp_menu{display:none;border-bottom:1px solid #eaecec;border-top:1px solid #eaecec; padding:20px 0px;}
.mob-menu .fa-times{font-size:24px; font-weight:lighter;}

.panel-heading {
  position: relative;
}
.panel-heading[data-toggle="collapse"]:after {
  font-family: 'FontAwesome';
  content: "\f107"; 
  position: absolute;
  color: #EA181B;
  font-size: 24px;
  line-height: 22px;
  right: 20px;
  top: calc(50% - 10px);
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
}
.panel-heading[data-toggle="collapse"].collapsed:after {
	color: #000;
  -webkit-transform: rotate(0deg);
  -moz-transform:    rotate(0deg);
  -ms-transform:     rotate(0deg);
  -o-transform:      rotate(0deg);
  transform:         rotate(0deg);
}

.mob_exp_menu .panel-group{margin-bottom:0px;}
.mob_exp_menu .panel-group .panel{border:none;}
.mob_exp_menu .panel-default>.panel-heading{background:none; border:none;}
.mob_exp_menu .panel{box-shadow:none;}
.mob_exp_menu .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{border:none;}
.mob_exp_menu .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: #505152;
	font-family: 'Campton-bold';
    font-weight: lighter;
}
.mob_sub_menu{ padding:0px; margin:0px;}
.mob_sub_menu li{list-style:none;padding:0px 0px 15px 0px;}
.mob_sub_menu li:last-child{ padding-bottom:0px;}
.mob_sub_menu li a{
	font-family: 'Campton-Book';
	color:#000;
	padding:10px 0px;
	font-size:18px;
		
}
.mob_sub_menu .second_level_mob_sub{
	padding: 0px;
    margin: 14px 0px 0px 10px;
}

.mob_sub_menu .second_level_mob_sub li a{ color:#5D6F7B;}
.panel-title-default a{
	margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
	font-family: 'Campton-Book';
    font-weight: lighter;
	color:#5D6F7B;
}
.panel-title-default {
    margin: 5px 0px 5px 0px;
    padding: 0px;
}
.mob_exp_menu .default-mob-menu-item{
    padding: 19px 0px 0px 0px;
    overflow: hidden;
    border-top: 1px solid #eaecec;
}	
.mob_exp_menu .redborder {
    padding: 14px 10px !important;
	margin:0px !important;
	text-align: center;
}

.mob-login-icon a {
    color: #5D6F7B;
    font-family: Campton-book;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0;
    text-decoration: none;
}

.mob-login-icon{
	text-align:center;
	margin-top:13px;
}


@media only screen and (max-width:1000px){
.footer_container .Logo_footer img{max-width:140px;}
.footer_container .footer_heading{ margin-bottom:20px;}	
.footer_menu_list{ margin-bottom:20px !important;}
.footer_menu_list_nav li{display:inline-block; width:48%;}
.footer_container .footer_txt_disclaimer p{line-height:20px;}	
.footer_container .fotter_bottom_logo img {
    padding: 0px 0px;
    width: 120px;
}	
}	

/************Mobile header Ends here***************/

@media only screen and (min-width:900px) and (max-width:1100px) and (orientation:landscape){
	.dropdown_first_level {
    padding: 60px 30px !important;
}
.primary-nav ul li {
   padding: 60px 32px ;
}
.primary-nav ul{
	width:800px;
}
.redborder {
    padding: 19px 29px !important;
    margin: 40px 0px !important;
}
	
}

@media only screen and (min-width:1900px){
	.navcolumn{padding-right:3%;}
	.for-healthcare-profe{padding-left: 2%;}
	.header-nav{padding-right: 2%;}
	
}
.dashboard-title{padding:10px 15px; color:red;font-family: campton-Medium;}

