/************orders page start here***************/
#orders_topcontent {
  color: #ffffff;
  background-color: #5D6F7B;
  display: block;
  align-items: center;
}
#orders_topcontentleftcontent {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 2% 2%;
  margin: 1% 0%;
  font-family: Campton-medium;
}
#ordergraphcontainer {
  min-width: 200px;
  max-width: 600px;
  height: 375px;
  margin: 0 auto;
/*  border-radius: 120px;*/
}
.orders_graphtitle {
  text-align: center;
  margin: 40px 0 20px 0;
  color: #EA181B;
  font-family: 'Campton-Medium';
  font-size: 24px;
  font-weight: 500;
}
.orders_graphshiptitle {
  text-align: left;
  margin: 40px 0 20px 0;
  color: #EA181B;
  font-family: 'Campton-Medium';
  font-size: 24px;
  font-weight: 500;
}
.orders_graphsubtitle {
  color: #2A3237;
  font-family: Campton-semibold;
  font-size: 18px;
  font-weight: 600;
  margin: 0 20px;
}
.orders_nextdeliverble {
  color: #5D6F7B;
  font-family: Campton-book;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.orders_monthdelverytxt {
  color: #2A3237;
  font-family: Campton-medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
}
.orders_estimatetxt {
  color: #2A3237;
  font-family: Campton-semiBold;
  font-size: 16px;
  font-weight: 600;
}
.orders_monthtxt {
  color: #5D6F7B;
  font-family: Campton-book;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0;
}
.orders_locationtxt {
  color: #2A3237;
  font-family: Campton-semiBold;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0 10px 0;
}
.orders_locationprodtxt {
  color: #5D6F7B;
  font-family: Campton-book;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0;
  width: 200px;
}
.orders_locrowbroder {
  border-bottom: 1px solid #DBE0E2;
  width: 90%;
}
.orders_viewall {
  color: #2A3237;
  font-family: Campton-semiBold;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0 20px 0;
}
.orders_titeltop {
  color: #FFFFFF;
  font-family: Campton-medium;
  font-size: 24px;
  font-weight: 500;
}
.orders_titeltop_sub {
  color: #FFFFFF;
  font-family: Campton-book;
  font-size: 14px;
  font-weight: 320;
  line-height: 27px;
  width: 300px;
}
.orders_titeltop_sub a {
  color: #FFFFFF;
  font-family: Campton-book;
  font-size: 16px;
  font-weight: 320;
  line-height: 27px;
  width: 300px;
  text-decoration: underline;
}
.orders_righttitle {
  color: #EEF0F1;
  font-family: Campton-book;
  font-size: 20px;
  font-weight: 300;
}
.orders_titleyear {
  color: #FFFFFF;
  font-family: Campton-medium;
  font-size: 20px;
  font-weight: 500;
}
.orders_titlsubtext {
  color: #FFFFFF;
  font-family: Campton-book;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 20px 0 10px 0;
}
.orders_titlsubtext_year {
  color: #FF00FF;
  font-family: Campton-medium;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  text-align: right;
  width: 300px;
}
#orderslabelname {
  width: 380px;
  font-family: Campton-semibold;
  font-size: 15px;
  font-weight: 500;
  color: #2A3237;
  display: inline-block;
  float: left;
}
#orderpercnetage {
  margin: 0 75%;
  font-family: Campton-semibold;
  font-size: 15px;
  font-weight: 500;
  color: #2A3237;
  position: absolute;
}
.orders_rightbottomborder {
  border-bottom: 1px solid #DBE0E2;
  margin-top: 20px;
}
.orders_newordertitle {
  text-align: left;
  margin: 30px 0 20px 10%;
  color: #EA181B;
  font-family: 'Campton-Medium';
  font-size: 24px;
  font-weight: 500;
}
.orders_rowsection {
  background: #F9FAFA;
  padding: 0px 4%;
  margin: 0 0;
}
.orders_neworderbox1 {
  width: 370px;
  padding: 10px;
  border: 1px solid #DBE0E2;
  margin: 0 0 0 13%;
  background-color: #FFFFFF;
}
.orders_neworderbox2 {
  width: 370px;
  padding: 10px;
  border: 1px solid #DBE0E2;
  margin: 20px 0 40px 13%;
  background-color: #FFFFFF;
}
.orders_neworderbox2 a {
  text-decoration: none;
}
.orders_boxtext1 {
  color: #5D6F7B;
  font-family: Campton-book;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 15px 0 10px 0;
}
.orders_neworderbox1 a {
  text-decoration: none;
}
.orders_boxtext2 {
  color: #2A3237;
  font-family: Campton-medium;
  font-size: 20px;
  font-weight: 500;
  padding: 0 0 15px 0;
  line-height: 20px;
}
.orders_global_blackarrow {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/blackarrow.png);
  margin: 0% 15px;
  width: 28px;
  height: 22px;
  display: inline-block;
}
.orders_producttitle {
  color: #EA181B;
  font-family: Campton-medium;
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0px 10px 12%;
  width: 215px;
}
.orders_productyear {
  color: #2A3237;
  font-family: Campton-semibold;
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0px 10px 5%;
  padding: 0 10%;
}
.orders_prodbox {
  width: 80%;
  padding: 10px;
  margin: 0px 0 0px 10%;
}
.orders_avilabletxt {
  display: inline-block;
  background-color: #23A815;
  width: 25%;
  padding: 1px 10px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-family: Campton-book;
  border-radius: 2px;
  font-weight: 300;
}
.orders_soldouttxt {
  display: inline-block;
  background-color: transparent;
  width: 25%;
  padding: 1px 10px;
  font-size: 12px;
  color: #6D7E88;
  text-align: center;
  font-family: Campton-book;
  border-radius: 2px;
  font-weight: 600;
  border: 1px solid #DBE0E2;
}
.orders_prodtext1 {
  color: #5D6F7B;
  font-family: Campton-book;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 15px 0 10px 0;
}
.orders_prodtext2 {
  color: #2A3237;
  font-family: Campton-semiBold;
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 15px 0;
  line-height: 20px;
}
.orders_prodboxlast {
  width: 80%;
  padding: 10px;
  margin: 0px 0 10% 10%;
}
.orders_latesshipment {
  color: #EA181B;
  font-family: Campton-medium;
  font-size: 24px;
  font-weight: 500;
}
.orders_viewalltxt {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: Campton-semiBold;
  color: #2A3237;
  text-decoration: none !important;
  margin: 10px 15%;
 
}

.orders_bordertop {
  border-top: 1px solid #DBE0E2;
  margin: 10% -15px 0 -15px;
}
.orderlandingshipment {
  padding: 0 20px;
}
.orderlandingshipment table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 25px 10px 10px;
  border-bottom: 1px solid #F9FAFA;
  background-color: #F9FAFA;
  color: #2A3237;
  font-family: Campton-medium;
  font-size: 14px;
  font-weight: 500;
 
  text-align: left;
}
.orderlandingshipment table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px 10px;
  color: #5D6F7B;
  font-family: Campton-book;
  font-size: 14px;
  font-weight: 300;
  border: none !important;
}
.orderlandingshipment table.dataTable tbody th,
table.dataTable tbody td a:last-child {
  color: #2A3237;
  font-family: Campton-semiBold;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.orderlandingshipment table.dataTable tbody th:nth-child(3),
table.dataTable tbody td:nth-child(1) {
  width: 70px !important;
}
.orderlandingshipment table.dataTable tbody th:nth-child(3),
table.dataTable tbody td:nth-child(2) {
  width: 70px !important;
}
.orderlandingshipment table.dataTable tbody th:nth-child(3),
table.dataTable tbody td:nth-child(3) {
  width: 160px !important;
}

.orderlandingshipment table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #ffffff !important;
}
.orderlandingshipment table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background-color: #f9f9f9 !important;
}

#orderlanding_calendar {
    width: 300px;
    margin: 0 -20%;
    font-size: 12px;
    padding: 0 10px;
  	
}

 .fc-day-grid-container{
	height: 10% !important;
    overflow: hidden !important;
}
.fc-toolbar {
    font-size: .9em;
}
.fc-toolbar h2 {
    font-size: 12px;
    white-space: normal !important;
}
/* click +2 more for popup */
.fc-more-cell a {
    display: block;
    width: 85%;
    margin: 1px auto 0 auto;
    border-radius: 3px;
    background: grey;
    color: transparent;
    overflow: hidden;
    height: 4px;
}
.fc-more-popover {
    width: 100px;
}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event, .fc-content {
    font-size: 0;
    overflow: hidden;
    height: 2px;
}
.fc-view-agendaWeek .fc-event-vert {
    font-size: 0;
    overflow: hidden;
    width: 2px !important;
}
.fc-agenda-axis {
    width: 20px !important;
    font-size: .7em;
}

.fc-button-content {
    padding: 0;
}
.fc-ltr .fc-basic-view .fc-day-number {
    text-align: center;
}
.fc td, .fc th {
    border: none !important;
    padding: 3px 2px;
    vertical-align: middle;
}

.fc-day-number.fc-other-month {
    opacity: .4;
    filter: alpha(opacity=30);
}
.fc-unthemed .fc-today {
    background: #fff;
}
.fc-toolbar .fc-center {
    display: inline-block;
    color: #2A3237;
    font-family: Campton-semibold;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
	margin: 5px 0;
}
.fc button .fc-icon {
    position: relative;
    top: -.05em;
    margin: 0 .2em;
    vertical-align: middle;
}
.fc-icon {
    height: 1em;
    line-height: 1em;
    overflow: hidden;
    font-family: Courier New,Courier,monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fc-state-default {
    background: none!important;
    border: none!important;
    box-shadow: none!important;
}
.fc-icon-left-single-arrow:after {
    content: "\02039";
    font-weight: 700;
    font-size: 300%;
    top: -7%;
}
.fc-icon-right-single-arrow:after {
    content: "\0203A";
    font-weight: 700;
    font-size: 300%;
    top: -7%;
}
.fc th {
    border: none !important;
    padding: 9px 2px;
    vertical-align: middle;
}
.fc-event {
   
   position: relative;
    display: block;
    background: transparent;
    border: transparent;
}


/*.fc-day-grid-event {
    margin: -25px 2px 0;
    padding: 12px 1px;
}*/
.fc-bgevent {
    background: #5D6F7B;
    color: #fff !important;
    border-radius: 35px;
    padding: 0;
}
.fc-bgevent, .fc-highlight {
    opacity: 1; 
    filter: alpha(opacity=100);
  
}
.fc-bg, .fc-row .fc-bgevent-skeleton, .fc-row .fc-highlight-skeleton {
   bottom: 40%;
}
.fc-row.fc-rigid .fc-content-skeleton {
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
	
}
 .fc-ltr .fc-basic-view .fc-day-number {
    text-align: center;
   color:#2A3237;
}

 .popover {
	border: none;
	min-width: 300px !important;
	width: 100%;
	top: 720px !important;
	left: 1030.234px !important;
	 border: 1px solid #DBE0E2;
	 -webkit-box-shadow: none !important;
     box-shadow: none !important;
	 line-height:15px;
}
 .popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: none !important;
    border-bottom-color: none !important;
}
 .popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: none;
}
.orders_eventtitle{
	color: #5D6F7B;
  font-family: Campton-book;
  font-size: 16px;
  font-weight: 300;
}
.orders_popupdelverydate{
	color: #EA181B;
  font-family: Campton-semiBold;
  font-size: 18px;
  font-weight: 600;
}
.orders_popviewtracking{
	color: #2A3237;
  font-family:  Campton-semiBold;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.orders_popupordersinfo{
	border-top: 1px solid #DBE0E2;
    border-bottom: 1px solid #DBE0E2;
       margin: 20px -15px 0px -15px;
    padding: 10px 15px;
	background-color: #F9FAFA;
}
.orders_popuporderinfotitle{
	color: #2A3237;
  font-family: Campton-semiBold;
  font-size: 14px;
  font-weight: 600;
}
.orders_popupsubtitle{
	 color: #5D6F7B;
  font-family: Campton-book;
  font-size: 13px;
  font-weight: 300;
}
.orders_popupordersprodinfo{
	background-color: #F9FAFA;
	    margin: 0 -15px 0px -15px;
    padding: 15px 5px 0px 10px;
}
.popover-content {
    padding: 0px 15px;
}
.fc-basic-view .fc-body .fc-row {
    min-height: 3em;
}

 a:focus, a.active {
    color: #EA181B !important;
    font-family: 'Campton-semibold' !important;
    text-decoration: none;
}

.orders_cal-delivered{
	 position: relative;
    display: list-item;
	background: transparent !important;
	 border-radius: 70px;
    border: 1px solid #EA181B;
    background-color: #EA181B;
    font-weight: 400;
    width: .2em;
   	 left: 40%;
	margin: 0 0px;
    box-sizing: content-box;
    width: 0;
    height: 0;
    border: 2px solid #EA181B;
    //border: calc(var(--fc-daygrid-event-dot-width,4px)/ 2) solid var(--fc-event-border-color,#EA181B);
    border-radius: 2px;
    //border-radius: calc(var(--fc-daygrid-event-dot-width,16px)/ 2)
}
.fc-past{
	background: transparent !important;
	color: #2A3237!important;
}

.orders_cal-delivered-click{
	
   width: 20px;
    height: 20px;
    background: #EA181B;
    color: #fff;
    position: absolute;
    top: -25px;
    border-radius: 50%;
    left: 7px;
   /* z-index: -999;*/
   cursor: pointer;
}
.fc-event-container{
	position: relative;
	 cursor: pointer;
	
}
/* Mobile code start */
@media screen and (max-width:991px) {
	
  #orders_topcontentleftcontent {
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 2% 2%; 
    margin: 5% 0%;
    font-family: Campton-medium;
}
.orders_titlsubtext {
    color: #FFFFFF;
    font-family: Campton-book;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 20px 0 10px 15px;
	    width: 200px;
}
.orders_titlsubtext_year {
    color: #FF00FF;
    font-family: Campton-medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: left;
    width: 300px;
}
.orders_titeltop {
   
    margin: 0 -15px;
}
.orders_titeltop_sub {
   
    margin: 0 -15px;
}
.orders_graphtitle {
    text-align: left;
    margin: 40px 0 20px -10px;
    
}
.orders_graphsubtitle {
   
    margin: 0 0px;
}
.orders_rowsection {
    background: #F9FAFA;
    padding: 0px 4%;
    margin: 0 -15px;
}
.orders_newordertitle {
    text-align: left;
    margin: 30px 0 20px 0%;
  
}
.orders_neworderbox1 {
    width: 330px;
    padding: 10px;
    border: 1px solid #DBE0E2;
    margin: 0 0 0 0%;
    background-color: #FFFFFF;
}
.orders_neworderbox2 {
    width: 330px;
    padding: 10px;
    border: 1px solid #DBE0E2;
    margin: 20px 0 40px 0%;
    background-color: #FFFFFF;
}
.orders_prodbox {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 0px 0%;
}
.orders_prodboxlast {
    width: 100%;
    padding: 10px;
    margin: 0px 0 10% 0%;
}
.orders_producttitle {
    color: #EA181B;
    font-family: Campton-medium;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0px 10px 3%;
     width: 100%; 
}
.orders_productyear {
    color: #2A3237;
    font-family: Campton-semibold;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 10px -3%;
    padding: 0 10%;
}
.orders_avilabletxt {
    display: inline-block;
    background-color: #23A815;
    width: 25%;
    padding: 1px 5px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-family: Campton-book;
    border-radius: 2px;
    font-weight: 300;
}
.orders_graphshiptitle {
    text-align: left;
    margin: 40px 0 20px 20px;
    color: #EA181B;
    font-family: 'Campton-Medium';
    font-size: 24px;
    font-weight: 500;
}
.order_deliverytxt{
	margin:0 10px;
}
.orders_locationtxt {
   
    padding: 15px 0 10px 20px;
}
.orders_locationprodtxt {
    color: #5D6F7B;
    font-family: Campton-book;
    font-size: 13px;
    font-weight: 300;
    padding: 5px 20px;
   width: 100%; 
}
.orders_viewall {
   
    padding: 10px 0 20px 15px;
}
#orderlanding_calendar {
    width: 100%;
    margin: 0 ;
    font-size: 12px;
    padding: 0 10px;
}
.orders_viewalltxt {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    font-family: Campton-semiBold;
    color: #2A3237;
    text-decoration: none !important;
    margin: 10px 0%;
}
.orders_latesshipment {
    
    margin-left: 15px;
}
 .orders_shipmentcol {display: none;}

li[data-dtr-index="2"] {display: none;}

.popover {
    border: none;
    min-width: 300px !important;
    width: 100%;
    top: 2750.08px !important;
    left: 15px !important;
    border: 1px solid #DBE0E2;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    line-height: 15px;
    position: absolute;
}
.orders_bordertop {
    border-top: 1px solid #DBE0E2;
    margin: 115% -15px 5% -15px;
}
.fc-basic-view .fc-body .fc-row {
    min-height: 3em;
}
}

/* ipad code start */
@media only screen and (min-width: 768px) and (max-width: 992px){
.orders_neworderbox1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #DBE0E2;
    margin: 0 0 0 0%;
    background-color: #FFFFFF;
}
.orders_neworderbox2 {
    width: 100%;
    padding: 10px;
    border: 1px solid #DBE0E2;
    margin: 20px 0 40px 0%;
    background-color: #FFFFFF;
}
.fc-basic-view .fc-body .fc-row {
    min-height: 3em;
	    height: 0 !important;
}
.orders_cal-delivered{
	left: 46%;
}
.orders_cal-delivered-click {
    width: 20px;
    height: 20px;
    background: #EA181B;
    color: #fff;
    position: absolute;
    top: -25px;
    border-radius: 50%;
    left: 37px;
  
    cursor: pointer;
}
.popover {
    border: none;
    min-width: 300px !important;
    width: 100%;
    top: 2875.08px !important;
    left: 15px !important;
    border: 1px solid #DBE0E2;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    line-height: 15px;
    position: absolute;
}
.orders_bordertop {
    border-top: 1px solid #DBE0E2;
    margin: 55% -15px 5% -15px;
}
 .orders_shipmentcol {display: block;}

li[data-dtr-index="2"] {display: block;}
}

/************orders page ends here***************/
