.page-references {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
    @media(min-width:@tablet) {
        padding-left: 20px;
        padding-right: 20px;
        // margin-left: auto;
        // margin-right: auto;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        color: @grey--100;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        word-break: break-word;
        @media(min-width:@tablet) {
            width: 100%;
            word-break: initial;
        }

    }
}