@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.margin-B10{margin-bottom:10px !important;}
.redborder{
    border: none;
    background-color: #F9FAFA;
    padding: 26px 29px !important;
    margin: 35px 0px !important;
    pointer-events: none;
}
.create-account {
    color: #5D6F7B !important;
    font-size: 16px !important;
    font-family: 'CamptonSemiBold' !important;
}
.primary-nav ul li .create-account::after{
    display: none;
}
.global_blackarrow
{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/blackarrow.png);
    margin: 0% 10px;
    width: 28px;
    position: absolute;
    height: 22px;
    display: inline-block;
}
.padding-R15{
    padding-right: 15px;
}
.registration{
    border-top: 1px solid #DBE0E2;
    margin-bottom: 50px;
}
.registration_leftside,.registration_rightside{
    padding: 25px 35px;
}
.registration_nagivation{
    padding-top: 45px !important;
    font-size: 18px;
    font-family: 'Campton-Book';
}
.registration_nagivationPart{
    display: flex;
    padding-bottom: 20px;
}
.registration_nagivationName{
    margin-left: 24px;
    color: #5D6F7B;
    font-family: 'Campton-Book';
    pointer-events: none;
}
.registration_nagivationName.active{
    color: #2A3237;
    font-family: 'Campton-SemiBold';
    pointer-events: none;
}
.registration_nagivationName.inactive{
    color: #2A3237;
    pointer-events: none;
}
.registration_nagivationNumeric{
    color: #5D6F7B;
    border: 2px solid #C5CACE;
    border-radius: 50%;
    padding: 0px 4px;
    font-size: 12px;
}
.registration_nagivationtick{
    display: none;
}
.registration_nagivationName ul{
    margin-bottom: 0px;
}
.registration_nagivationName li{
    margin: 16px 0px;
    margin-left: -40px;
    list-style: none;
    font-family: 'Campton-Book';
    display: none;
    pointer-events: none;
}
.registration_nagivationName li.active{
    color: #2A3237;
    font-family: 'Campton-SemiBold';
    pointer-events: none;
}
.registration_help{
    float: right;
    margin-right: 52px;
    font-size: 16px;
    font-family: 'Campton-Book';
}
.registration_help span{
    font-family: 'Campton-SemiBold';
}
.registration_business,.registration_billing,.registration_paying,.registration_shipping,.registration_review,.registration_uploadConfirm{
    padding-top: 45px;
}
.registrationFlow{
    display: none;
}
.registration_label{
    font-size: 24px;
    font-family: 'Campton-Medium';
    color: #2A3237;
}
.registration_text1{
    font-size: 18px;
    color: #5D6F7B;
    font-family: 'Campton-Book';
    line-height: 27px;
}
.registration_text2{
    font-size: 14px;
    color: #5D6F7B;
    padding-bottom: 25px;
    padding-top: 5px;
}
.registration_existing{
    margin-bottom: 20px;
    margin-top: 4px;
}
.registration_existing a{
    color: inherit;
    font-family: 'Campton-SemiBold';
    font-size: 16px;
    text-decoration: none;
}
.registration_input{
    border-radius: 0;
    border: 1px solid #5D6F7B;
    display: block;
    margin-top: -14px;
    width: 100%;
    height: 40px;
    padding: 7px;
}
.registration_input:focus{
    boder: none;
    outline: none;
}
.registration_inputLabel{
    font-size: 14px;
    color: #2A3237;
    background-color: #fff;
    margin-left: 10px;
    padding: 0px 7px;
    font-family: 'Campton-SemiBold';
}
.registration .glyphicon-search{
    left: 6px;
    top: 26px;
    color: #5D6F7B;
}
.registration_business .registration_address{
    margin-top: 30px;
    padding-right: 15px !important;
    padding-bottom: 10px !important;
}
.registration_address .registration_input{
    padding-left: 32px;
}
.registration_state{
    border-radius: 0;
    border: 1px solid #5D6F7B;
    display: block;
    margin-top: -14px;
    width: 100%;
    height: 40px;
    padding: 7px;
    outline: none;
}
.registration_save,.registration_createAccount{
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Campton-SemiBold';
    float: right;
    margin-top: 0px;
    outline: none !important;
    margin-right: 15px;
    font-size: 16px
}
.registration_createAccount{
    width: 173px;
    height: 56px;
}

.registration_save.inactive,.registration_createAccount.inactive{
    background-color: #EEF0F1;
    color: #8E9AA3;
    cursor: default;
}
.registration_save.active,.registration_createAccount.active{
    background-color: transparent;
    color: #5D6F7B;
    border: 2px solid #5D6F7B;
    cursor: pointer;
}
.registration_contact{
    font-family: 'CamptonSemiBold';
    font-size: 18px;
    margin-bottom: 10px;
}
.registration_addbutton{
    font-family: 'CamptonSemiBold';
    margin-top: 10px;
    cursor: pointer;
}
.only_show_field{
    font-family: 'CamptonSemiBold';
    margin-top: 10px;
    cursor: pointer;
	display:none;
}

.registration_addbutton_disable{
    font-family: 'CamptonSemiBold';
    margin-top: 10px;
	pointer-events:none;
	color:#ccc;
}
.registration_parent{
    padding-bottom: 10px !important;
}
.registration_address{
    margin-top: 0px;
}
.registration_checkQues{
    font-size: 16px;
}
.registration_radiobox{
    border-radius: 0;
    border: none;
    margin-right: 16px !important;
    margin-top: 0px !important;
    width: 20px;
    height: 20px;
    float: left;
    filter: grayscale(1);
}
.radio-button{
    margin-right: 12px;
}
.registration_radioLabel{
    font-weight: normal;
    white-space: break-spaces;
    font-size: 16px;
}
.registration_radio {
    opacity: 0;
    position: absolute;
}
.radio-button__control {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-color: inherit;
    color: #EA181B;
    border: 1.5px solid #666;
    border-radius: 50%;
}
.registration_radio:checked+.radio-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 17px;
    height: 17px;
    background-color: #EA181B;
    border-radius: 50%;
}
.registration_radio:checked+.radio-button__control {
    border-color: #666;
}
.radio-button__control {
    transform: scale(0.75);
}

.checkbox-button{
    margin-right: 12px;
}
.registration_checkboxLabel{
    font-weight: normal;
    white-space: break-spaces;
    font-size: 16px;
}
.registration_checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-color: inherit;
    color: #EA181B;
    border: 1.5px solid #666;
}
.registration_checkbox:checked+.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 17px;
    height: 17px;
    background-color: #EA181B;
}
.registration_checkbox:checked+.checkbox-button__control {
    border-color: #666;
}
.checkbox-button__control {
    transform: scale(0.75);
}
.fa {
    font-size: 16px;
    color: #5D6F7B;
}
.registration_back{
    cursor: pointer;
    float: left;
    font-size: 16px;
}
.registration_back .global_blackarrow{
    transform: rotate(180deg);
    margin-left: -7px;
    position: relative;
    float: left;
}
.registration_back span{
    float: left;
}
.registration_business .registration_save{
    margin-top: 20px;

}

.glyphicon-remove-circle{
    font-size: 16px;
    color: #5D6F7B;
    transform: rotate(45deg);
}
.registration_label div:first-child{
    float: left;
}
.registration_label div:last-child{
    float: right;
}
.registration_download{
    font-size: 16px;
    font-family: 'CamptonSemiBold';
    margin-right: 24px;
    padding-top: 12px;
    cursor: pointer;
}
.registration_download a{
    color: inherit;
    text-decoration: none;
}
.registration_upload{
    font-family: 'CamptonSemiBold';
    color: #5D6F7B;
    font-size: 14px;
    border: 2px solid #5D6F7B;
    padding: 10px 20px;
    margin-bottom: 6px;
    cursor: pointer;
    position: relative;
}
.shipping_check{
    white-space: nowrap;
}
.registration_help a{
    color: inherit;
    text-decoration: none;
}
.registration_locations{
    padding: 25px;
    border:1px solid #5D6F7B;
    margin: 15px 0px 40px;
    width: 99%;
    display: none;
}
.registration_locationName,.registration_locationOrg{
    float: left;
    font-size: 18px;
    font-family: 'CamptonSemiBold';
}
.registration_locationName{
    border-right: 3px solid #AEB7BD;
    padding-right: 15px;
}
.registration_locationOrg{
    padding-left: 15px;
}
.registration_edit{
    float: right;
    border: 1px solid #DBE0E2;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 14px;
    font-family: 'CamptonSemiBold';
    cursor: pointer;
	margin-left:10px;
}
.registration_locationLine1{
    float: left;
}
.registration_edit img{
    margin-left: 7px;
}
.registration_locationLine2{
    margin-top: 30px;
}
.registration_locationcontact,.registration_locationaddress,.registration_locationLic{
    float: left;
    font-size: 16px;
    font-family: 'Campton-Book';
    line-height: 24px;
}
.registration_locationcontact,.registration_locationaddress{
    margin-right: 80px;
}
.registration_locationcontactline1{
    font-family: 'CamptonSemiBold';
}
.registration_shippingUploadpop,.registration_helppop{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 1200;
}
.registration_shippingUploadContent,.registration_helpContent{
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 25px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 63%;
}
.registration_helpContent{
    padding: 40px;
}
.registration_helpContent .registration_popcont{
    margin-top: 40px;
}
.registration_shippingUploadtext1{
    font-size: 24px;
    line-height: 31px;
    font-family: 'Campton-Medium';
    color: #2A3237;
    float: left;
}
.registration_shippingUploadclose,.registration_helpclose{
    font-family: 'Campton-Medium';
    color: #2A3237;
    font-size: 18px;
    cursor: pointer;
    float: right;
}
.registration_shippingUploadtext2{
    font-size: 16px;
    line-height: 27px;
    font-family: 'Campton-Book';
    color: #5D6F7B;
}
.registration_shippingUploadtext2 span{
    font-family: 'CamptonSemiBold';
    color: #5D6F7B;
}
.registration_shippingUploadtext2 p{
    margin-top: 10px;
}
.uploadformat{
    padding-top: 8px;
}
.uploadformat,.registration_popcont .registration_download,.registration_popcont .registration_upload,.registration_popcont .registration_helpLeave,.registration_popcont .registration_helpContinue{
    float: left;
}
.registration_popcont{
    float: right;
}
.registration_shippingSave{
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Campton-SemiBold';
    float: right;
    margin-top: 0px;
    outline: none !important;
    font-size: 14px;
    background-color: transparent;
    color: #5D6F7B;
    border: 2px solid #5D6F7B;
    cursor: pointer;
}
.registration_shippingSave.inactive{
    pointer-events: none;
}
.registration_shipping .registration_save{
    margin-right: 0px;
}
.registration_popcont #registration_uploadInput{
    display: none;   
}
.registration_uploadFile{
    border: 1px solid #DBE0E2;
    padding: 5px;
    margin: 20px 0px;
    visibility: hidden;
    width: max-content;
    height: 35px;
}
.registration_uploadFile div{
    float:left;
}
.registration_uploadclose{
    float: right;
    border: none;
    background: none;
    color: #2A3237;
    font-family: 'CamptonSemiBold';
    outline: none;
}
.registration_manualLocation{
    text-decoration: underline;
    cursor: pointer;
}
.registration_upload.inactive{
    pointer-events: none;
    background-color: #EEF0F1;
    color: #8E9AA3;
    border: none;
}
.registration_uploadFile p{
    float: left;
    color: red;
}
.registration_uploadConfirm .registration_save.inactive{
    pointer-events: none;
}
.registration_reviewContainer{
    display: flex;
    flex-direction: row;
}
.registration_reviewProfile,.registration_reviewBusiness,.registration_reviewBilling,.registration_reviewpaying{
    border: 1px solid #DBE0E2;
    padding: 25px;
    margin-top: 20px;
    width: 48%;
}
.registration_reviewShipping{
    border: 1px solid #DBE0E2;
    padding: 25px;
    margin-top: 20px;
    width: 98%;
}
.registration_reviewProfile,.registration_reviewBilling{
    margin-right: 20px;
}
.registration_reviewlabel1{
    font-size: 18px;
    color: #2A3237;
    font-family: 'CamptonSemiBold';
    padding-bottom: 33px;
    float: left;
}
.registration_reviewlabel2{
    font-size: 16px;
    color: #2A3237;
    font-family: 'CamptonSemiBold';
}
.registration_populate{
    font-size: 16px;
    color: #5D6F7B;
    font-family: 'Campton-Book';
}
.registration_reviewShipping .registration_reviewlabel1{
    padding-bottom: 20px;
}
.registration_helpLeave, .registration_helpContinue{
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Campton-SemiBold';
    float: right;
    margin-top: 0px;
    outline: none !important;
    font-size: 14px;
    background-color: transparent;
    color: #5D6F7B;   
    cursor: pointer;
    line-height: 21px;
    border: none;
}
.registration_helpContinue.active,.registration_helpLeave:hover,.registration_helpContinue:hover{
    border: 2px solid #5D6F7B;
}
.registration_helpheader{
    margin-bottom: 10px;
}
.registration_review .registration_back{
    padding-top: 15px !important;
}
.form-group{
    margin-bottom: 0px;
}
.registration_reviewCheckbox{
    display: flex;
}
.registration_createAccount a{
    color: #5D6F7B;
    text-decoration: none;
}
@media only screen and (min-width:992px) and (max-width:1280px){
    .registration_shippingUploadContent,.registration_helpContent{
        width: 80%;
    }
}
@media only screen and (max-width:991px){
    .registration{
        border: none;
    }
    .registration_leftside,.registration_rightside{
        padding: 15px 20px 15px 15px !important;
    }
    .registration_nagivation{
        padding-top: 0px !important;
        font-size: 16px;
    }
    .registration .global_blackarrow{
        margin-right: 0px;
    }
    .registration_help {
        margin-right: 27px;
    }
    .registration_business,.registration_billing,.registration_paying,.registration_shipping,.registration_review,.registration_uploadConfirm {
        margin-top: 30px;
    }
    .registration_label{
        padding-bottom: 0px !important;
    }
    .registration_text1 {
        padding-bottom: 15px !important;
        margin-top: 15px;
        line-height: 24px;
    }
    .registration_existing .global_blackarrow{
        margin-left: 3px;
    }
    .registration_checkparent{
        white-space: nowrap;
        padding-bottom: 0px !important;
    }
    .padding-R15 {
        padding-right: 0px;
    }
    .registration_parent{
        padding-left: 0px;
        padding-right: 0px;
    }
    .registration_state{

    }
    .registration_business .registration_address {
        padding-right: 0px !important;
        margin-top: 10px;
    }
    .registration_address{
        margin-top: 0px;
        padding-right: 0px;
    }
    .registration_save{
        margin-right: 0px; 
    }
    .registration_mob{
        padding-left: 0px;
    }
    .registration_back .global_blackarrow{
        margin-right: 10px;
    }
    .registration_back{
        margin-top: 10px;
    }
    .registration_download{
        margin-top: 30px;
        padding-top: 0px;
    }   
    .registration_label div:first-child,.registration_label div:last-child{
        float: none;
    }
    .registration_upload{
        width: 228px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .registration_locationName, .registration_locationOrg{
        float: none;
        font-size: 16px;
    }
    .registration_locationName{
        border: none;
    }
    .registration_locationOrg{
        padding-left: 0px;
    }
    .registration_locations{
        padding: 15px;
    }
    .registration_locationcontact,.registration_locationaddress{
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .registration_locationcontact, .registration_locationaddress, .registration_locationLic{
        float: none;
    }
    .registration_shippingUploadContent,.registration_helpContent{
        width: 90%;
        padding: 20px;
        height: 90%;
        overflow-y: auto;
    }
    .registration_helpContent{
        height: auto;
    }
    .registration_shippingUploadtext1{
        font-size: 18px;
    }
    #registration_uploadlocation,#registration_uploadlocation1{
        width: 220px;
        padding: 10px;
    }
    .registration_shippingSave{
        float: none;
        margin: 0px auto;
    }
    .registration_popcont .registration_download,.registration_helpLeave{
        margin-top: 20px;
    }
    .registration_popcont .registration_helpLeave, .registration_popcont .registration_helpContinue{
        padding-top: 0px;
        margin: 20px auto;
        float: none;
    }
    .registration_checkboxLabel{
        max-width: 85%;
    }
    .registration_popcont,.uploadformat, .registration_popcont .registration_download, .registration_popcont .registration_upload{
        float: none;
    }
    .registration_shippingUploadtext1{
        width: 90%;
    }
    .registration_reviewContainer{
        flex-direction: column;
    }
    .registration_reviewProfile, .registration_reviewBusiness, .registration_reviewBilling, .registration_reviewpaying,.registration_reviewShipping{
        width: 100%;
        padding: 10px;
    }
    .registration_createAccount {
        margin-right: 0px;
    }
    .registration_review .registration_back{
        padding-top: 7px !important;
    }
}

.form-control-feedback {
    position: absolute;
    right: 10px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 10px;
    text-align: center;
    pointer-events: none;
	top: 26px;
}
.has-error .form-control-feedback {
    color: #BE1114;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
        color: #BE1114 !important;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Campton-Medium';
}

  .form-control:focus {
    border-color: #DBE0E2;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #DBE0E2, 0 0 8px #DBE0E2;
    box-shadow: inset 0 1px 1px #DBE0E2, 0 0 8px #DBE0E2;
}
 .custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #DBE0E2;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}

.has-success .form-control {
    border-color: #5D6F7B;
    -webkit-box-shadow: inset 0 1px 1px #5D6F7B;;
    box-shadow: inset 0 1px 1px #DBE0E2;
}
.has-success .form-control:focus {
    border-color: #DBE0E2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #DBE0E2;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #DBE0E2;
}

.add_ship_del{display:none;}
.location_edit_screen{display:none;}
.no-right-border{border-right:none !important; font-size:22px; margin-bottom:20px;}
.click_disable{pointer-events:none;}