
/* CSS for Support contact*/
.Support_container
{
    max-width:1920px;
    width:100%;
    padding:0;
    margin:0 auto;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}
.Support_border{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.nav_breadCrumb{
    width: 100%;
}
.nav_breadCrumb .breadcrumb{
    padding: 30px 0px;
    margin-bottom: 0px;
    list-style: none;
    border-radius: 0px;
    background-color: #fff;
}
.nav_breadCrumb .breadcrumb a{
    color: #5D6F7B;
    text-decoration: none;
    font-family: 'Campton-Book';
    font-size: 14px;
}

.nav_breadCrumb .breadcrumb>li+li:before{
    content: ">";
    padding: 0px 5px 0px 3px;
    color: #5D6F7B;
}
.nav_breadCrumb .breadcrumb>.active,a:focus,a.active{
    color: #2A3237 !important;
    font-family: 'Campton-semibold' !important;
    text-decoration: none;
}
.Support_contentbox{
    margin-bottom: 65px;
}
.Support_header{
    margin-top: 0px;
    font-family: 'Campton-Medium';
    margin-bottom: 20px;
    font-size: 40px;
    color: #2A3237;
}
.Support_text{
    color: #5D6F7B;
    font-family: 'Campton-Book';
    font-size: 24px;
    line-height: 32px;
}
.Support_faqButton{
    color: #EA181B !important;
    font-size: 14px !important;
    font-family: 'Campton-semibold';
    transition: 0.5s;
    text-decoration: none;
}
.Support_faqButton:hover,.Support_faqButton:focus{
    text-decoration: none;
    color: #EA181B !important;
}
.Support_contentbox .redborder{
    padding: 10px 15px !important;
    margin: 30px 0px !important;
    width: max-content;
}
.Support_lowerboxs{
    width: 100%;
    background-color: #F9FAFA;
    margin-bottom: 50px;
}
.Support_lowerboxs .container{
    padding: 45px 0px !important;
}
.Support_adverseReporting{
    border-right: 1px solid #AEB7BD;
    border-left: 1px solid #AEB7BD;
    padding: 0px 30px;
}
.boxHeader{
    font-family: 'Campton-Medium';
    margin-bottom: 20px;
    font-size: 24px;
    color: #2A3237;
}
.boxContent{
    color: #5D6F7B;
    font-size: 14px;
    line-height: 24px;
}

.Support_medicalCommunication{
    padding-left: 30px;
}
.Support_email{
    margin-top: 20px;
    font-family: 'Campton-Bold';
}
.Support_call{
    margin: 8px 0px;
    font-family: 'Campton-Bold';
}
.Support_email a,.Support_call a,.Support_email a:focus,.Support_call a:focus{
    color: #2A3237 !important;
    text-decoration: underline;
    font-family: 'Campton-Bold' !important;
    outline: 0;
}
/* CSS for Support contact ends*/
