
/*************Terms Of Use Style starts here****************/
.margin-control{    
    margin: 4% 3% 3% 2%;
    width: 96%;
}
.terms_title{

    color: #2A3237;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: 2%;
    font-family: campton-Medium;
}
.terms_sub_title{
    color: #5D6F7B;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    margin: 1% 0% 4% 0%;
}
.terms_block{
    margin-top:2%;
}
.terms_block .terms_heading{
    font-family: campton-Bold;
    color:#000;
    font-size:18px;
    line-height:30px;
    margin-bottom:15px;
}
.terms_block .light_text{
    color: #5D6F7B;
    font-family: campton-Book;
    font-size: 16px;
    line-height: 23px;
}
.terms_block .light_text li{
    color: #5D6F7B;
    font-family: campton-Book;
    font-size: 16px;
    line-height: 23px;
}
.clear_gap{ clear:both;}

.terms_block .deep_text{
    color: #5D6F7B;
    font-family: 'Campton-Medium';
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
}