.header--1 {
    font-family: 'Campton-Semibold', sans-serif;
    font-size: 56px;
    line-height: 63px;
  @media(min-width:@desktop) {
    font-size: 64px;
    line-height: 72px;
  }
}

.header--2 {
    font-family: 'Campton-Medium', sans-serif;
    font-size: 36px;
    line-height: 41px;
  @media(min-width:@desktop) {
    font-size: 40px;
    line-height: 51px;
  }
}


.header--3 {
    font-family: 'Campton-Medium', sans-serif;
    font-size: 28px;
    line-height: 32px;
  @media(min-width:@desktop) {
    font-size: 32px;
    line-height: 40px;
  }
}

.header--4-book {
    font-family: 'Campton-Book', sans-serif;
    font-size: 20px;
    line-height: 24px;
  @media(min-width:@desktop) {
    font-size: 24px;
    line-height: 31px;
  }
}

.header--4-medium {
    font-family: 'Campton-Medium', sans-serif;
    font-size: 20px;
    line-height: 24px;
  @media(min-width:@desktop) {
    font-size: 24px;
    line-height: 31px;
  }
}

.paragraph--1-book{
    font-family: 'Campton-Book', sans-serif;  
    font-size: 18px;
    line-height: 27px;
    
}

.paragraph--1-medium{
    font-family: 'Campton-Medium', sans-serif;  
    font-size: 16px;
    line-height: 24px;
    
}

.hero--semibold {
    font-family: 'Campton-SemiBold',sans-serif;
}

.campton-medium   {
    font-family: 'Campton-Medium', sans-serif;  
}


h1  {
    font-size: 36px;
    line-height: 41px;
    color: @header--color;
    font-family: 'Campton-Medium',sans-serif;
    @media (min-width:@desktop){
        font-size: 40px;
        line-height: 51px;
    }
}

h2 {
    font-family: 'Campton-Medium',sans-serif;
    font-size: 32px;
    line-height: 40px;
    color: @header--color;
    @media (min-width:@desktop){
        font-size: 28px;
        line-height: 32px;
    }

    @media (max-width:@mobile) {
        font-size: 28px;
        line-height: 32px;
    }
}

p {
    font-family: @content-font;
    font-size: 16px;
    line-height: 24px;
    color: @paragraph--color;
    @media (min-width:@desktop) {
        font-size: 18px;
        line-height: 27px;
    }

}

strong {
  font-family: @campton-bold;
}

ul {
    li {
        font-family: @content-font;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: @grey--100;

        @media (min-width:@desktop) {
            font-size: 18px;
            line-height: 27px;
        }

    }

  &.slick-dots {
    li {
      font-size: 0px;
      margin-right: 5px;
      margin-left: 5px;
      width: 11px;
      height: 11px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid @grey--110;

      &.slick-active {
        background-color: @red--100!important;
      }
    }
  }
}

