## messageSource=classpath:/seqirusb2bcore/messages/email-customerRegistration_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta http-equiv="Content-Type" content="text/html">

 <title>${ctx.messages.header}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
</head>

<body style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0;width:100%;">
      <br>
      <br>
      <table style="background:#F4F7FA;border-collapse: collapse; border-spacing: 0; color: #4f606a; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; width:100%;" border="0" cellpadding="0" cellspacing="0" width="1000">
        <tr class="frontLine" style="width:100%;">
			<td class="belowfrontLine" style="margin-left:6%; float:left;mso-line-height: exactly; line-height: 150%; line-height: 0px; vertical-align: 0px">
              <img style="width: 100px;padding-top:10px;padding-bottom:10px;" src="${ctx.sitelogo}">
           </td>
           <td style="margin-top:4%;">
              <p style="color:#555555;font-size:12px;margin-right:3%; text-align:right; height:10px;"><b>${ctx.header.content}</b></p>
           </td>
        </tr>
     </table>    
      <table align="left" cellpadding="0" cellspacing="0" border="0" width="1000" style="margin-left:5%;margin-top:44px;width:100%;border-collapse: collapse; border-spacing: 0; color: #4f606a; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin-bottom: 0; margin-left: auto; margin-right: auto; margin-top: 0;padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; top:0; ">
         <tr style="padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px;">
            <td colspan="5" style="padding-bottom: 10px; padding-left: 45px; padding-right: 45px; padding-top: 56px; font-size: xx-large;" width="100%">
               <h1 style="font-size: 20px;color:#5C6E7C;">${ctx.messages.salutation}&nbsp;${ctx.customer.firstName},</h1>
            </td>
         </tr>
		 <tr>
            <td colspan="5" style="padding-bottom: 45px; padding-left: 45px; padding-right: 45px;">
                <p style="color: #5d5d5d;font-size:14px;padding-top: 50px;">${ctx.messages.joinMessage}&nbsp;<b>${ctx.customer.orgName}</b>&nbsp;${ctx.messages.user}</p>
                <p style="color: #5d5d5d;font-size:14px;line-height: 20px;">${ctx.messages.login}</p>
                <p style="color: #5d5d5d;font-size:14px;line-height: 20px;">${ctx.messages.instructionsContactUs} <a href="mailto:service.uk@seqirus.com" class="contact" style="color:red; font-weight: normal; text-decoration: none;">${ctx.messages.contactUsPage}</a></p>
                <p style="color: #555555;font-size:14px;padding-top: 35px;line-height: 25px;">${ctx.messages.thanks},<br> 
                    ${ctx.messages.seqirus}</p>
            </td>
         </tr>
      </table>
      <table style="background:#F4F7FA;border-collapse: collapse; border-spacing: 0; color: #4f606a; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; width:100%;" border="0" cellpadding="0" cellspacing="0" width="1000">
        <tr style="width:100%;height:109px;">
           <td class="belowfrontLine" style="margin-left:6%;width:80%; float:left;margin-top:7%;mso-line-height: exactly; line-height: 150%; line-height: 0px; vertical-align: 0px">
              <img style="width: 100px;" src="${ctx.sitelogo}">
           </td>          
		   <td style="margin-top:4%;width:15%"> 
              <p style="color:#555555;font-size:10px;text-align:left; 
              margin-right:3%;height:10px;">${ctx.address.content}
              </p>
           </td>
        </tr>
        <tr> <td colspan="2"><hr style="color:#D9D6D6;margin-left: 25px;"></td></tr>
        <tr><td colspan="2" style="padding-top: 10px;padding-bottom: 10px;color:#555555;font-size:10px;text-align: center;">${ctx.copyright.content}</td></tr>
     </table>    
      
   </body>
</html>
