//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************




@brand-primary: 	#0068b3;
@brand-secondary: 	#929292;


//*********Typography Colors*********
@text-color:			#3c3c3c;
@text-color-secondary:	@brand-secondary;
@link-color: 			@brand-primary;
@headline-color:		@text-color;

//== Borders
@border-color: 			#d9d9d9;
@border-color-2:		#e5e5e5;
@border-color-3:		#cccccc;


//*********form colors*********
@label-color: 			@brand-secondary;

@input-color: 			@text-color;
@input-border-color: 	@border-color-3;
@placeholder-color: 	@brand-secondary;
//** Border color for inputs on focus
@input-border-focus:    @brand-primary;
//** Border color for inputs on error
@input-error:    #fd7b7b;
//** Background color for inputs on error
@input-error-bg:        #fec3c3;
//** color for error text
@input-error-text:        #ED1C24;

@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #00A651;


//*********Header Background*********
@header-background-color: 	#f4f4f4;
@nav-border-color: 			@border-color;


//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: @brand-primary;
@meta-nav-color-open: #ffffff;
@meta-nav-hover-color: @brand-secondary;
@meta-nav-border-color: #265272;
@meta-nav-background: #003459;
@meta-nav-hover-background: #004678;


//*********Search*********
@searchbar-icon-color: @text-color;
@check-box-bg: #ffffff;

//********* icon navigation colors*********
@nav-icon-color: @brand-primary;
@nav-icon-color-secondary: @btn-primary-bg;
@nav-icon-hover-background: @border-color-2;


//*********Header Navigation-Categories Background*********
@nav-cat-background: #142939;
@nav-cat-border: @nav-cat-background;
@nav-cat-hover-background: #1e3d55;
@nav-cat-link-color: #ffffff;
@nav-subcat-color: @text-color;
@nav-subcat-title-color: rgba(0,0,0,0.7);
@nav-subcat-background: @header-background-color;
@nav-subcat-border-color: @border-color-2;
@nav-subcat-hover-background: @border-color-2;



//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: @brand-primary;
@offcanvas-nav-header-background: #ffffff;
@offcanvas-nav-disabled: @brand-secondary;
@offcanvas-meta-nav-color: #ffffff;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background: #03426f;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: @meta-nav-hover-background;
@offcanvas-nav-cat-color: @brand-primary;
@offcanvas-nav-cat-title-color: rgba(0,0,0,0.7);
@offcanvas-nav-cat-background: #ffffff;
@offcanvas-nav-cat-border-color: @border-color-2;
@offcanvas-nav-cat-hover-background: @border-color-2;


//*********Breadcrumbs Colors*********
@breadcrumb-bg: @border-color;


//*********Footer colors*********
@footer-background: @nav-cat-background;
@footer-text-color: #ffffff;
@footer-border-color: @nav-cat-hover-background;
@copyright-background: #ffffff;
@copyright-color: @text-color;

//*********Well colors*********
@well-secondary-bg: lighten(@brand-primary, 60%);//#e6f0fa;
@well-quaternary-bg: #f2f2f2;

//Item colors
@item-promo-color: #00A651;
@item-sale-color: #ED1C24;
@item-sale-price-color: @brand-secondary;



//== Tables
@table-2n-line-bg:				#f4f4f4;
@table-head-bg:					@nav-cat-background;
@table-head-color:				#7f919e;
@table-head-border-color:		#334b5c;
@table-border-color:			@border-color-2;
@table-expand-bg:				#e4e4e4;
@cart-product-table-head-color:				@table-expand-bg;


//== List
@list-active-bg:                #e6f0fb;


//== Pagination
@pagination-active-color: 		#a6a6a6;
@pagination-font-weight: 		600;

@pagination-disabled-color:     @pagination-active-color;
@pagination-hover-color:		@pagination-active-color;

@pagination-prev-next-hover-bg:		@btn-primary-bg;
@pagination-prev-next-hover-color:	@btn-primary-color;


//*********Button Colors*********

//Primary Button State
@btn-primary-color: #ffffff;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary;
@btn-primary-hover-color: @brand-primary;
@btn-primary-hover-border: @brand-primary;
@btn-primary-hover-background: #ffffff;
@btn-primary-disabled-bg: #8cbbdd;

//Secondary Button State
@btn-default-color: #ffffff;
@btn-default-bg: @brand-secondary;
@btn-default-border: @brand-secondary;
@btn-default-hover-color: @brand-secondary;
@btn-default-hover-border: @brand-secondary;
@btn-default-hover-background: #ffffff;
@btn-default-disabled-bg: @border-color-3;

//*********Accordion Colors*********
@accordion-bg: #000000;

//*********Modal Colors*********
@modal-close-btn-color: @brand-secondary;

//*********Account Colors*********
@account-subheadline-bg: @header-background-color;

//*********checkout*********
@steps-color: @text-color;
@steps-background: @header-background-color;
@steps-color-active: @steps-color;
@steps-background-active: #e4e4e4;
@steps-border-active: @border-color-3;
@checkout-icon: @border-color-3;
@checkout-list-head-bg: @table-head-bg;
@checkout-list-head-color: #ffffff;
@checkout-list-head-border: @table-head-bg;


//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #cdcdcd;


@grayblue: 				#F2F4F7;


//********Merge Provided************
//REDS
@red--110: #BE1114;
@red--100: #EA181B;
// GRAYS
@grey--110: #2A3237;
@grey--100: #5D6F7B;
@grey--90: #6D7E88;
@grey--80: #7D8C95;
@grey--70: #8E9AA3;
@grey--60: #9EA8AF;
@grey--50: #AEB7BD;
@grey--20: #DBE0E2;
@grey--10: #EEF0F1;
@grey--0: #F9FAFA;

//TEALS 
@teal--120: #3C827A;
@teal--110: #3C9A90;
@teal--100: #8BD2CF;
@teal--90: #96D6D3;
@teal--80: #A0D9D8;
@teal--70: #ACDDDC;
@teal--60: #B7E1E0;
@teal--50: #C2E6E5;

//GREENS 
@green--100: #1D8912;




// THREE SIXTY COLORS
@three-sixty--midaqua: #79B7B6;
@three-sixty--darkred: #A12529;
@three-sixty--white: #ffffff;




@header: @grey--110;
@subhead: @grey--110;
@paragraph: @grey--100;

@header--font-weight:500;
@header--color: @grey--110;
@paragraph--font-weight:400;
@paragraph--color:@grey--100;


@site-font: 'Campton-Book', sans-serif;
@content-font: 'Campton-Book', sans-serif;
@button-font: 'Campton-SemiBold',sans-serif;


@campton-medium: 'Campton-Medium' , sans-serif;
@campton-semibold: 'Campton-SemiBold', sans-serif;
@campton-book: 'Campton-Book',sans-serif;
@campton-bold: 'Campton-Bold', sans-serif;

@desktop: 1025px;
@tablet: 1024px;
@lg--mobile: 768px;
@mobile: 393px;
@xs--mobile: 383px;




//REDS
@red--110: #BE1114;
@red--100: #EA181B;
// GRAYS
@grey--110: #2A3237;
@grey--100: #5D6F7B;
@grey--90: #6D7E88;
@grey--80: #7D8C95;
@grey--70: #8E9AA3;
@grey--60: #9EA8AF;
@grey--50: #AEB7BD;
@grey--20: #DBE0E2;
@grey--10: #EEF0F1;
@grey--0: #F9FAFA;

//TEALS 
@teal--120: #3C827A;
@teal--110: #3C9A90;
@teal--100: #8BD2CF;
@teal--90: #96D6D3;
@teal--80: #A0D9D8;
@teal--70: #ACDDDC;
@teal--60: #B7E1E0;
@teal--50: #C2E6E5;

//GREENS 
@green--100: #1D8912;




// THREE SIXTY COLORS
@three-sixty--midaqua: #79B7B6;
@three-sixty--darkred: #A12529;
@three-sixty--white: #ffffff;




@header: @grey--110;
@subhead: @grey--110;
@paragraph: @grey--100;

@header--font-weight:500;
@header--color: @grey--110;
@paragraph--font-weight:400;
@paragraph--color:@grey--100;


@site-font: 'Campton-Book', sans-serif;
@content-font: 'Campton-Book', sans-serif;
@button-font: 'Campton-SemiBold',sans-serif;


@campton-medium: 'Campton-Medium' , sans-serif;
@campton-semibold: 'Campton-SemiBold', sans-serif;
@campton-book: 'Campton-Book',sans-serif;
@campton-bold: 'Campton-Bold', sans-serif;

@desktop: 1025px;
@tablet: 1024px;

@xl-mobile: 1023px;
@lg--mobile: 768px;
@mobile: 393px;
@xs--mobile: 383px;


