.afluria-chart-container-desktop {
    // width: 1090px;
    border: none!important;
    table {
       width: 109%;
       transform: scale(0.9);
       position: relative;
       left: -70px;
      .top-row {
         
          th {
               padding-top: 30px;
              padding-bottom: 30px;
              padding-left: 20px;
              padding-right: 10px;
              font-family: @campton-semibold;
              font-size: 16px;
              line-height: 22px;
              color: @grey--0;
              border-right: 1px solid #ffffff;
              &:first-child {
                padding-left: 20px;
                padding-right: 1px;
              }
              &:nth-child(4) {
                padding-right: 25px;
                padding-left: 25px;
              }
              &:last-child {
                  padding-right: 20px;
                  border-right: none;
              }
          }
      }

      .bottom-row {
          td {
              font-family: @campton-book;
              font-size: 16px;
              line-height: 21px;
              color: @grey--100;
              padding-left: 20px;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-right: 10px;
              border-right: 1px solid #92A1AC;
              
             
              &:last-child {
                border-right: none;
              }
          }
      }
    }

    .row--1 {
        // border-bottom: 1px solid #92A1AC;
    }

    .row--2 {
        border-bottom: 1px solid #92A1AC;
    }

    .border-top {
        border-top: 1px solid #92A1AC;
   }
   .border-bottom {
    border-bottom: 1px solid #92A1AC;
   }


   .center-row {
    text-align: center;
    padding-left: 10px!important;
    padding-right: 10px!important;
}


}




//FLUCELVAX MOBILE CHART LAYOUT

.afluria-chart-container-mobile {
 
    margin-left: -130px;
    @media(max-width:@mobile) {
        margin-left: -81px;
    }
    .chart--row {
        display: inline-flex;
        flex-direction: row;
        height: 200px;
        border: 1px solid #92A1AC;
        width: 100%;
        .chart-left--column {
            // height: auto;
            background-color: @teal--110;
            border-bottom: 1px solid #92A1AC;
            width: 55%;
            @media(max-width:@mobile) {
                width: 57%;
            }
            p {
                font-family: @campton-semibold;
                color: #ffffff;
                font-size: 16px;
                transform: rotate(-90deg);
                position: relative;
                top: 83px;
                left: 67px;
                @media(max-width:@mobile) {
                    left: 39px;
                }
            }
        }
        .chart-right--column{
            background-color:#ffffff;
            width:100%;
            p {
                font-family: @campton-book;
                font-size:16px;
                color:@grey--100;
                position: relative;
                top: 54px;
                text-align: left;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
  
        .chart-left--column-split {
          // height: auto;
          background-color: @teal--110;
          border-bottom: 1px solid #92A1AC;
          width: 55%;
          @media(max-width:@mobile) {
              width: 36%;
          }
          p {
              font-family: @campton-semibold;
              color: #ffffff;
              font-size: 16px;
              transform: rotate(-90deg);
              position: relative;
              top: 83px;
              left: 67px;
              @media(max-width:@mobile) {
                  left: 39px;
              }
          }
  
          &.width-39-sm {
            @media(max-width:@mobile) {
              width: 39%!important;
            }
          }
      }
  
        .chart-right--column-split {
          display: inline-flex;
          flex-direction: row;
          flex-grow: 1;
          background-color:#ffffff;
          .column-1 {
            border-right: 1px solid #92A1AC;
            padding-left: 11px;
            padding-top: 47px;
            padding-right: 14px;
            text-align: left;
            &.col-1-split {
              // padding-left: 36px;
              // padding-right: 29px;
              flex-grow: 1;
            }
           
           
           
          }
  
          .column-2 {
            padding-left: 11px;
            padding-top: 47px;
            padding-right: 14px;
            text-align: left;
            &.col-2-split {
              flex-grow: 1;
              // padding-left: 19px;
            
            }
          }
  
          &.width-39-sm {
            @media(max-width:@mobile) {
              width: 39%!important;
            }
          }
          
         
        }
    }
  }