/*IMPORT BUTTONS HERE */

.button--hero-solid-red {
    color: @three-sixty--white;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: @button-font;
    padding: 13px 26px 13px 26px;
    cursor:pointer;
    background-color: @red--100;
    border: none;
    outline: none;
    @media(min-width: @desktop) {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 34px 16px 34px;
    }

  &:hover {
      background-color: #ffffff;
      border: 1px solid @red--100;
      color:@red--100;
  }
}

.button--hero-solid-gray{
    color: @three-sixty--white;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: @button-font;
    padding: 13px 26px 13px 26px;
    cursor:pointer;
    background-color: @grey--100;
    border: none;
    outline: none;
    @media(min-width: @desktop) {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 34px 16px 34px;
    }

    &:hover {
        color: @grey--100;
        background-color: #ffffff;
        border: 1px solid @grey--100;
    }
}

.button--hero-solid-teal{
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: @button-font;
    padding: 13px 26px 13px 26px;
    cursor:pointer;
    background-color: @teal--110;
    border: none;
    outline: none;
    @media(min-width: @desktop) {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 34px 16px 34px;
    }
    &:hover {
        color:@teal--110;
        background-color: #ffffff;
        border: 1px solid @teal--110;
    }
}

.button--solid-red {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: @button-font;
    padding: 13px 26px 13px 26px;
    cursor:pointer;
    background-color: @red--100;
    border: none;
    outline: none;
    @media(min-width: @desktop) {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 34px 16px 34px;
    }

    &:hover {
        color:@red--100;
        background-color: #ffffff;
        border: 1px solid @red--100;
    }
}


.button--hero-outline-grey{
    color: @grey--110;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: @button-font;
    border: 1px solid #5D6F7B;
    padding: 13px 26px 13px 26px;
    cursor:pointer;
    background-color:#ffffff;
    outline: none;
    @media(min-width: @desktop) {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 34px 16px 34px;
    }

    &:hover {
        color:#ffffff;
        background-color: @grey--110;
    }
}

.button--hero-outline-red{
    color: @red--100;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: @button-font;
    border: 1px solid @red--100;
    padding: 13px 26px 13px 26px;
    cursor:pointer;
    background-color:#ffffff;
    outline: none;
    @media(min-width: @desktop) {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 34px 16px 34px;
    }

    &:hover {
        color: #ffffff;
        background-color: @red--100;
    }
}


.button--download-outline-red {
    color: @red--100;
    font-family: @button-font;
    background-color: @grey--0;
    border: 1px solid @red--100;
    padding: 17px 29px 17px 29px;
    outline: none;
    &:hover {
        color: #ffffff;
        background-color: @red--100;
    }
}


.button--view-resources-outline-grey {
    color: @grey--100;
    font-family: @button-font;
    background-color: #ffffff;
    border: 1px solid @grey--100;
    padding: 17px 29px 17px 29px;
    outline: none;
    &:hover {
        color: #ffffff;
        background-color: @grey--100;
    }
}