.whatif--card-wide {
    background-color: @grey--0;
    width: 400px;
    margin-bottom: 20px;
    
    // margin-right: 20px;
    @media(max-width:@mobile) {
        width: 335px;
        height: 325px;
        margin-right: 0;
    }
    @media(min-width:@tablet) {
        width:637px;
        height: 259px;
        // margin-right: 30px;
    }

    .whatif--card-content {
            padding: 40px 30px 30px 40px;
            p {
                font-family: @content-font;
            }
            .header { 
                font-family: @campton-medium;
                font-size: 20px;
                line-height: 26px;
                min-height: 30px;
                @media (min-width:@desktop) {
                    font-size: 24px;
                    line-height: 31px;
                }
            }

            .content {  
                font-family: @campton-book;
                // color: @grey--100;
                // font-size: 16px;
                // line-height: 24px;
                font-size: 18px;
                line-height: 27px;

                @media(min-width:@tablet) {
                    font-size: 16px;
                    line-height: 24px;
                }

                
            }

           .callout {
                // font-weight: 600;
                font-family: @campton-semibold;
                font-size: 18px;
                line-height: 27px;
                // color:@grey--100;
                @media (min-width:@desktop) {
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 20px;
                }
            }

            .cta {
                font-family: @campton-semibold;
                color:@grey--110;
                font-size: 16px;
                line-height: 24px;
                margin-top: 20px;
                img {
                    width:24px;
                    height: auto;
                }
            }
        
    }
}

//LOGO CARDS

.logo--card {
  background-color: @grey--0;
  width: 416px;
  height: 284px;

  

 @media(max-width:@tablet) {
    margin-left: auto;
    margin-right: auto;
   
 }
  
margin-top: 20px;
  padding: 30px;
   justify-content: center;

  
   .fluad-logo {
    width:138px;
    height: 104px;
    // margin-top: -10px;
    // margin-bottom: 10px;
     // @media(max-width:1100px) {
            //     width: 100%;
            //     height: auto;
            // }
            @media(max-width:@lg--mobile) {
                margin-left: 100px;
                margin-top: 20px;
            }

            @media(max-width:@tablet) {
                margin-top: 30px;
                margin-bottom: 31px;
            }
            
            @media(max-width:@mobile) {
                margin-left: 70px;
            }
    @media(min-width:@desktop) {
        margin-top: -10px;
        margin-bottom: 10px;
    }
 
}

.affluria-logo {
    // width: 159px;
    // height: 74px;
    // margin-top: 20px;
    width: 159px;
    height: 74px;
    @media(max-width:@lg--mobile) {
        margin-top: 45px;
        margin-left: 80px;
        margin-right: 60px;
    }

    @media(max-width:@tablet) {
        margin-top: 50px;
    }

    @media(max-width:@mobile) {
        margin-left: 40px;
    }

   @media(min-width:@desktop) {
       margin-bottom: -10px;
   }
  
}

.flucelvax-logo {
    // width: 227px;
    // height: 88px;
    // margin-bottom: 10px;
    // margin-left: 4%;
    width: 227px;
    height: 88px;
    // @media(max-width:1100px) {
    //     width: 100%;
    //     height: auto;
    // }
    @media(max-width:@lg--mobile) {
        margin-top: 40px;
        margin-left: 80px;
    }

    @media(max-width:@tablet) {
        margin-top: 40px;
        margin-left: 20%;
        margin-bottom: 5px;
    }

    @media(max-width:@mobile) {
        margin-left: 30px;
    }

    @media(min-width:@desktop) {
        margin-top: -10px;
        margin-left: 10px;
    }
   
}
   
   img {
       position: relative;
       margin-left: 20%;
       @media(min-width:@tablet) {

       }
   }

   .cta {
    position: relative;
    top: 20px;
    left: 30%;
    font-family: @campton-semibold;
    color:@grey--110;
    // margin-top:15px;
  
    @media(max-width:@lg--mobile) {
        width: 150px;
    }
        img {
        position: relative;
        left: -20px;
        
        }

   }

  

   @media (min-width:@tablet) {
       width: 300px;
       
   }
   @media (min-width:@desktop) {
    width: 416px;
    height: 284px;
    margin-left:0;
    // margin-right: 20px;
    padding: 80px;
   }

}


//RESOURCES CARDS 

// .resources-card--row {
// //    @media(max-width:@lg--mobile) {
//     width: 416px;
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;
//     margin-right: auto;

//     @media(min-width:@tablet) {
//         width: 100%;
//         margin-left: 0;
//         margin-right: 0;
//         flex-direction: row;
//     }
// //    }
// }

.resources--card {
    width: 416px;
    min-height: 439px;
    background-color: @grey--0;
    // display: none;
    display: flex;
    flex-direction: column;


    @media(min-width:@desktop) {
        width:100%;
        // display: flex;
        // flex-direction: column;
    }

    @media(max-width:1023px) {
        // width: 416px;
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // margin-right: auto;
        // margin-left: auto;
        // padding-bottom: 30px;

    }

    @media(max-width:@mobile) {
        width: 102%;
    }

    // @media(max-width:@lg--mobile) {
    //     width: 416px;
    //     display: flex;
    //     flex-direction: column;
    //     margin-left: auto;
    //     margin-right: auto;
    // }

 
    @media(min-width:@tablet) {
        width: 100%;
        // display: block;
        // display: flex;
        // flex-direction: column;
        
    }
    img {
        width: 100%;
        height: auto;
    }
    .resources--card-container {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        flex: 1;
        // height: 400px;
        // background-color: green;

        .resources--card-eyebrow {
            font-size: 14px;
            text-transform: uppercase;
        }
        .resources--card-title  {
            font-size: 24px;
            line-height: 31px;
            color: @grey--110;
            font-family: 'Campton-Medium',sans-serif;
        }
    
        .resources--card-subhead {
            color: @grey--110;
        }
    
        .resources--card-paragraph {
            font-size: 16px;
            line-height: 24px;
            color:@grey--100;
        }

    }
    .resources--card-btn {
        width: 100%;
        border-top: 1px solid #EEF0F1;
        border-bottom: none;
        border-left: none;
        border-right: none;
        outline: none;
        position: relative;
        top: 50px;
        
            color: @grey--110;
            font-family: 'Campton-Medium',sans-serif;
            width: 100%;
            height: 60px;
            background-color: @grey--0;
            // padding: 10px 10px 10px;
           
            @media(max-width:@lg--mobile) {
                padding-top: 5%;
                padding-left: 0;
            }

            @media(max-width:@mobile) {
                padding-left: 35px;
            }

            span {

                @media(max-width:@lg--mobile) {
                    margin-left: -40%;
                }
                
                @media(max-width:@tablet) {
                    margin-left: -43%;
                }
                margin-left: -55%;

                
            }
            img  {
                width: 24px;
                height: 24px;
                // left: 350px;
                left: 300px;
                top: -25px;
                float:none;
                position: relative;
                @media(max-width:@mobile) {
                    position: relative;
                    top: -21px;
                    left: 250px;
                    z-index: 3;
                }
                @media(min-width:@tablet) {
                    width: 24px;
                height: 24px;
                left: 200px;
                float: right;
                position: initial;
                }

            }
    
            // &:hover {
            //     text-decoration: none;
            // }
    
            &.two-lines {
                top: 105px;
            }
        
    }

    
}

//CARD CAROUSEL MOBILE 

.card-carousel-mobile {
    display: block;
    width:416px!important;
    margin-left: auto;
    margin-right: auto;
    @media(max-width:@mobile) {
        width: 350px!important;
    }
    @media(min-width:@tablet) {
        display: none!important;
    }
}

.my-slickdots {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: yellow!important;
    border: 1px solid green!important;
}

//CARDS GENERAL PADDING 
.cards-pl-0-mobile {
    @media(max-width:1023px) {
        padding-left: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    @media(max-width:@mobile) {
        margin-left: 5px;
        margin-right: 5px;
    }
}