//LARGE CAROUSEL DESKTOP LAYOUT 



.large-carousel-desktop-row {
    display: none;
    @media(min-width:@tablet) {
        display: block!important;
    }
}

.large--carousel-btn-container {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-left: 5%;
    .prev-btn {
        margin-right: 50px;
        cursor: pointer;
    }

    .next-btn {
        cursor: pointer;
    }
}

.large--carousel-slider {

    width: 100%;
   height: 600px;
    .slide--content {
        display: inline-flex!important;
        flex-direction: row;
        .left-column {
            width: 40%;
            padding-left: 5%;
            p {
                &:first-child {
                    font-family: 'Campton-Medium', sans-serif;
                    color: @grey--110!important;
                    font-size: 24px;
                    line-height: 31px;
                    margin-bottom: 20px;
                }

                a {
                    font-family: 'Campton-Bold',sans-serif;
                    color:@grey--100;
                    text-decoration: underline;
                }
            }
        }
        .right-column {
            width: 60%;
            position: relative;
            // left: 11%;
            @media(max-width:1180px) {
                left:0;
            }
            img {
                max-width: 80%;
                // max-height: 580px;
                @media(max-width:1180px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}


// LARGE CAROUSEL LAYOUT MOBILE 

.carousel-container-row-mobile {
    display: none;
    @media(max-widt:@tablet) {
        display: block;
    }
   
}

.large-carousel-mobile-row {
    display:block;
    @media(max-width:@xl-mobile) {
        max-height:694px;
    }
    @media(max-width:@lg--mobile) {
        max-height: 569px;
    }
    @media(min-width:@tablet) {
        display:none!important;
    }   
    
}
.large--carousel-mobile-btn-container {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    // top: -120px;
    top: 1%;
    margin-left:auto;
    margin-right: auto;
    left: 35%;
    @media(max-width:600px) {
        left:100px;
    }

   
        @media(max-width:1023px) {
            // top: 0px;
            // left:40%;
        }

        @media(max-width:@lg--mobile) {
            top: -87px;
            left:31%;
        }

        @media(max-width:600px) {
            left: 23%;
            margin-top: -70px;
          
        }
   

    @media (max-width:@mobile) {
        margin-left: 10%;
        margin-right: 10%;
        // top: -250px;
        top: -100px;
        left: 0px;
    }
    .prev-btn-mobile {
        position: absolute;
        left:20px;
        // @media(max-width:@mobile) {
        //     left: -220px;
        // }
    }

    .next-btn-mobile {
        position: absolute;
        left: 200px;
        // @media(max-width:@mobile) {
        //     left: -220px;
        // }
    }
    
}

.large--carousel-slider-mobile {

    width: 100%;
    max-height: 680px;

    @media(max-width:@mobile) {
        max-height: 600px;
    }

    .slick-dots {
        // position: relative;
        // // top: -240px;
        // top: -170px;
        // margin-left: -25px;
        top: 102%;
        margin-left: 5%;
        @media(max-width:1023px) {
            // top: 1%;
            // margin-left: 65px;
            // // margin-top: -10px;
            // margin-left: 65px;
            // margin-top: 85%;
            position: absolute;
            margin-left: 2%;
        }

        @media(max-width:600px) {
            // top: 76%!important;
            // margin-left: 4%!important;
            top: 79%!important;
            margin-left: 0!important;
        }
        
        @media(max-width:@lg--mobile) {
            // top: 90%;
            // margin-left: 15px;
            top: 90%;
            // margin-left: 5%;
        }
        @media(max-width:@mobile) {
            top: -10px;
            margin-left: -25px;
        }
    }
   
    .slide--content-mobile {
        // display: inline-flex!important;
        // flex-direction: row;
        .bottom-row {
            // width: 40%;
            p {
                text-align: center;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                &:first-child {
                    font-family: 'Campton-Medium', sans-serif;
                    color:@grey--110;
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    @media(min-width:@tablet) {
                        font-size: 24px;
                        line-height: 31px;
                        margin-top: 0;
                        margin-bottom: 20px;
                    }
                
                }

                a {
                    font-family: 'Campton-Bold',sans-serif;
                    color:@grey--100;
                    text-decoration: underline;
                }
            }
        }
        .top-row {
        
            img {
                width: 60%;
              margin-left: auto;
              margin-right: auto;
              @media(max-width:@mobile){
                  width: 90%;
              }
                // height: 308px;
            }
        }
    }
}


.slick-slider-dots{
    position: absolute;
    bottom: 0px;
    left: 135px;
    top: 30px;
    transform: translateX(-100%);
    display: flex;

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 4px;
            button {
                background: #ffffff;
                height: 11px;
                width: 11px;
                overflow: hidden;
                color: red;
                border: 1px solid @grey--110;
                border-radius: 50%;
                padding: 0;
            }
            &.slick-active {
                button {
                    background: @red--100;
                    border: 1px solid @red--100;
                   
                }
            }
        }
    }

}

