/*IMPORT BUTTONS HERE */

.charts-content{
	padding-top: 60px;
	padding-bottom: 60px;

	@media(min-width:@desktop){
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.container{
		@media (max-width: 767px){
			margin-left: 0 !important;
			margin-right: 0 !important;
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
	}

	&__chart-container{
		text-align: center;
		background-color: @grey--0;
		overflow-x: scroll;
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 30px;

		@media (min-width: 768px) {
			margin-left: 0;
			margin-right: 0;
		}

		@media(min-width:@desktop) {
			overflow-x: visible;
			margin-bottom: 40px;
		}

		&::-webkit-scrollbar {
			width: 16px;
			height: 16px;
		}

		&::-webkit-scrollbar-thumb {
			background: rgba(0, 0, 0, 0.5);
			border-radius: 15px;
			height: 8px;
			width: 8px;
			background-clip: padding-box;
			border: 4px solid transparent;
		}

		&::-webkit-scrollbar-thumb:hover{
			background: rgba(0,0,0,0.7);
		}

		&::-webkit-scrollbar-track{
			background: #ffffff;
			border-radius: 0px;
			box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0%), inset 0px 4px 0px 0 rgba(0, 0, 0, 7%), inset 0 -1px 0px 0 rgba(0, 0, 0, 2%);
		}

		img{
			margin: 20px;

			@media(min-width:@desktop) {
				margin: 25px 20px;
			}
		}
	}

	.citations{
		font-size: 12px;
		color: @grey--100;
		letter-spacing: 0;
		line-height: 16px;
		max-width: 300px;
		text-align: left;
		padding-top: 15px;
		padding-bottom: 30px;

		@media(min-width:@desktop) {
			max-width: 430px;
		}
	}
}