.hero--circlechart{
    // padding-left: 50px;
       margin-top: 80px;
       margin-bottom: 50px;
    
    @media(max-width:@lg--mobile) {
        // margin-top: 20px;
        position: relative;
        top: 0px;
    }

    @media(max-width:@mobile) {
        top: 50px;
    }

    @media(max-width:1023px) {
      

        .col-flex-md-8 {
            @media(max-width:1023px) {
                width: 100%;
                max-width: 100%;
                 -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }
        }
    }
    .hero--circlechart-content {
        // padding-left: 50px;
        width: 60%;

        @media(max-width:1023px) {
        //     position: relative;
            // top: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width:990px) {
            // margin-top: 100px;
        }

        @media(max-width:@mobile) {
            top: -80px!important;
        }


        .rectangle-down {
            position: relative;
            top:35px;

            @media(max-width:@lg--mobile) {
               
                top: 30px;
                width: 16px;
                height: 16px;
            }
        }
        .content-container {
            padding-left: 20px;
            @media(max-width:@lg--mobile) {
                padding-left: 15px;
            }
        }
        h1 {
            font-family: @campton-medium;
            font-weight: 40px;
            line-height: 51px;
           @media(max-width:@lg--mobile) {
            //    width: 350px;
           }
           @media(max-width:@mobile) {
               width: 110%;
               font-size: 33px;
           }
           @media(max-width:@xs--mobile) {
            //    margin-right: 5px;
            // font-size: 30px;
            font-size: 30px;
           }
        }

       p {
           
           span{
               font-family: @campton-bold;
               sup {
                   font-size: 10px;
                   vertical-align: 3px;
               }
           }

           strong {
               font-family: @campton-semibold;
           }
       }

       button {
           @media(max-width:@mobile) {
               margin-top: 20px;
           }
       }

       @media(max-width:@lg--mobile) {
        position: relative;
        top: 0px;
           width: 80%;
           margin-bottom: 20px;
       }

       @media(max-width:@mobile) {
           width: 100%;
           margin-bottom: 0;
           margin-top: 30px;
           padding-left: 10px;
          padding-right: 10px;
       }
      
    }
    .hero--circlechart-desktop {
        display: none;
        @media(min-width:@tablet) {
            display: block;
        }

        img  {
            width: 91%;
            left: -10%;
            position: relative;
           
        }
    }
    .hero--circlechart-mobile {
        position: relative;
        top: 135px;
        display: block;
        background-color: @grey--0;
        @media(max-width:1023px) {
            top: -80px;
        }

        @media(max-width:@lg--mobile) {
            top: -32px;
        }
        &.col-flex-md-6 {
            @media(max-width:1023px) {
                width: 100%;
                max-width: 100%;
                 -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }
        }
        img {
            position: relative;
            left: 10%;
            width: 80%;

            @media(max-width:1023px) {
                left: 30%;
                width: 40%;
            }
            @media(max-width:990px) {
                left: 20%;
                width: 60%;
            }

            @media(max-width:@lg--mobile) {
                left: 20%;
                width: 60%;
            }
        }
        @media(min-width:@tablet) {
            display: none;
        }
    }
} 