.facts-card {
    width: 90%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    @media(max-width:@xl-mobile) {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        // display: block;

    }

    @media(max-width:@mobile) {
        width: 95%;
    }
    .card-content {
        padding: 20px 0px 40px 0px;
        p {
            font-family: @campton-semibold;
            font-size: 24px;
            span  {
                color:@red--100;
            }

        }
        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
    }

 }

 .fact-card-footnote {
    //  margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
     margin-bottom: 50px;
     font-size: 12px;
     line-height: 27px;
     padding-left: 20px;
     width: 100%;
        @media(max-width:@xl-mobile) {
            width: 83%;
            margin-left: auto;
            margin-right: auto;
        }
    
     @media(max-width: @mobile) {
         margin-bottom: 20px;
     }
 }