
#billing-accordion {
    display:block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    @media(max-width:@mobile) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    @media(min-width:@lg--mobile) {
        display: none;
    }

    // li {
    //     font-family: @campton-semibold;
    //     text-transform: uppercase;
    //     color:@grey--110;
    // }
    .acc_section {
        border: 1px solid @grey--50;
        background-color: @grey--0;
    }
    .acc_content {
        padding: 0;
    }
    .acc_head {
        background-color: @grey--0!important;
        font-family: @campton-semibold;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        // text-align: center;
        color:@grey--110;
        height: 76px;
        padding-top: 25px;
        // @media(max-width:@mobile) {
        //     height: 76px;
        //     padding-top: 25px;
        // }

        img {
            position: relative;
            left: 31px;

            &:nth-child(2) {
                left: 110px;
            }
        }
       
    }

  
    .mobile--chart-image {
        width: 100%;
    }

    
       
    
}

.accordion-footnote-container{
    display: none;
   @media(max-width:@lg--mobile) {
       display: block;
   }
    p{
        text-align: left!important;
    }
}


