//DESKTOP LAYOUT FLUAD CHART
.fluad-chart-container-desktop {
    width: 1090px;
    border: none!important;
    table {
        transform: scale(.97);
        position: relative;
        left: -15px;
      .top-row {
         
          th {
            padding-top: 30px;
            padding-bottom: 30px;
              padding-left: 21px;
            //   padding-right: 30px;
              font-family: @campton-semibold;
              font-size: 16px;
              line-height: 22px;
              color: @grey--0;
              border-right: 1px solid #ffffff;
              &:last-child {
                  padding-right: 20px;
                  border-right: none;
              }
          }
      }

      .bottom-row {
          td {
              font-family: @campton-book;
              font-size: 16px;
              line-height: 21px;
              color: @grey--100;
              padding-left: 21px;
              padding-top: 30px;
              padding-bottom: 40px;
              padding-right: 15px;
              border-right: 1px solid #92A1AC;
              &:last-child {
                border-right: none;
              }
          }
      }
    }
    // display: flex;
    // flex-direction: column;
}


// MOBILE LAYOUT FLUAD CHART 
.fluad-chart-container-mobile {
 
    margin-left: -130px;
    @media(max-width:@mobile) {
        margin-left: -81px;
    }
    .chart--row {
        display: inline-flex;
        flex-direction: row;
        height: 200px;
        border: 1px solid #92A1AC;
        width: 100%;
        .chart-left--column {
            // height: auto;
            background-color: @teal--110;
            border-bottom: 1px solid #92A1AC;
            width: 55%;
            @media(max-width:@mobile) {
                width: 57%;
            }
            p {
                font-family: @campton-semibold;
                color: #ffffff;
                font-size: 16px;
                transform: rotate(-90deg);
                position: relative;
                top: 83px;
                left: 67px;
                @media(max-width:@mobile) {
                    left: 39px;
                }
            }
        }
        .chart-right--column{
            background-color: #ffffff;
            width:100%;
            p {
                font-family: @campton-book;
                font-size:16px;
                color:@grey--100;
                position: relative;
                top: 54px;
                text-align: left;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}