.hero--grad{
	padding-top: 20px;
	padding-bottom: 70px;
	margin-bottom: 0;
	background-size: contain;
	background-position: center right;
	background-repeat: no-repeat;
	background-color: #fff;
	min-height: 360px;
	width: 100%;
    
    @media(max-width:@lg--mobile) {
        position: relative;
        top: 0px;
		background-image: none !important;
    }

    @media(max-width:1023px) {

        .col-flex-md-8 {
            @media(max-width:1023px) {
                width: 100%;
                max-width: 100%;
                 -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }
        }
    }
	
	.container{
		background-color: transparent;
	}
	
	.breadcrumbs--page-nav{
		left: 0;
		background: transparent;
		
		@media (max-width:768px) {
        	left: 0;
			position: relative;
			border-top: 1px solid #EEF0F1;
			border-bottom: 1px solid #EEF0F1;
        }
		
		p{
			@media (max-width:768px) {
				margin-left: 0;
			}
		}
	}
	
    .hero--grad__content {
        // padding-left: 50px;
        width: 60%;

        @media (max-width:768px) {
        	width: 100%;
			margin-top: 50px;
        }

        @media(max-width:@mobile) {
            top: -80px!important;
        }


        .rectangle-down {
            position: relative;
            top:35px;

            @media(max-width:@lg--mobile) {
               
                top: 30px;
                width: 16px;
                height: 16px;
            }
        }
        .content-container {
            padding-left: 20px;
            @media(max-width:@lg--mobile) {
                padding-left: 15px;
            }
        }
        h1 {
            font-family: @campton-medium;
            font-weight: 40px;
            line-height: 51px;
           @media(max-width:@lg--mobile) {
            //    width: 350px;
           }
           @media(max-width:@mobile) {
               width: 110%;
               font-size: 36px;
           }
           @media(max-width:@xs--mobile) {
            //    margin-right: 5px;
            // font-size: 30px;
            font-size: 34px;
           }
        }

       p {
           
           span{
               font-family: @campton-bold;
               sup {
                   font-size: 10px;
                   vertical-align: 3px;
               }
           }

           strong {
               font-family: @campton-semibold;
           }
       }
    }
    .hero--grad__mobile {
        position: relative;
        display: block;
        background-color: @grey--0;
		
        &.col-flex-md-6 {
            @media(max-width:1023px) {
                width: 100%;
                max-width: 100%;
                 -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }
        }
        img {
            position: relative;
            width: 100%;
        }
        @media(min-width:@tablet) {
            display: none;
        }
    }
	
	&.hero--grad-alt{
		min-height: 424px;
		background-position: center left;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		.container{
			> div{
				margin-left: auto;
			}
		}
		
		.row-flex{
			width: 100%;
			@media(max-width:@tablet) {
				margin-left: 0;
				margin-right: 0;
				display: block;
			}
		}
		
		.hero--grad__content{
			width: 80%;
			
			h2{
				font-size: 32px;
				@media(max-width:@tablet) {
					font-size: 36px;
					line-height: 41px;
				}
				span{
				   font-family: @campton-bold;
				   sup {
					   font-size: 10px;
					   vertical-align: 8px;
				   }
			   }
			}
			
			.redborder{
				display: inline-block;
				margin: 30px 0 0 !important;
				color: @red--100;
				transition: all 0.5s ease-in-out;
				
				&:hover{
					color: @three-sixty--white;
					background: @red--100;
					transition: all 0.5s ease-in-out;
				}
			}
		}
	}
} 

.content-container.content-container--has-corner{
	position: relative;
	
	&:before{
		content: url("../images/rectangle-down.svg");
		left: 0;
		top: -12px;
		position: absolute;
	}
}