#influenza-burden-hero {
  margin-bottom: 50px;
  height: 323px;
  overflow: hidden;

  @media(max-width:@xl-mobile) {
    height: 317px;
  }

  h3 {
      font-family: @campton-medium;
      font-size: 32px;
      line-height: 40px;
      color: #ffffff;
      padding-left: 50px;
      padding-top: 50px;
      @media(max-width:@xl-mobile) {
        font-size: 28px;
        line-height: 32px;
        padding-left: 20px;
        padding-top: 20px;
        width: 90%;
      }
  } 

  a {
      font-family: @campton-semibold;
      font-size: 16px;
      line-height: 24px;
      padding-left: 50px;
      margin-top: 30px;
      text-decoration: none;
      color: #ffffff;
      @media(max-width:@xl-mobile) {
        padding-top: 20px;
        padding-left: 20px;
      }

      &:hover {
        color: #ffffff;
      }

      &:visited {
        color: #ffffff;
      }
  }

  .cells-360-bg {
    position: relative;
    // top: -130px;
    // left: 700px;
    // width:627px;
     display: none;
    @media(min-width:@tablet) {
        // top: -130px;
        // left: 700px;
        top: 46px;
    left: -56px;
        width:627px;
        display: block;
    }
}

}