#influenza-carousel-desktop {
    display: block; 
    @media(max-width:@xl-mobile) {
        display: none;
    }
   position: relative;
   top: -97px;
   padding-top: 50px;
   .row-flex {
       margin-left: 0;
       margin-right: 0;
   }
    .icon-carousel-row {
        display: flex;
        flex-direction: row;

        .icon-carousel-col {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            img  {
                width:80px;
                width: 80px;
                margin-bottom: 40px;
            }
          p {
            font-family: @campton-semibold;
            font-size: 24px;
            line-height: 31px;
            color:@grey--110;
            text-align: center;
          }

        }
    }

    .influenza-carousel-desktop-content {
        p {
            text-align: center;
            padding-top: 60px;
        }
        .link-container  {
            width: 100%;
            text-align: center;
            a {
                display: inline-flex;
                flex-direction: row;
                font-family: @campton-semibold;
                &:hover {
                    text-decoration: none;
                }
    
                img  {
                    margin-left: 10px;
                }
            }

        }
       
    }


    .influenza-carousel-desktop-btn-container {
       
        display: inline-flex;
        @media(max-width:@xl-mobile) {
            display: none;
        }
        flex-direction: row;
        margin-bottom: 50px;
        // padding-left: 5%;
        justify-content: center;
        width: 100%;
        .prev-btn {
             margin-right: 50px;
            cursor: pointer;
        }
    
        .next-btn {
            cursor: pointer;
        }
    }

    .slick-slider  {
        height: 277px;
    }

   
     .slick-dots {
       background: transparent;
       position: absolute;
       top: 20px;
    //    left: 10px;
       height: 11px;
       z-index: 4;
         li  {
            border-radius: 0;
            border: none;
            width: 320px;
            height: 11px;
            background-color: transparent;
            margin-right: 64px;
            margin-left: -60px;
             button  {
               
                    width: 100px;
                    height: 11px;
                  
             }

             &:first-child {
                // margin-left: -342px;
                position: relative;
                left: -66px;
             }

             &:nth-child(n+2) {
                position: relative;
                left: 90px;
             }

             &:last-child {
                position: relative;
                left: 230px;
             }
         }
            
    }

    .carousel-bar-line {
        width: 80%;
        background-color: @grey--100;
        height: 2px;
        position: relative;
        top: -252px;
        margin-left: auto;
        margin-right: auto;
        opacity: .5;
        display: block; 
        @media(max-width:@xl-mobile) {
            display: none;
        }
        
    }
  
}