.influenza-carousel-mobile-card {
    width: 375px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: @grey--0;
    display: flex;
    flex-direction: column;
    flex: 1;
    .top-row  {
       display: flex;
       flex-direction: column;
       justify-content: center;
       img {
        margin-top: 50px;
           margin-left: auto;
           margin-right: auto;
       }
       p {
           font-family: @campton-medium;
           margin-top: 20px;
           font-size: 24px;
           line-height: 31px;
           text-align: center;
           color:@grey--110;
       } 
    }

    .bottom-row  {
        padding: 20px;
        p {
            font-family: @campton-book;
            font-size: 14px;
            line-height: 24px;
        }

        a {
            display: flex;
            font-family: @campton-semibold;

            img {
                margin-top: 10px;
            }
        }
    }
}

