#influenza-carousel-mobile {
    display: none;
    @media(max-width:@xl-mobile) {
        display: block;
    }

    background-color: @grey--0;
    height: 656px;

    .slick-dots  {
        position: absolute;
        bottom: 63px;
       
        @media(max-width:@xl-mobile) {
            margin-left: 47px;
        }

        @media(max-width:@lg--mobile) {
            margin-left: 21px;
        }
        @media(max-width:@mobile) {
            margin-left: 5px;
        }
    }
}

.influenza-carousel-mobile-btn-container {
   
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
    .influenza-prev-btn {
        margin-right: 60px;
    }

    .influenza-next-btn {
        margin-left: 60px;
    }
}
.hide-mobile-btns {
    display: none;
    @media(max-width:@xl-mobile) {
        display: block;
    }
}