#join360-footer {
    // z-index: -1;
    // position: relative;
    #join360-row {
        width: 100%;
        height: 336px;
        background-color: @grey--100;
        
        .join360-row-bg1 {
            width: 12px;
            height: 400px;
            background-color: @grey--90;
            margin-left: 50px;
            margin-top: 40px;
            position: relative;
            top: -20px;
            left: -24px;
        }
    
        .join360-row-bg2 {
            width: 12px;
            height: 400px;
            background-color: @grey--80;
            // margin-left: 50px;
            // margin-top: 40px;
            position: relative;
            top: -2px;
            margin-top: -418px;
            margin-left: 38px;
        }
        .join360--hero-container {
            background-color: #ffffff;
            width: 100%;
            height: 400px;
            margin-left: 50px;
            // margin-top: 40px;
            position: relative;
            z-index: 1;
            position: relative;
            top: -401px;
            z-index: 3;
    
            @media (min-width:@desktop) {
                min-height: 349px;
            }
    
            .join360--hero-container--content {
                padding-top: 30px;
                padding-left: 20px;
                @media(max-width:@mobile) {
                    // padding-left: 50px;
                    margin-left: 8%!important;
                    padding-left: 0;
                }
               

                @media(max-width:@xl-mobile) {
                    // padding-left: 50px;
                    margin-left: 15%;
                }
               
                @media(min-width:@tablet){
                    padding-top: 70px;
                    // padding-left: 50px;
                    // width: 80%;
                    margin-left: 2%;
                }

                @media(min-width:1500px) {
                    margin-left: 10%;
                }
                .header {
                    color: @grey--80!important;
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 48px;
                    width: 300px;
                    background:none;
                   
                    @media(min-width: @tablet) {
                        font-size: 42px;
                        width: 700px;
                        // line-height: 48px;
                    }
                }
    
                .paragraph  {
                    font-weight: 400px;
                    font-size: 16px;
                    line-height: 24px;
                    color: @paragraph--color;
                    width: 300px;
                    @media(min-width:@tablet) {
                        width: 700px;
                        margin-top: -10px;
                    }
                }
    
                .button-container {
                    margin-top: 28px;
                    @media(max-width:@mobile) {
                        margin-top: 35px;
                    }
                    .button--hero-outline-grey {
                        padding: 12px 35px 12px 35px;
                        @media(min-width:@tablet) {
                            padding: 15px 49px 15px 49px;
                        }
                    }
    
                    .button--hero-outline-red {
                        padding: 12px 15px 12px 15px;
                        @media(min-width:@tablet) {
                            padding: 15px 24px 15px 24px;
                        }
                    }
    
                    button {
                        margin-right: 10px;
                        @media(min-width:@tablet) {
                            margin-right: 20px;
                        }
                    }
                }
    
            }
    
            .cells-360-bg {
                position: relative;
                // top: -130px;
                // left: 700px;
                // width:627px;
                display: none;
                @media(min-width:@tablet) {
                    top: -178px;
                    // left: 700px;
                    left: 50%;
                    width:627px;
                    display: block;
                }
            }
        }
    }

}
