.prod-sbs{
	padding: 60px 0;
	@media(min-width:@desktop){
		padding: 72px 0;
	}
	
	.container{
		@media(min-width:@desktop){
			display: flex;
		}
	}
	
	&__left, &__right{
		@media(min-width:@desktop){
			flex: 0 0 50%;
		}
	}
	
	&__header{
		font-family: @campton-medium;
		color: #407E96;
		letter-spacing: 0;
		line-height: 32px;
		margin-bottom: 40px;
		@media(min-width:@desktop){
			margin-bottom: 32px;
		}
	}
	
	&__link{
		font-family: @campton-semibold;
		font-size: 18px;
		color: @grey--110;
		letter-spacing: 0;
		line-height: 27px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 40px;
		@media(min-width:@desktop){
			display: block;
		}
		
		img{
			margin-left: 15px;
			display: inline-block;
		}
	}
	
	&__key-features-header{
		font-family: @campton-semibold;
		font-size: 18px;
		color: @grey--110;
		letter-spacing: 0;
		line-height: 27px;
		display: block;
		padding: 12px 15px;
		margin-bottom: 24px;
	}
	
	&__key-features-list{
		margin-bottom: 30px;
		@media(min-width:@desktop){
			columns: 2;
			column-gap: 30px;
		}
		
		li{
			margin-bottom: 10px;
		}
	}
	
	&__img{
		position: relative;
		max-width: 287px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		@media(min-width:@desktop){
			max-width: 394px;
			margin-top: 30px;
		}
		
		img{
			width: 100%;
			height: auto;
		}
	}
	
	&__fpo-watermark{
		opacity: 0.5;
		font-family: @campton-bold;
		font-size: 100px;
		color: @grey--110;
		letter-spacing: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}