.prod-portfolio{
	padding-top: 70px;
	padding-bottom: 70px;

	&__heading{
		line-height: 26px;
		margin-left: 5%;
		width: 100%;
		color: @grey--110;
		margin-bottom: 16px;
		@media(min-width:@desktop) {
    		font-size: 24px;
			line-height: 31px;
			margin-left: 0;
			margin-bottom: 30px;
			width: 150%;
			display: inline-flex;
			flex-direction: row;
		}
		
		.header-line{
			display: none;
			@media(min-width:@desktop) {
				display: block;
				width: 950px;
				height: 2px;
				background: #AEB7BD;
				opacity: 0.5;
				margin-top: 13px;
				position: relative;
				left: 15px;
			}
		}
	}
	
	&__body{
		padding-left: 30px;
		padding-right: 30px;
		@media(min-width:@desktop) {
			display: flex;
			align-items: flex-end;
		}
	}
	
	&__card{
		text-align: center;
		border-bottom: 1px solid rgba(174, 183, 189, 0.5);
		padding-top: 40px;
		padding-bottom: 40px;
		@media(min-width:@desktop) {
			flex: 0 0 50%;
			border-bottom: none;
			border-right: 1px solid rgba(174, 183, 189, 0.5);
		}
		
		&:last-child{
			border-bottom: none;
			@media(min-width:@desktop) {
				border-right: none;
			}
		}
		
		> img{
			margin-bottom: 40px;
		}
	}
	
	&__disclaimer{
		@media(min-width:@desktop) {
			margin-top: 64px;
		}
		.disclaimer--paragraph{
			font-family: @campton-semibold;
			font-size: 16px;
			color: @grey--100;
			letter-spacing: 0;
			text-align: center;
			line-height: 24px;
		}
	}
}