
.product-3col{
	padding-top: 40px;
	padding-bottom: 40px;
	@media(min-width:@desktop) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	
	&__body{
		@media(min-width:@desktop) {
			display: flex;
			margin-left: -20px;
			margin-right: -20px;
		}
	}
	
	&__item{
		padding: 20px 0;
		@media(min-width:@desktop) {
			padding: 0px 20px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		
		img{
			display: block;
			margin-bottom: 30px;
		}
		
		h3{
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		
		p{
			font-size: 16px;
			color: @grey--100;
			letter-spacing: 0;
			line-height: 24px;
			margin-bottom: 30px;
			@media(min-width:@desktop) {
				margin-bottom: 50px;
			}
		}
		
		a{
			display: inline-block;
			font-size: 16px;
			color: @red--100;
			letter-spacing: 0;
			text-align: center;
			line-height: 24px;
			padding: 16px 24px;
			border: 2px solid @red--100;
			transition: all 0.5s ease-in-out;
			@media(min-width:@desktop){
				margin-top: auto;
    			margin-bottom: 0;
			}
			
			&:hover{
				transition: all 0.5s ease-in-out;
				color: @three-sixty--white;
				background-color: @red--100;
			}
		}
	}
	
	&__footer{
		padding-top: 40px;
		text-align: center;
		@media(min-width:@desktop) {
			padding-top: 70px;
		}
	}
}