
.prod-sb{
	padding-top: 64px;
	padding-bottom: 64px;
	
	.container{
		background-color: transparent;
	}
	
	&__body{
		@media(min-width:@desktop) {
    		display: flex;
		}
	}
	
	&__left{
		text-align: center;
		@media(min-width:@desktop) {
    		flex: 0 0 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	
	&__img{
		width: auto;
		height: auto;
		margin-bottom: 30px;
	}
	
	&__right{
		@media(min-width:@desktop) {
    		flex: 0 0 50%;
		}
		
		h2{
			font-family: @campton-medium;
			font-size: 32px;
			letter-spacing: 0;
			margin-bottom: 40px;
			line-height: 1.2;
		}
		
		&.prod-sb__right--light{
			h2{
				color: @three-sixty--white;
			}
			
			.prod-sb__link{
				color: @three-sixty--white;
				border: 1px solid @three-sixty--white;
				
				&:hover{
					background-color: @three-sixty--white;
					color: @grey--110;
				}
			}
		}
		
		&.prod-sb__right--dark{
			h2{
				color: @grey--110;
			}
			
			.prod-sb__link{
				color: @grey--110;
				border: 1px solid @grey--110;
			
				&:hover{
					background-color: @grey--110;
					color: @three-sixty--white;
				}
			}
		}
	}
	
	&__link{
		font-family: @campton-semibold;
		font-size: 16px;
		letter-spacing: 0;
		text-align: center;
		line-height: 24px;
		display: inline-block;
		padding: 15px 38px 10px;
		transition: all 0.5s ease-in-out;
		
		&:hover{
			text-decoration: none;
			transition: all 0.5s ease-in-out;
		}
	}
}