.prod-tabs{
	margin-bottom: 72px;
	
	.container{
		@media(min-width:@desktop){
			display: flex;
		}
	}
	
	&__tab-nav{
		display: none;
		@media(min-width:@desktop){
			display: block;
			flex: 0 0 33.3%;
			position: relative;
			z-index: 2;
		}
		
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			padding-inline-start: 0;
			
			li{
				font-family: @campton-semibold;
				font-size: 18px;
				color: @grey--110;
				letter-spacing: 0;
				line-height: 27px;
				margin: 0;
				background: @grey--0;
				border: 1px solid @grey--50;
				border-top: none;
				
				&:first-child{
					border-top: 1px solid @grey--50;
				}
				
				&.active, &:hover{
					background: @three-sixty--white;
					border-right: 1px solid @three-sixty--white;
					
					a{
						.prod-tabs__arrow{
							img{
								opacity: 1;
							}
						}
					}
				}
				
				&.active:hover{
					border-right: 1px solid @three-sixty--white;
				}
				
				&:hover{
					border-right: 1px solid @grey--50;
				}
				
				a{
					display: flex;
					padding: 24px 32px;
					justify-content: space-between;
					align-items: center;
					
					.prod-tabs__arrow{
						img{
							opacity: 0.75;
						}
					}
				}
			}
		}
	}
	
	&__tab{
		
		&.active{
			
			.prod-tabs__header{
				h4{
					a{
						.up-down{
							img{
								transition: all 0.5s ease-in-out;
								transform: rotate(180deg);
							}
						}
					}
				}
			}
			
			.prod-tabs__body{
				transform: none;
				transition: all .5s ease-in-out;
				opacity: 1;
				max-height: 2000px;
				padding: 40px 15px;
				@media(min-width:@desktop){
					display: block;
					transform: translateX(-1px);
					z-index: 1;
					position: relative;
					min-height: 100%;
					padding: 40px;
				}
			}
		}
		
		&:last-child{
			
			.prod-tabs__body{
				border-bottom: 1px solid @grey--50;
			}
		}
	}
	
	&__header{
		@media(min-width:@desktop){
			display: none;
		}
		
		h4{
			font-family: @campton-semibold;
			font-size: 18px;
			color: @grey--110;
			letter-spacing: 0;
			line-height: 27px;
			margin: 0;
			background: @three-sixty--white;
			border: 1px solid @grey--50;
			
			a{
				display: flex;
				padding: 24px 32px;
				justify-content: space-between;
				align-items: center;
				
				.up-down{
					img{
						transition: all 0.5s ease-in-out;
					}
				}
			}
		}
	}
	
	&__body{
		background: @three-sixty--white;
		border: 1px solid @grey--50;
		border-bottom: none;
		border-top: none;
		padding: 40px 15px;
		max-height: 0;
		min-height: unset;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		transition: all .5s ease-in-out;
		@media(min-width:@desktop){
			height: auto;
			max-height: none;
			opacity: 1;
			overflow: visible;
			transform: none;
			display: none;
			border-bottom: 1px solid @grey--50;
			border-top: 1px solid @grey--50;
		}
		
		img{
			width: 100%;
			height: auto;
			@media(min-width:@desktop){
				width: auto;
			}
		}
	}
	
	&__references{
		p{
			font-size: 10px;
			color: @grey--100;
			letter-spacing: 0;
			line-height: 21px;
		}
	}
}