.resources--card {
    width: 416px;
    height: 400px;
    background-color: @grey--0;
    // display: none;
    display: flex;
    flex-direction: column;


    @media(min-width:@desktop) {
        width:100%;
        // display: flex;
        // flex-direction: column;
    }

    @media(max-width:1023px) {
        // width: 416px;
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // margin-right: auto;
        // margin-left: auto;
        // padding-bottom: 30px;

    }

    @media(max-width:@mobile) {
        width: 88%;
        margin-left: auto;
        margin-right: auto;
    }

    // @media(max-width:@lg--mobile) {
    //     width: 416px;
    //     display: flex;
    //     flex-direction: column;
    //     margin-left: auto;
    //     margin-right: auto;
    // }

 
    @media(min-width:@tablet) {
        width: 100%;
        // min-height: 375px;
        // display: block;
        // display: flex;
        // flex-direction: column;
        
    }
    img {
        width: 100%;
        height: auto;
    }
    .resources--card-container {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        flex: 1;
        // height: 400px;
        // background-color: green;

        .resources--card-eyebrow {
            font-size: 14px;
            text-transform: uppercase;
        }
        .resources--card-title  {
            font-size: 24px;
            line-height: 31px;
            color: @grey--110;
            font-family: 'Campton-Medium',sans-serif;
        }
    
        .resources--card-subhead {
            color: @grey--110;
        }
    
        .resources--card-paragraph {
            font-size: 16px;
            line-height: 24px;
            color:@grey--100;
            // width: 90%;
        }

    }
    .resources--card-btn {
        width: 100%;
        border-top: 1px solid #EEF0F1;
        border-bottom: none;
        border-left: none;
        border-right: none;
        outline: none;
        position: relative;
        top: 50px;
        
            color: @grey--110;
            font-family: 'Campton-Medium',sans-serif;
            width: 100%;
            height: 60px;
            background-color: @grey--0;
            // padding: 10px 10px 10px;
           
            @media(max-width:@lg--mobile) {
                padding-top: 5%;
                padding-left: 0;
            }

            @media(max-width:@mobile) {
                padding-left: 35px;
            }

            // @media(max-width:@tablet) {
            //     top: 0;
            // }

            span {

                @media(max-width:@lg--mobile) {
                    margin-left: -40%;
                }
                
                @media(max-width:@tablet) {
                    margin-left: -43%;
                }
                margin-left: -55%;

                
            }
            img  {
                width: 24px;
                height: 24px;
                // left: 350px;
                left: 300px;
                top: -25px;
                float:none;
                position: relative;
                @media(max-width:@mobile) {
                    position: relative;
                    top: -21px;
                    left: 250px;
                    z-index: 3;
                }
                @media(min-width:@tablet) {
                    width: 24px;
                height: 24px;
                left: 200px;
                float: right;
                position: initial;
                }

            }
    
            // &:hover {
            //     text-decoration: none;
            // }
    
            &.two-lines {
                top: 105px;
            }
        
    }

    
}