
// .access-financial-resources-header--row {
// 	margin-bottom: 30px;
// 	@media(max-width:@mobile) {
// 		margin-bottom: 20px;
// 	}
	
// 	.header--container {
// 		display: inline-block;
		
// 		h2 {
// 			line-height: 26px;
// 			margin-left: 20%;
// 			width: 100%;

// 			@media(max-width:1023px) {
// 				margin-left: 73%;
// 			}

// 			@media(max-width:@lg--mobile) {
// 				margin-left: 62%;
// 			}

// 			@media(max-width:600px) {
// 				margin-left: 30%;
// 			}

// 			@media(max-width:@mobile) {
// 			font-size: 20px;
// 				line-height: 26px;
// 				margin-left: 17%;
// 				margin-bottom: 0;
// 			}

// 			@media(min-width:@tablet) {
// 				font-size: 24px;
// 				line-height: 31px;
// 				margin-left: 2%;
// 				width: 120%;
// 				display: inline-flex;
// 				flex-direction: row;
// 			}
// 		}
// 		.header-line{

// 			display: none;
// 			@media(min-width:@tablet) {
// 				display: block;
// 				width: 950px;
// 				height: 2px;
// 				background: #AEB7BD;
// 				opacity: .5;
// 				margin-top: 13px;
// 				position: relative;
// 				left: 15px;
// 			}
// 		}
// 	}
// }

#clinical-resources-financial {
    margin-bottom: 60px;

    @media(max-width:1023px) {
        width: 416px;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
       }

    @media(max-width: @mobile) {
        width: 100%;
    }
}

.view-resources--row {
    margin-top: 10px;
    margin-bottom: 25px;
    @media(min-width:@tablet) {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    @media(max-width:@mobile) {
        margin-top: -30px;
        margin-bottom: 50px ;
    }
}

.large--carousel-slider-mobile {
    .slick-dots {

        @media(max-width:@mobile) {
           
            top: -135px;
            left: 185px;
        }

        @media(max-width:@xs--mobile) {
            top: -155px;
            left: 180px;
        }
    }
}