
.safety-info{
	background-color: @grey--0;
	padding-top: 40px;
	
	&.sbs{
		padding-top: 40px;
		padding-bottom: 0;
	}
	
	&.is-sticky{
		position: fixed;
		top: ~"calc(100% - 160px)";
		height: 160px;
		overflow: hidden;
		left: 0;
		right: 0;
		z-index: 999;
		@media(min-width:@desktop) {
			top: ~"calc(100% - 200px)";
			height: 200px;
		}
		
		.safety-info__header{
			display: flex;
		}
	}
	
	.container{
		background: transparent;
	}
	
	p{
		font-size: 14px;
		color: @grey--100;
		letter-spacing: 0;
		line-height: 21px;
	}
	
	a{
		color: @grey--100;
	}
	
	&__header{
		display: none;
		align-items: center;
		justify-content: flex-end;
	}
	
	&__btn{
		border: none;
		background: transparent;
		font-size: 14px;
		color: @grey--110;
		letter-spacing: 0;
		line-height: 21px;
		padding: 15px;
		margin-left: auto;
		margin-right: 0;
		font-family: @campton-semibold;
		text-transform: uppercase;
		
		img{
			transform: translateY(-2px);
		}
	}
}