
.sbs {
    padding-top: 50px;
	padding-bottom: 30px;
	
	@media(min-width:@desktop) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	
	.container{
		background-color: transparent;
	}
	
	&__content{
		margin-bottom: 30px;
	}
	
	&__cards{
		@media(min-width:@desktop) {
			display: flex;
			margin-left: -10px;
			margin-right: -10px;
		}
		
		&--nobg{
			@media(min-width:@desktop) {
				margin-left: -20px;
				margin-right: -20px;
			}
		}
	}
	
	&__card{
		background: @three-sixty--white;
		padding: 40px 20px;
		margin-bottom: 20px;
		
		@media(min-width:@desktop) {
			flex: 50%;
			padding: 40px 40px 40px 20px;
			margin: 0 10px;
			margin-bottom: 0;
		}
		
		&--nobg{
			background: transparent;
			padding: 0;
			
			@media(min-width:@desktop) {
				padding: 0;
				margin: 0 20px;
			}
		}
	}
	
	&__footer{
		.cta{
			padding-top: 15px;
			
			img{
				margin-left: 40px;
				
				@media(min-width:@desktop) {
					margin-left: 50px;
				}
			}
		}
	}
}