
.sbs{
	&__body{
		@media(min-width:@desktop) {
			display: flex;
		}
	}
	
	&__left, &__right{
		@media(min-width:@desktop) {
			flex: 0 0 50%;
		}
	}
	
	&__left{
		@media(min-width:@desktop) {
			padding-right: 12px;
		}
	}
	
	&__right{
		@media(min-width:@desktop) {
			padding-left: 12px;
		}
	}
}