/*IMPORT BUTTONS HERE */
.speedbump{
	padding-top: 60px;
	padding-bottom: 60px;

	@media(min-width:@desktop) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&--50{
		@media(min-width:@desktop) {
			background-image: url(../images/speedbump-bg.png);
			background-repeat: no-repeat;
			background-position-x: right;
			background-position-y: calc(100% + 30px);
		}

		.speedbump__content{
			padding-right: 30px;

			@media(min-width:@desktop) {
				max-width: 50%;
				padding-right: 0;
			}
		}
	}

	.container{
		background-color: transparent;
	}

	&__content{
		color: @three-sixty--white;

		h3{
			margin-top: 0;
			margin-bottom: 30px;
			
			sup{
				font-size: large;
			}
		}

		p{
			color: @three-sixty--white;
			margin-bottom: 30px;
		}

		a{
			&:hover{
				color: @three-sixty--white;
			}

			img{
				margin-left: 50px;
			}
		}
	}
}