#coding-refrence-tabs{
    display: inline-flex;
    width: 1246px;
    .coding-refrence--tab {
       width: 310px;
       height: 70px;
       background-color: @grey--0;
       color: @grey--110;
       p {
           font-weight: 700;
           text-transform: uppercase;
       }
    }

    .coding-refrence--tab-container {
        position:relative;
        z-index: 3;
        background-color:  @grey--0;
        .affluria-cart-img {
          width:1242px;
        }
    }

    

    .coding-refrence--tab-content {
        position: relative;
        top: 40px;
    }
    .coding-refrence--tab-bg {
        position: relative;
        top: 70px;
        width: 1296px;
        height: 657px;
        background-color: @grey--0;
    }
}

// .tabs--container {
//     // position: absolute;
//     // left: 20px;
  
//   }
  .tabs--container .tabs--container-nav {
    display: inline-flex;
    position: relative;
    top: 21px;
    left: 1px;
    z-index: 5;
  }
  .tabs--container .tabs--container-nav .tabs--container-btn {
    position: relative;
    left: 19px;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    // width: 310px;
    height: 60px;
    border-top: 1px solid @grey--50;
    border-right: 1px solid @grey--50;
    border-left: 1px solid @grey--50;
    border-bottom:  1px solid @grey--50;
    p {
        font-family:@campton-semibold; 
        font-size: 18px;
        text-align: center; 
        position: relative; 
        color: @grey--110;
        left: -20px;
        text-transform: uppercase;
        display: inline-block;
         padding-bottom: 2px;
        border-bottom: 3px solid @red--100;
        left: -3px;
        transform: translate(0%,0);
        padding-left: 5px!important;
        padding-right: 5px!important;
     }
  }
  /*
  display: inline-block;
    padding-bottom: 2px;
    border-bottom: 3px solid red;
    left: -3px;
    transform: translate(0%,0);
    padding-left: 0;
  */
  .tabs--container .tabs--container--holder .tabs--container-content {
    position: relative;
    left: 20px;
    width: 1150px;
    // height: 320px;
    background-color: @grey--0;

    a {
        font-family: @campton-semibold;
        color: @grey--110;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        left: 470px;
        top: -20px;
       &:hover {
           text-decoration: none;
       }

       &:active,&:visited {
        color: @grey--110;
       }
       img {
           margin-top: -10px;
           margin-left: 10px;
       }
    }
  }
  .tabs--container .tabs--container--holder .tabs--container-content div {
    color: #ffffff;
    border: 1px solid @grey--50;
    position: relative;
    top: 20px;
    padding-left: 20px;
    // padding-right: 20px;
    padding-bottom: 10px;
    width: auto;
  
  }

  .tabs-footnote--container {
      position: relative;
      top: 60px;
      left: -10px;
      padding-right: 20px;
      width: 90%;
      display: block;
      border:none!important;
      @media(max-width:768px) {
        display: none;
      }
      @media(max-width:@mobile) {
        
        left: 20px;
        padding-right: 0;
    }
      p{
          
          font-size: 16px;
          line-height: 22px;
          border-bottom: none!important;
          
      }

      
  }

  .tabs-footnote--container-chart {
    position: relative;
    top: 60px;
    left: -64px;
    padding-right: 20px;
    width: 90%;
    display: block;
    border:none!important;
    @media(max-width:768px) {
      display: none;
    }
    @media(max-width:@mobile) {
      
      left: 20px;
      padding-right: 0;
  }
    p{
        
        font-size: 16px;
        line-height: 22px;
        border-bottom: none!important;
        margin-bottom: 0;
        
    }

    
}

.semibold-row {
  font-family: @campton-semibold!important;
  color: @grey--110!important;
}

  .italic-footnote {
    font-style: italic;
  }

  .text-align-left {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tabs--desktop-layout {
      display: none;
      @media(min-width: @lg--mobile) {
          display: block;
      }
  }

  .tab--desktop-holder {
    @media(max-width:@lg--mobile) {
      transform: scale(0.6) !important;
      margin-left: -167px !important;
    }
    // @media(max-width:900px) {
    // transform: scale(0.6) !important;
    //   margin-left: -121px !important;
    // }
    @media(max-width:1200px) {
      transform: scale(0.65) !important;
      margin-left: -120px !important;
    }
    @media(max-width:1300px) {
      transform: scale(.9);
      margin-left: -50px;
    }
  }

