.vaccine-portfolio-row {
    @media(max-width:@xl-mobile) {
        .col-flex-md-4 {
            width: 100%;
            max-width: 100%;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media(max-width:1356px) {
        // .col-flex-lg-4 {

        //     width: 20%;
        //     max-width:20%;
        //     -webkit-flex-basis: 20%;
        //     -ms-flex-preferred-size: 20%;
        //     flex-basis: 20%;
        //     margin-left: auto;
        //     // margin-right: auto;

        // }
    } 
}
.logo--card {
    background-color: @grey--0;
    width: 100%;
    height: 284px;
    margin-top: 20px;
    padding: 60px 30px 30px 30px;
    justify-content: center;

   
    
   .logo--card-container  {
       width:100%;
       display: flex;
       justify-content: center;
       flex-direction: column;
   }
  
    
     .fluad-logo {
      width:138px;
      height: 104px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -10px;
     
   
  }
  
  .affluria-logo {
      width: 159px;
      height: 74px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .flucelvax-logo {
      width: 227px;
      height: 88px;
      margin-left: auto;
      margin-right: auto;
     
  }
     
     a {
        .cta {
            position: relative;
            top: 20px;
            left: 30%;
            font-family: @campton-semibold;
            color:@grey--110;
            // margin-top:15px;
            text-decoration: none!important;
            &:hover {
              text-decoration: none!important;
          }
            @media(max-width:@lg--mobile) {
                width: 150px;
            }
                img {
                position: relative;
                left: 20px;
                
                }
        
           }
       
     }
  

     @media(min-width:1200px) {
        //  width: 100%;
         padding-top: 60px;
     }

     @media(max-width: 1200px) {
         width: 100%;
     }


     @media(max-width: 1023px) {
        width: 374px!important;
    }

    @media(max-width:@tablet) {
        width: 100%;
         margin-left: auto;
         margin-right: auto;
        
    }

    @media(max-width:@mobile) {
        width: 90%!important;
    }

//    @media(max-width:@mobile) {
//        width: 90%!important;
//    }
   
  
  }


  .vacccine-portfolio-header--row {
    margin-bottom: 30px;
    @media(max-width:@mobile) {
        margin-bottom: 20px;
    }
    .header--container {
        display: inline-block;
        h2 {
        
            // font-size: 20px;
            // line-height: 26px;
            // margin-left: auto;
            line-height: 26px;
            margin-left: 5%;
            width: 100%;

            @media(max-width:@xl-mobile) {
                margin-left: 35%;
            }

            @media(max-width:@lg--mobile) {
                margin-left: 33%;
            }

            @media(max-width:@mobile) {
            font-size: 20px;
                line-height: 26px;
                margin-left: 6%!important;
                margin-bottom: 0;
            }

            @media(max-width:600px) {
                margin-left: 14%;
            }

            @media(max-width:900px) {
               
                width: 90%;
                margin-bottom: -20px;
              
            }
           
            @media(min-width:@tablet) {
                font-size: 24px;
                line-height: 31px;
                margin-left: 0;
                width: 150%;
                display: inline-flex;
                flex-direction: row;
            }
        }
        .header-line{
          
            display: none;
            @media(min-width:@tablet) {
                display: block;
                width: 950px;
                height: 2px;
                background: #AEB7BD;
                opacity: .5;
                margin-top: 13px;
                position: relative;
                left: 15px;
            }
        }
    }

}