
.whatif--card-wide {
    background-color: @grey--0;
    width: 400px;
    margin-bottom: 20px;
   display: flex;
   flex-direction: column;
    
    // margin-right: 20px;
    @media(max-width:@mobile) {
        width: 335px;
        height: 325px;
        margin-right: 0;
    }
    @media(min-width:@tablet) {
        width:100%;
        height: 259px;
        // margin-right: 30px;
    }

    @media(min-width:@desktop) {
        width:637px;
        height: 259px;
        // margin-right: 30px;
    }

    .whatif--card-content {
           padding: 40px 30px 30px 40px;
           
            p {
                font-family: @content-font;
            }
            .header { 
                font-family: @campton-medium;
                font-size: 20px;
                line-height: 26px;
                min-height: 30px;
                @media (min-width:@desktop) {
                    font-size: 24px;
                    line-height: 31px;
                }
            }

            .content {  
                font-family: @campton-book;
                // color: @grey--100;
                // font-size: 16px;
                // line-height: 24px;
                font-size: 18px;
                line-height: 27px;

                @media(min-width:@tablet) {
                    font-size: 16px;
                    line-height: 24px;
                }

                
            }

           .callout {
                // font-weight: 600;
                font-family: @campton-semibold;
                font-size: 18px;
                line-height: 27px;
                // color:@grey--100;
                @media (min-width:@desktop) {
                    font-size: 16px;
                    line-height: 24px;
                     margin-top: 10px;
                }
            }

           
        
    }


    .cta {
        font-family: @campton-semibold;
        color:@grey--110;
        font-size: 16px;
        line-height: 24px;
        // margin-top: 20px;
        cursor: pointer;
        // margin-top: 200px;
        // margin-left: 40px;
        // position: relative;
        // top: -32px;
        &:hover {
            text-decoration: none!important;
        }
        img {
            width:24px;
            height: auto;
        }
    }
}
