#world-carousel-mobile {
    display: none;
    @media(max-width:@xl-mobile) {
        display: block;
    }

    .world-carousel-mobile {
        

        @media(max-width:@xl-mobile) {
            height: 609px;
        }

        @media(max-width:@mobile) {
            height: 488px;
        }
        .top-row  {
            img  {
                width: 60%;
                margin-left: auto;
                margin-right: auto;

                @media(max-width:@lg--mobile) {
                    width: 90%;
                }
            }
        }
    
        .bottom-row  {
            .bottom-row-content {
               
                @media(max-width:@xl-mobile) {
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 100px;
                }

                @media(max-width:@mobile) {
                    width: 90%;
                    padding-left: 20px;
                    padding-top: 42px;
                    margin-top: 20px;
                }
                h2 {
                    font-family: @campton-medium;
                    font-size: 32px;
                    line-height: 40px;
                    color:@grey--110;
                    span {
                        color:#AEB7BD;
                    }
                }
    
            }
        }
    
        .slick-dots {
            
            @media(max-width:@xl-mobile) {
                bottom: 261px;
                margin-left: 46px;
            }

            @media(max-width:@mobile) {
                bottom: 260px;
                margin-left: 10px;
            }
        }
    }
    
   

}

.world-container-mobile-btn-row {
    position: relative;

    @media(max-width:@xl-mobile) {
        top: 373px;
    }

    @media(max-width:@mobile) {
        top: 250px; 
    }
}

.world-carousel-mobile-btn-container {
          
    display: none;
    @media(max-width:@xl-mobile) {
        display: flex;
    }
    flex-direction: row;
    justify-content: center;
    width: 100%;
    // margin-left: 7%;
    margin-bottom: 20px;
    .world-mobile-prev-btn {
         margin-right: 135px;
         position: relative;
         z-index: 3;
        cursor: pointer;
    }

    .world-mobile-next-btn {
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

}


.world-carousel-mobile-cta {
    display: none;
    @media(max-width:@xl-mobile) {
        display: block;
        margin-left: 23%;
    }
    width: 75%;
    margin-bottom: 50px;
   @media(max-width:@mobile) {
    margin-left: 0;
   }
    // margin-left: 10%;
  @media(max-width:@mobile) {
      margin-top: 20px;
      margin-left: 20px;
  }
    a{
        font-family: @campton-semibold;
        color:@grey--110;
        &:hover {
            color:@grey--110;
            text-decoration: none;
        }
    }
}