#world-carousel-desktop {
    display: block;
    @media(max-width:@xl-mobile) {
        display: none;
    }
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   height: 400px;
    .world-carousel-desktop-slide {
         width: 80%!important;
        display: flex!important;
        // background-color: yellow;
        .slide-text-content {
            // width: 100%;
            // margin-left: auto;
            // margin-top: 20px;
            a {
                display: inline-flex;
                font-family: @campton-semibold;
                font-size: 16px;
                width: 600px;
                margin-top: 40px;
                // background-color: red;
                img {
                    margin-left: 10px;
                }

                &:hover {
                    text-decoration: none;
                    color: @grey--110;
                }

                &:visited {
                    color: @grey--110;
                }
            }
        }

        .slide-image-content{
            img {
                @media(max-width:@tablet) {
                    width: 550px;
                }
            }
        }
    }
        

}

.world-carousel-desktop-btn-container {
          
    display: flex;
    @media(max-width:@xl-mobile) {
        display: none;
    }
    flex-direction: row;
    justify-content: left;
    width: 79%;
    margin-left: 7%;
    margin-bottom: 20px;
    .world-prev-btn {
         margin-right: 50px;
        cursor: pointer;
    }

    .world-next-btn {
        cursor: pointer;
    }

}
