#world-carousel-header {
    .header-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @media(max-width:@xl-mobile) {
            width: 90%;
        } 
        h2 {
            font-size: 40px;
            line-height: 51px;
            margin-top: 50px;
            margin-bottom: 20px; 
            width: 50%;
            margin-left: auto;
            margin-right: auto; 
            @media(min-width:@tablet) {
                width: 63%;
            }
            @media(max-width:@xl-mobile) {
                width: 90%;
            } 
        }
    
        p {
           
            font-size: 18px;
            font-family: @campton-book;
            line-height: 27px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
           text-align: center;
           @media(min-width:@tablet) {
               width: 70%;
           }
           @media(max-width:@xl-mobile) {
            width: 90%;
        } 
    
        }
    }
   
}