<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			
			<tr>
				<td width="25%" height="249px" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2A" />
				</td>
				<td colspan="2" width="25%" height="249px" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2B" />
				</td>
				<td colspan="2" height="249px" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2C" />
				</td>
			</tr>
			<
			
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
