footer {
  margin-top: 30px;
  background: @footer-background;
  color: @footer-text-color;
  font-weight: 300;
}

.footer__top {
  padding-bottom: 50px;
  padding-top: 50px;

  @media (max-width: @screen-md) {
    padding-bottom: 38px;
  }

  .footer__nav--container {

    @media (max-width: @screen-sm) {
      margin-bottom: 10px;
      text-align: center;
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;

      .footer__link {
        margin-top: 10px;
      }

      a {
        color: @footer-text-color;
        font-size: 14px;
      }
    }
  }
}

.footer__left {
  .full-width-padding();
}

.footer__right {
  .full-width-padding();
  @media (max-width: @screen-md) {
    border-top: 1px solid @footer-border-color;
    padding-top: 30px;
    margin-top: 25px;
  }

  .footer__dropdown {

    select.form-control {
      padding: 2px 13px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      cursor: pointer;
      background-color: @footer-background;
      color: @footer-text-color;
      padding: 7px 10px;
      height: 26px;
      line-height: 20px;
      font-size: 14px;

      option {
        background-color: @footer-background;
      }

      &:focus::-ms-value {
        background-color: @footer-background;
      }
    }
  }
}

.footer__copyright {
  background: @copyright-background;
  padding: 25px 0;
  color: @copyright-color;
  text-align: center;
}
#flucelvaxfooterlogo_2 {
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    margin-bottom: 5%;
    margin-top: -11%;
}
.footermar{
	    margin-top: 12px;
	    margin-bottom: 25px;
}
.marTop-25{
margin-top: 25px !important;
}

/*************Global Footer class starts here****************/

.footer_container{
    background: #EA181B;
    padding: 4% 3% 0% 3%;
    top: 0px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.footer_container .fotter_txt{
    font-family: Campton-book;
    color:#fff;
    font-size:18px;

}
.footer_container .Logo_footer{
    margin-bottom:20px;
}
.footer_container .Logo_footer img{
    width:200px;
}
.footer_container .logo_seqirus{
    margin-bottom:20px;
}
.footer_container .logo_seqirus img{
    width:135px;
}
.footer_container .fotter_txt a{
    font-family: Campton-medium;
    color:#fff;
    font-size:15px;
}	
.footer_container .fotter_txt a:hover{
    text-decoration:underline;
}
.footer_container .footer_heading{
    font-family: Campton-medium;
    color:#fff;
    font-size:16px; 
    margin-bottom:30px;
    font-weight: 500;
    overflow:hidden;
    clear:both;
}	

.footer_container .footer_menu_list{ padding:0px;margin:0px}
.footer_container .footer_menu_list li{
    font-family: Campton-book;
    color:#fff;
    font-size:15px; 
    margin-bottom:10px;
    list-style:none;
}
.footer_container .footer_menu_list li a{
    font-family: Campton-book;
    color:#fff;
    font-size:14px;
    line-height:20px;
}
.footer_container .footer_txt_disclaimer{
    border-bottom: 1px solid #b6b6b3;
    margin: 20px 0px;
    padding-bottom: 20px;
}
.footer_container .footer_txt_disclaimer p{
    font-family: Campton-book;
    color:#fff;
    font-size:12px;
    line-height:16px;
}
.footer_container .footer_txt_disclaimer sup{
    top: 0px;
    vertical-align: super;
    font-size: smaller;
}
.footer_container .fotter_bottom_logo{
    text-align:center;
    padding:20px 0px;
}
.footer_container .fotter_bottom_logo img{
    padding:0px 30px;
}

/*************Global Footer class ends here****************/


/*************Footer linked html pages Style starts here****************/
.margin-control{    
    margin: 4% 3% 3% 2%;
    width: 96%;
}
.terms_title{

    color: #2A3237;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: 2%;
    font-family: campton-Medium;
}
.terms_sub_title{
    color: #5D6F7B;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    margin: 1% 0% 4% 0%;
}
.terms_block{
    margin-top:2%;
}
.terms_block .terms_heading{
    font-family: campton-Bold;
    color:#000;
    font-size:18px;
    line-height:30px;
    margin-bottom:15px;
}
.terms_block .light_text{
    color: #5D6F7B;
    font-family: campton-Book;
    font-size: 16px;
    line-height: 23px;
}
.terms_block .light_text li{
    color: #5D6F7B;
    font-family: campton-Book;
    font-size: 16px;
    line-height: 23px;
}
.clear_gap{ clear:both;}

.terms_block .deep_text{
    color: #5D6F7B;
    font-family: 'Campton-Medium';
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
}
.terms_block .redbody_text{
    color: #DF323F;
    font-family: campton-Book;
    font-size: 16px;
    line-height: 23px;
}
.terms_red_heading{
    font-family: campton-Bold;
    color:#DF323F;
    font-size:18px;
    line-height:30px;
    margin-bottom:15px;
}
.terms_block .website_table{
    width: 98%;
    border-collapse: collapse;
    margin: 40px 0px;
    color: #5D6F7B !important;
    font-family: campton-Book;
    font-size: 16px;
    line-height: 23px;
}
.terms_block td {
    border: 1px solid #5C6E7C;
    text-align: left;
    padding: 15px;
}
.terms_block th{
    border: 1px solid #5C6E7C !important;
    text-align: center;
    padding: 8px;
    font-family: campton-Bold !important;
    font-size:18px !important;
    background-color: #fff !important;
    text-transform: none!important;
}
.terms_block td:nth-child(odd){
    font-weight: bold;
}
.terms_block .light_text a{
    text-decoration: underline;
    color:#DF323F;
}
.terms_block .light_text .blueLink {
    color:#337ab7;
}
.terms_center_title{
    color: #2A3237;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: 2%;
    font-family: campton-Medium;
    text-align: center;
}
.header_subtext{
    color: #5D6F7B;
    font-family: campton-Book;
    font-size: 16px;
    line-height: 23px;
    margin: 10px;
}
.subSection{
    margin-left: 10px;
}
.terms_block ol {
    counter-reset: list;
}
.terms_block ol > li {
    list-style: none;
    position: relative;
}
.terms_block ol > li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
    position: absolute;
    left: -1.4em;
}
/*************Footer linked html pages Style ends here****************/