#about-seqirus {
    .breadcrumbs--page-nav {
        position: relative;
    }
    .container  {
        @media(max-width:1023px) {
            margin-left: 0!important;
            margin-right: 0!important;
            width: 100%!important;
        }
        @media(max-width:@mobile) {
            margin-left: 0!important;
            margin-right: 0!important;
        }

        @media(min-width:1100px) {
            max-width: 90%!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }

        @media(min-width:1200px) {
            width: 1296px!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }
    
}
    .hero--overview {
        position: relative;
        background-repeat: no-repeat;
        @media (max-width:@mobile) {
            background-image: url('../assets/images/about-sequiris-hero.png')!important;
            top: 48px!important;
            height: 275px!important; 
            // background-position-x: -40px!important;
        }
        @media(max-width:@lg--mobile) {
            width: 100%;
            height: 275px!important;
            background-repeat: no-repeat;
            // background-size: 150% auto;
            // background-position-x: 100px;
            background-color: #ffffff;
            background-image: url('../assets/images/about-sequiris-hero.png');
            position: relative;
            top: 50px;
        }
        @media (max-width:@tablet) {
            width: 100%;
            background-size: cover;
            // background-position-x: -149px;
            background-image: url('../assets/images/about-sequiris-hero.png');
        }


        @media(min-width:@desktop) {
            // background-position-x: 0;
            background-position: right;
            background-size: contain;
            background-image: url('../assets/images/about-sequiris-hero.png');
            height: 769px;
            // top: -100px;
        }

        @media (max-width:768px) {
            top: 0px;
            // background-position-x: 100%;
            background-size:  cover;
        }


        .hero--overview-content {
           width: 650px;
           padding-left: 100px;
           padding-top: 100px;
          
           @media (max-width:@tablet) {
               width: 350px;
               padding-left: 60px;
              
           }
           @media(max-width:@lg--mobile) {
                display: none;
            }
           @media (max-width:1300px) {
            //  width: 500px;
            width: 40%;
            //  padding-top: 0px;
            padding-top: 50px;
            padding-bottom: 80px;
           }

           @media(min-width:1400px) {
               width: 47%;
           }

            h1 {
                // font-weight: 400;
                width: 530px;
                padding-left: 20px;
                @media(max-width:@xl-mobile) {
                    width: 29%;
                }
        

                span {
                    color: @red--100;
                    font-family: "Campton-Bold";
                    sup {
                        font-size: 13px!important;
                        vertical-align: 10px;
                    }
                }
            }
            p {
                padding-left: 20px;
                color: @grey--100;
                @media(max-width:@xl-mobile) {
                    width: 37%;
                }
                span {
                    font-family: @campton-bold;
                    color: @red--100;
                }
                @media(min-width:1300px) {
                    width:90%;
                }
            }

            button {
                margin-left: 20px;
                margin-top: 20px;
            }

            img {
               position: relative;
               top: 20px;
            }
           
        }


        .hero--desktop-image {
            width: 100%;
            display:none;
            @media (min-width:@desktop) {
                display: block;
            }
        }

        .hero--mobile-image {
            width:375px;
            height: auto;
            display:block;
            @media (min-width:@desktop) {
                display: none;
            }
        }
    }

    .hero--overview-content-mobile {
        max-width: 400px;
        @media(max-width:@tablet) {
            display: none;
        }

        @media(max-width:@lg--mobile) {
            display: block;
        }
        @media (max-width:@mobile) {
            max-width:340px;
            margin-top: 30px;
        }
        h1 {
            font-weight: 400;
            max-width: 530px;
            padding-left: 20px;
            span {
                color: @red--100!important;
                font-family: 'Campton-Bold';

                sup {
                  
                    font-size: 13px!important;
                    vertical-align: 10px;
                  
                }
            }
        }
        p {
            padding-left: 20px;
            color: @grey--100;
            @media (max-width:@mobile) {
                width: 300px;
            }
        }

        button {
            margin-left: 20px;
            margin-top: 20px;
        }

        .rectangle-down {
           position: relative;
           top: 20px;
           @media (max-width:@mobile) {
            left: 5px;
           }

           @media(max-width:@xs--mobile) {
               left: 10px!important;
           }
        }
        padding-top: 50px;
        margin-bottom: 50px;
    }

   
}