#adjuvant-tech {
  .hero--section {
    background-position: center right;
    background-size: cover;
    padding: 0 0 60px 0;

    @media(max-width:@tablet) {
      background-image: none !important;
    }

    .container {
      background-color: transparent;

      .breadcrumbs--page-nav {
        background-color: transparent;
        left: 0;

        @media(max-width:@tablet) {
          padding: 0 0 20px 0;
        }
      }

      .hero--section-content {
        @media(max-width:@tablet) {
          margin: 30px 0 0 0;
        }

        .rectangle-down {
          position: relative;
          top: 35px;
          left: -15px;

          @media(max-width:@lg--mobile) {
            top: 30px;
            width: 16px;
            height: 16px;
          }
        }

        .text--red-100 {
          font-family: @campton-bold;
        }
      }
    }

    .hero-mobile-img {
      display: none;
      background-position: center;
      background-size: cover;
      height: 256px;
      width: 100%;

      @media(max-width:@tablet) {
        display: block;
      }
    }
  }

  .factor-section {
    padding: 60px 0;

    .container {
      background-color: transparent;

      h2 {
        text-align: center;
        padding: 0 0 40px 0;
      }

      .factor-block {
        background-color: #ffffff;
        padding: 20px 30px;

        @media(max-width:@tablet) {
          margin: 0 0 20px 0;
        }
      }
    }
  }

  .senior-section {
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 60px 0;

    @media(max-width:@tablet) {
      background-image: none !important;
    }

    .container {
      background-color: transparent;
    }

    .senior-mobile-img {
      display: none;
      background-position: center;
      background-size: cover;
      height: 256px;
      width: 100%;

      @media(max-width:@tablet) {
        display: block;
      }
    }
  }

  .heading-section {
    padding: 60px 0 20px;
    text-align: center;

    @media(max-width:@tablet) {
      background-color: @grey--0;
    }

    .container {
      background-color: transparent;

      p {
        padding: 20px 10% 0;
      }
    }
  }

  .diagram-section {
    padding: 0 0 40px 0;
    text-align: center;

    @media(max-width:@tablet) {
      background-color: @grey--0;
    }

    .container {
      background-color: transparent;

      .diagram-heading {
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 0 10px 0;
      }

      .slick-slide {
        height: auto;

        @media (max-width: @tablet) {
          margin-bottom: 20px;
        }
      }

      .diagram-block {
        padding: 20px 5%;

        @media (max-width: @tablet) {
          background-color: #ffffff;
        }

        img {
          width: 100%;
          display: block;
          margin: 0 auto;
          max-width: 300px;
        }

        .img-caption {
          padding: 20px 0 0 0;
          color: @grey--100;
        }
      }

      .slick-dots {
        bottom: -10px;
      }
    }
  }

  .video-section  {
    padding: 60px 0;

    .container {
      background-color: transparent;

      p {
        padding: 20px 0;
        color: @grey--100;
      }

      .video-caption {
        text-align: center;
        font-weight: bold;
        padding: 0 0 20px 0;

        @media(max-width:@tablet) {
          padding: 40px 0 20px 0;
        }
      }

      .video-wrap {
        img {
          display: block;
          margin: 0 auto;
          width: 100%;
          max-width: 400px;
        }
      }
    }
  }

  .grey-cell-section {
    background-color: #5C707B;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 0 0 40px 0;
    padding: 40px 0 60px;
    position: relative;

    .cells-bg {
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 230px;

      @media(max-width:@tablet) {
        display: none;
      }
    }

    .container {
      background-color: transparent;

      h2 {
        color: #ffffff;
      }

      p {
        color: #ffffff;
        margin: 20px 0;
      }

      a {
        color: #ffffff;
      }
    }
  }

  .resource-section {
    margin-bottom: 60px;

    .access-financial-resources-header--row {
      h2 {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }

    .resources-card {
      background-color: #F9FAFA;

      .card-img {
        width: 100%;
      }

      .resources-card-container {
        padding: 20px;

        .resources-card-eyebrow {
          font-size: 14px;
          text-transform: uppercase;
        }
        .resources-card-title {
          font-size: 24px;
          line-height: 31px;
          color: #2A3237;
          font-family: 'Campton-Medium', sans-serif;
        }
        .resources-card-paragraph {
          font-size: 16px;
          line-height: 24px;
          color: #5D6F7B;
        }
      }
    }

    .resources-card-btn {
      border-top: 1px solid #EEF0F1;
      border-bottom: none;
      border-left: none;
      border-right: none;
      outline: none;
      color: #2A3237;
      font-family: 'Campton-Medium', sans-serif;
      width: 100%;
      background-color: #F9FAFA;
      text-align: left;
      padding: 20px 14px;

      img {
        float: right;
        position: relative;
        top: 2px;
      }
    }

    .slick-slide {
      height: auto;

      @media (max-width: @tablet) {
        margin-bottom: 20px;
      }
    }

    .slick-dots {
      bottom: -10px;
    }
  }

  .view-resources--row {
    margin-top: 40px;
    margin-bottom: 25px;

    @media(min-width:@tablet) {
      margin-top: 80px;
      margin-bottom: 50px;
    }
  }

  .disclaimer--paragraph {
    font-size: 16px;
    color: @grey--110;
    font-weight: bold;
    text-align: left;
    padding: 40px 0;
    @media(max-width:@lg--mobile) {
      padding-left: 22px;
    }
  }

  .references-section {
    padding: 40px 0;
   .references-content  {
    
      color: @grey--100!important;
    
   }
    @media(max-width:@lg--mobile) {
      padding-left: 20px!important;
      padding-right: 20px!important;
    }
  }
}