#afluria{

	.hero--prod--info-hasbg{
		position: relative;
		
		&:before{
			@media(min-width:@desktop) {
				content: "";
				position: absolute;
				width: 60%;
				height: 100%;
				background-color: rgba(0, 95, 131, 0.75);
			}
		}
		
		.container{
			overflow: visible;
		}
		
		.breadcrumbs--page-nav{
			margin-bottom: 0;
			height: auto;
		}
		
		.breadcrumbs--page-nav .container{
			background-color: rgba(0, 95, 131, 0.75);
			padding-bottom: 30px;
			margin-bottom: 0;
			padding-left: 20px !important;
			padding-right: 20px !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
			@media(min-width:@desktop) {
				background-color: transparent;
				padding-left: 0 !important;
				padding-right: 0 !important;
				margin-left: auto !important;
				margin-right: auto !important;
			}
		}
		
		.hero--prod__body{
			background-color: rgba(0, 95, 131, 0.75);
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
			@media(min-width:@desktop) {
				background-color: transparent;
				margin-left: 0;
				margin-right: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	
	.prod-sbs__key-features-header{
		background-color: #EDF5F8;
	}
	
	.prod-tabs{
		&__tab{
			&.active{
				.prod-tabs__header{
					h4{
						border-left: 4px solid #016E9A;
					}
				}
			}
		}
	}
	
	.prod-sb{
		
		&__img{
			max-width: 201px;
			margin-bottom: 0;
			@media(min-width:@desktop) {
				max-width: 265px;
			}
		}
	}
	
	.references{
		background: #F9FAFA;
		padding-top: 20px;
		padding-bottom: 20px;
		
		.container{
			background-color: transparent;
		}
	}
}