#cell-tech {
	.speedbump{
		
		@media(min-width:@desktop) {
			margin-bottom: 50px;
		}
	}
	
	.resources{
		
		.container{
			margin-left: 0 !important;
    		margin-right: 0 !important;
			
			@media(min-width:@desktop) {
				margin-left: auto!important;
    			margin-right: auto!important;
			}
		}
		
		.resources--card{
			height: 440px;
			width: auto;
		}

		.slick-list{
			padding:0 10% 0 10%;
			margin: 0 -27px;
		}

		.slick-slide {
			margin: 0 10px;
		}


		.cards-pl-0-mobile {
			@media (max-width: 1023px){
				margin-left: 0;
				margin-right: 0;
				padding-right: 0;
			}
		}
		
		#clinical-resources-financial {

			@media(max-width:1023px) {
				width: 100%;
			}
		}
		
		.resources--card-btn {

			@media(max-width:@lg--mobile) {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-top: 0;
				padding: 0;
			}

			span {

				@media(max-width:@lg--mobile) {
					margin-left: 20px;
				}

				@media(max-width:@tablet) {
					margin-left: 20px;
				}
			}
			
			img {
				left: 0;
				top: 0;
				margin-right: 20px;
				
				@media(max-width:@mobile) {
					left: 0;
					top: 0;
					margin-right: 20px;
				}

			}

			&.two-lines {
				top: 105px;
			}
		}
	}
	
	.disclaimer--paragraph{
		margin-top: 20px;
		text-align: left;
		font-family: @campton-semibold;
		@media(min-width:@desktop) {
			margin-top: 50px;
		}
	}
	
	.references{
		padding-top: 60px;
		padding-bottom: 60px;
		
		@media(min-width:@desktop) {
			padding-top: 70px;
		padding-bottom: 70px;
		}
	}
}