#clinical-support {

      .container  {
        @media(max-width:1023px) {
            margin-left: 0!important;
            margin-right: 0!important;
            width: 100%!important;
           overflow: visible!important;
        }
        @media(max-width:@mobile) {
            margin-left: 0!important;
            margin-right: 0!important;
            max-width: 393px!important;
            overflow-x: hidden;
        }

        @media(min-width:1100px) {
            max-width: 90%!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }

        @media(min-width:1200px) {
            width: 1296px!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }
    

//     @media(min-width:1200px) {
//         max-width: 1100px!important;
// margin-left: auto!important;
// margin-right: auto!important;
//     }
}
  
    .breadcrumbs--page-nav {
        @media(min-width:@desktop) {
            left: 0;
        }
    }
    #multiple-needs--header {
        margin-bottom: 50px;
        margin-top: 50px;
        h2 {
            text-align: center;
            @media(max-width:@lg--mobile) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            @media(max-width:@mobile) {
                width: 100%;
            }
        }
    }


    #what-if-row {
     display: flex;
     justify-content: center;

     @media(max-width:@xl-mobile) {
        &.col-flex-md-6 {
            width: 100%;
            max-width: 100%;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
     }
    }

}
    .disclaimer--paragraph {
        font-family: @campton-semibold;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-top: 50px;
        @media(max-width:@xl-mobile) {
            width: 56%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            margin-bottom: 20px;
            text-align: center;
        }

        @media(max-width:@mobile) {
            margin-top: 40px;
            width: 90%;
            margin-left: 20px;
            margin-right: 0;
            margin-bottom: 0px;
        }
    }

    .view-resources--row {
        margin-top: 10px;
        margin-bottom: 50px;
        @media(min-width:@tablet) {
            // margin-top: 100px;
            // margin-bottom: 50px;
            margin-top: 30px;
            margin-bottom: 67px;
        }
    }

    // #vaccine-header-row {
    //     h2 {
    //         padding-left: 20px;
    //         width: 100%;

    //         @media (min-width:@tablet) {
    //             padding-left: 10%;
    //             width: 600px;
    //         }
    //     }
    // }

    #clinical-resources {
        margin-bottom: 60px;
    
        @media(max-width:1023px) {
            width: 416px;
            height: 550px;
            // min-height: 439px;
            // display: flex;
            // flex-direction: column;
            margin-left: auto;
            margin-right: auto;
           }
    
        @media(max-width: @mobile) {
            width: 100%;
            height: 400px;
        }
    
        .slick-dots {
            @media(max-width: @mobile) {
                bottom: -45px;
            }
         }
    }
    

    .join360--svg {
        padding-left: 30px;
        margin-top: 50px;
        position: relative;
        top: 32px;

        @media(max-width:@xl-mobile) {
            display: none;
        }

        @media(max-width:1199px) {
            
            transform: scale(.85);
        }

        @media(max-width:1200px) {
            // top: 114px!important;
            // left: -90px;
            top: 66%!important;
            left: 223px;
        }

        @media(max-width:@tablet) {
            transform: scale(.75);
            // left: -88px;
            // top: 65%!important;
            left: -153px;
            top: 33%!important;
           
        }

        @media(min-width: @desktop) {
            padding-left: 30px;
            margin-top: 50px;
            // position: relative;
            // top: 88px;
            position: absolute;
            top: 60%;
            left: 28%;
        }

        @media(min-width:1500px) {
            // top:100px;
            top: 62%;
            left: 39%;
            // position: absolute;
        }

        @media(min-width:1800px) {
            // top:100px;
            // top: 55%;
        }
    }

    .innovation--container {
       
        margin-bottom: 25px;
        @media(min-width:@tablet) {
            margin-bottom: 50px;
        }
    }

    #innovation-row {
        
        // @media(min-width:@tablet) {
        //     overflow: hidden;
        //     max-height: 60%;
        // }
       
        @media(min-width:@tablet) {
            // margin-bottom: 50px;
            overflow: hidden;
            // max-height: 102%;
        }

        @media(max-width:@lg--mobile) {
            margin-bottom: 30px;
            width: 102%;
            margin-left: auto;
            margin-right: auto;
        }

        @media(max-width:@mobile) {
            width:100%;
        }
        .col-flex-md-7 {
            @media(max-width:@xl-mobile) {
                width: 70%;
                max-width: 70%;
                -webkit-flex-basis:70%;
                -ms-flex-preferred-size: 70%;
                flex-basis: 70%;
                margin-left: auto;
                margin-right: auto;
            }
            @media(max-width:@lg--mobile) {
                width: 90%;
                max-width: 90%;
                -webkit-flex-basis:90%;
                -ms-flex-preferred-size: 90%;
                flex-basis: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .col-flex-md-5 {
            @media(max-width:@xl-mobile) {
                width: 70%;
                max-width: 70%;
                -webkit-flex-basis:70%;
                -ms-flex-preferred-size: 70%;
                flex-basis: 70%;
                margin-left: auto;
                margin-right: auto;
            }

            @media(max-width:@lg--mobile) {
                width: 90%;
                max-width: 90%;
                -webkit-flex-basis:90%;
                -ms-flex-preferred-size: 90%;
                flex-basis: 90%;
                margin-left: auto;
                margin-right: auto;
            }


            
        }
            .innovation--card{
                width: 100%;
                // padding-left: 5%;
                // padding-right: 2%;
                margin-bottom: 10px!important;
                //  &:nth-of-type(1) {
                //      @media(min-width:@lg--mobile) {
                //          margin-bottom: 0px!important;
                //      }
                //  }
                @media(max-width:@mobile) {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }

                @media(min-width:@desktop) {
                    width: 300px;
                    // padding-left: 5%;
                    // padding-right: 4%;
                }
                .innovation--card-eyebrow {
                    font-family: @campton-book;
                    font-size: 14px;
                    line-height: 24px;
                    color:@grey--110!important;
                    span {
                        text-transform: uppercase;
                    }
                    @media(max-width:@lg--mobile) {
                        margin-left: 10px;
                       font-family: 12px;
                       line-height: 24px;
                    }
                }

                .innovation--card-title {
                    font-family: @campton-medium!important;
                    @media(max-width:@lg--mobile) {
                        margin-left: 10px;
                        font-size: 24px;
                        line-height: 31px;
                    }
                }

                .paragraph--1-book {
                    // width: 80%;
                    // height: 71px;
                    margin-bottom: 20px;

                    @media(max-width:@mobile) {
                            // margin-bottom: 0px;
                    }
                    @media(max-width:@xl-mobile) {
                        margin-left: 10px;
                    }
                    @media(max-width:@tablet) {
                        width: 90%!important;
                        // margin-left: 10px;
                    }

                    @media(min-width:@desktop) {
                        width: 100%;
                    }
                }

                .innovation--card-cta-container {

                    width:52%;
                    height: auto;
                    margin-left:-40px;
                    @media(max-width:@mobile) {
                        width: 92%;
                        margin-left:-30px;
                    }
                    // @media(max-width:@xl-mobile) {
                    //     width: 100%;
                    // }
                    @media(min-width:900px) {
                        width: 50%;
                    }
                    // @media(min-width:@desktop) {
                    //     width: 70%;
                    // }
                    @media(min-width:@tablet) {
                        width: 70%;
                        height: auto;
                        margin-left: -40px;
                    }
                    li {
                        list-style: none;
                        padding-bottom: 10px;
                    }                    
                .innovation--card-cta {
                    font-family: 'Campton-Medium',sans-serif;
                    text-decoration: none;
                    color:@grey--110;
                    margin-bottom: 20px;
                    font-size:  16px;
                    line-height: 24px;
                    img {
                        margin-left: 15px;
                     @media(min-width:@tablet) {
                        margin-left: 15px;
                     }
                    }
                    &:active {
                        color:@grey--110!important;
                    }
                }

                }
            }
        
    }

    // #carousel-container-row {

    //     display: block;
    //     margin-bottom: 60px;
    //     @media(min-width:@tablet) {
    //         display: none;
    //     }


    // }
    .two-lines-card-01 {
        top: 130px;
    }
   
   .two-lines-card-02 {
       top: 155px;
   }

   .two-lines-card-03 {
       top: 45px;
   }

    #join360bg--container-row {
        display:none;
        @media(min-width:@tablet) {
            display:block;
        }
    }

    .pt-56-md  {
        @media(max-width:@tablet) {
            padding-top: 56px!important;
        }
    }
   
}

#page04--join360hero-footer { 

    #join360-row {      
        background-color: @red--100;
        .join360-row-bg1 {         
            background-color: #C13034!important;
           
        }

        .join360-row-bg2 {           
            background-color: @three-sixty--darkred!important;  
        }
        .join360--hero-container {
            background-color: #ffffff;
           
            .join360--hero-container--content {
               
                .header {
                    color: @red--100!important;
                    
                }
            }

           
        }
    }

}
  