#coding-and-billing {
    &.container  {
        @media(max-width:1023px) {
            margin-left: 0!important;
            margin-right: 0!important;
            width: 100%!important;
        }
        @media(max-width:@mobile) {
            margin-left: 0!important;
            margin-right: 0!important;
        }

        @media(min-width:1100px) {
            max-width: 90%!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }

        @media(min-width:1200px) {
            width: 1296px!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }
    


}
    .hero--coding-billing{
        height: 400px;
        @media(min-width:@tablet) {
            // height: 400px;
        }


        @media(max-width:@lg--mobile) {
            margin-top: 0px;
           
        }

        @media(max-width:@mobile) {
            height: 320px;
        }
        .hero--coding-billing-content {
            padding-top: 50px;
            padding-left: 50px;
            @media(max-width:@mobile) {
                padding-left: 10px;
                padding-right: 0;
            }
            .rectangle-down {
                position: relative;
                top:20px;
            }
            .content-container {
                padding-left: 20px;
            }
            h1 {
                font-weight: 500;
                font-weight: 40px;
                line-height: 51px;
               
            }

           p {
               
               span{
                   font-family: @campton-bold;
                   sup {
                       font-size: 10px;
                       vertical-align: 3px;
                   }
               }
           }
          
        }
        .hero--efficiency-chart-desktop {
            display: none;
            @media(min-width:@desktop) {
                display: block;
            }
        }
        .hero--efficiency-chart-mobile {
            position: relative;
            top: 100px;
            display: block;
            background-color: @grey--0;
            img {
                position: relative;
                left: 10%;
                width: 80%;
            }
            @media(min-width:@desktop) {
                display: none;
            }
        }
    } 
 

    #coding-billing-guide--row {
        background-color: @grey--0;
        padding-bottom: 70px;

        @media(max-width:@xl-mobile) {
            .col-flex-md-6 {
                width: 100%;
                 max-width: 100%;
                 -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }
        }

        @media(max-width:@mobile) {
            margin-top: 100px;
        }
        .coding-billing-guide--content {
            padding-left: 60px;
            padding-right: 60px;
            padding-top: 0;
            text-align: center;

            
           

            @media(min-width:@tablet) {
                padding-left: 50px; 
                padding-top:50px;
                text-align: left;
            }
            h2 {
                margin-bottom: 20px;
                padding-left: 30px;
                padding-right: 30px;
                @media(max-width:@mobile) {
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 24px;
                    line-height: 31px;
                    
                }
                @media(min-width:@tablet) {
                    padding-right: 0;
                }
            }
    
           p {
               padding-left: 30px;
               padding-right: 30px;
               max-width: 450px;
            //    margin-left: 20%;
            @media(max-width:@xl-mobile) {
                padding-left: 0;
                padding-right: 0;
                margin-left: auto;
                margin-right: auto;
            }
               @media(max-width:@mobile) {
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
            }
               @media(min-width:@tablet) {
                padding-right: 0;
                max-width: none;
               }
               &:nth-of-type(2){
                   color: @grey--110;
               }
           }
    
           button {
                margin-top: 20px;
                margin-left: 30px;
           }
            
        }

        .billcode-image {
            width:632px;
            // left: 200px;
            // position: relative;
            @media(max-width:@xl-mobile) {
                left: 33%;
                position: relative;
            }
            @media(max-width:@lg--mobile) {
                left: 10%;
            }
            @media(max-width:@mobile) {
                width: 400px;
                left: 0;
            }
            @media(min-width:@tablet) {
                width:632px;
                height: auto;
                margin-top: 40px;
            }
        }

        .billcode-image--mobile {
            display: block;
            
            @media(min-width:@tablet) {
                display: none;
            }
        }
       
        .billcode-image--desktop {
            display: none;
            @media(min-width:@tablet) {
                display: block;
            }
        }
    }

    #quick-coding-header--row {
       margin-top: 30px;
    //   margin-bottom: 30px;
        h2 {
            padding-left: 40px;
            @media(max-width:lg-mobile) {
                font-size: 28px;
                line-height: 40px;
            }

            @media(max-width:@mobile) {
                padding-left: 20px;
            }
        }

        p{ 
            padding-left: 40px;
            @media(max-width:@mobile) {
                padding-left: 20px;
            }
        }
    }

    #coding-carousel-header--row {
    //    h2 {
    //        text-align: center;
    //    }
        margin-top: 80px;
       margin-bottom: 80px;

       @media(max-width:@mobile) {
           padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 20px;
          margin-top: 20px;
       }
    }

    .large--carousel-btn-container {
        padding-left: 0;
    }

    .large-carousel-desktop-row {
        p {
            font-family: @campton-medium;
            font-size: 18px;
            line-height: 27px;
            color:@grey--100;
        }
        .slick-slider {
            height: 350px;
            @media (max-width:1100px) {
                height: 350px;
            }
            @media(min-width:@desktop) {
                height: 400px;
            }
        }

        .left-column {
            // padding-left: 0;

            p {
                // margin-left: -50px;
                @media(max-width:1200px) {
                    margin-left: -40px;
                }
            }
        }

        .right-column {
            // padding-right: 10px;
            @media(max-width:@tablet) {
                left: 11%;
            }
            img {
                width:100%;
                height: auto;
                @media(min-width:@desktop) {
                    width:100%;
                    margin-left: 20%;
                    // height: 414px;
                }
            }
        }
    }

    .large--carousel-slider-mobile {
        .top-row {
            img {
                width: 80%;
                // height: 185px;
            }
        }

        .slick-dots {
            @media(max-width:@xl-mobile) {
                top: 88%;
                margin-left: 35px;
                margin-top: -3px;
                position: absolute;
                
            }
            @media(max-width:@lg--mobile) {
               
                left: 34%;
                top: 71%;
            }

            @media(max-width:@mobile) {
                top: -182px;
                margin-left: -31px;
              }
  

            @media(max-width:475px) {
                // top: -340px;
              }
         }
    }

    .large--carousel-mobile-btn-container {

        @media(max-width:@xl-mobile) {
            // position: absolute;
            top: -100px!important;
            // left: 168px;
        }

        @media(max-width:@xl-mobile) {
            top: -218px !important;
        }

        @media(max-width:@mobile) {
            top: -190px;
            left: 8%;
        }
        .prev-btn-mobile {
            @media(max-width:@xl-mobile) {
                position: absolute;
                left: -42px;
            }
            @media(max-width:@mobile) {
                left: -10px!important;
            }
        } 

        .next-btn-mobile  {
            @media(max-width:@mobile) {
                position: absolute;
                left: 168px;
            }
        }
       
    }

   

    #clinical-resources {
        margin-bottom: 60px;
    
        @media(max-width:1023px) {
            width: 416px;
            height: 550px;
            // min-height: 439px;
            // display: flex;
            // flex-direction: column;
            margin-left: auto;
            margin-right: auto;
           }
    
        @media(max-width: @mobile) {
            width: 100%;
            height: 400px;
            
        }

        .slick-dots {
           @media(max-width: @mobile) {
               bottom: -45px;
           }
        }
    
        // .slick-slide {
        //     margin-left:  15px;
        //     margin-right:  15px;
        // }
    }

     .view-resources--row {
        // margin-top: 28px;
        margin-top: -1px;
        margin-bottom: 50px;
        @media(min-width:@tablet) {
            margin-top: 25px;
            margin-bottom: 50px;
        }
    }

   
   

 

  .access-financial-resources-header--row {
    margin-bottom: 30px;
    @media(max-width:@mobile) {
        margin-bottom: 20px;
    }
    .header--container {
        display: inline-block;
        h2 {
        
            // font-size: 20px;
            // line-height: 26px;
            // margin-left: auto;
            line-height: 26px;
            margin-left: 20%;
            width: 100%;

            @media(max-width:1023px) {
                margin-left: 73%;
            }

            @media(max-width:@lg--mobile) {
                margin-left: 62%;
            }

            @media(max-width:600px) {
                margin-left: 30%;
            }

            @media(max-width:@mobile) {
            font-size: 20px;
                line-height: 26px;
                margin-left: 17%;
                margin-bottom: 0;
            }
           
            @media(min-width:@tablet) {
                font-size: 24px;
                line-height: 31px;
                margin-left: 2%;
                width: 120%;
                display: inline-flex;
                flex-direction: row;
            }
        }
        .header-line{
          
            display: none;
            @media(min-width:@tablet) {
                display: block;
                width: 950px;
                height: 2px;
                background: #AEB7BD;
                opacity: .5;
                margin-top: 13px;
                position: relative;
                left: 15px;
            }
        }
    }

}


    
}