#financial-guidance {

    &.container  {
        @media(max-width:1023px) {
            margin-left: 0!important;
            margin-right: 0!important;
            width: 100%!important;
        }
        @media(max-width:@mobile) {
            margin-left: 0!important;
            margin-right: 0!important;
        }

        @media(min-width:1100px) {
            max-width: 90%!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }

        @media(min-width:1200px) {
            width: 1296px!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }
    

//     @media(min-width:1200px) {
//         max-width: 1100px!important;
// margin-left: auto!important;
// margin-right: auto!important;
//     }
}

    .breadcrumbs--page-nav {
        @media(min-width:@desktop) {
            left: 0;
        }
    }
   
    #multiple-needs--header {
        margin-bottom: 50px;
        // margin-top: 50px;
        @media(max-width:@mobile) {
            margin-bottom: 30px;
        }

        
        h2 {
            text-align: center;
            @media(max-width:@xl-mobile) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            
        }
    }

    #multiple-needs--row {
        margin-bottom: 40px;
        @media(max-width:1023px) {
            margin-top: 80px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        @media(min-width:@tablet) {
            // margin-bottom: 80px;
        }

        @media(max-width:@mobile) {
            width: 100% ;
            margin-top: 0px;
        }
    }


    #what-if-row {
     display: flex;
     justify-content: center;
      @media(max-width:1023px) {
          &.col-flex-md-6 {
            width: 100%;
            max-width: 100%;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
          }
      }
    }

    .logo--card {
        .fluad-logo {
            width:138px;
            height: 104px;
        }
    
        .affluria-logo {
            width: 159px;
            height: 74px;
        }
    
        .flucelvax-logo {
            width: 227px;
            height: 88px;
        }
    
        .cta {
            position: relative;
            top: 20px;
            font-weight: 600;
            margin-left: 30px;
        }
    }

    .disclaimer--paragraph {
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        @media(max-width:@xl-mobile) {
            width: 51%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        @media(max-width:@lg--mobile) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 80px;
        }
    }

    #vaccine-header-row {
        h2 {
            padding-left: 20px;
            width: 100%;

            @media (min-width:@tablet) {
                padding-left: 10%;
                width: 600px;
            }
        }
    }

    .flu360-dashboard-header-row {
        margin-top: 20px;
        margin-bottom: 20px;
        @media(max-width:1023px) {
            margin-top: 50px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        @media(max-width:@mobile) {
            margin-top: 0;
        }
        h2 {
            @media(max-width:@mobile) {
                margin-top: 0;
            } 
           
        }
        p {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
           @media(max-width:@mobile) {
               width:100%;
           }

           @media(max-width:@xs--mobile) {
            width:90%;
        }
        }
    }

   
    #carousel-container-row-mobile {
        display: none;
        @media(max-widt:@tablet) {
            display: block;
        }
       
    }

   

    .access-financial-resources-header--row {
        margin-bottom: 30px;
        @media(max-width:@mobile) {
            margin-bottom: 20px;
        }
        .header--container {
            display: inline-block;
            h2 {
            
                // font-size: 20px;
                // line-height: 26px;
                // margin-left: auto;
                line-height: 26px;
                margin-left: 20%;
                width: 100%;

                @media(max-width:1023px) {
                    margin-left: 73%;
                }

                @media(max-width:@lg--mobile) {
                    margin-left: 62%;
                }

                @media(max-width:600px) {
                    margin-left: 30%;
                }

                @media(max-width:@mobile) {
                font-size: 20px;
                    line-height: 26px;
                    margin-left: 17%;
                    margin-bottom: 0;
                }
               
                @media(min-width:@tablet) {
                    font-size: 24px;
                    line-height: 31px;
                    margin-left: 2%;
                    width: 120%;
                    display: inline-flex;
                    flex-direction: row;
                }
            }
            .header-line{
              
                display: none;
                @media(min-width:@tablet) {
                    display: block;
                    width: 950px;
                    height: 2px;
                    background: #AEB7BD;
                    opacity: .5;
                    margin-top: 13px;
                    position: relative;
                    left: 15px;
                }
            }
        }

    }

    #carousel-container-row-financial {

        display: block;
        margin-bottom: 60px;
        @media(min-width:@tablet) {
            display: block;
        }


    }

    .large--carousel-mobile-btn-container {
        @media(max-width:@mobile) {
            margin-left: 14%;
            margin-right: 14%;
            top: -4px;
        }

        @media(max-width:@xs--mobile) {
            top: -12px;
        }

        .prev-btn-mobile {
            // position: absolute;
            // left:20px;
            @media(max-width:@lg--mobile) {
                left: 40px;
            }
        }
    
        .next-btn-mobile {
            // position: absolute;
            // left: 200px;
            @media(max-width:@lg--mobile) {
                left: 190px;
            }
        }
       
    }

    .two-lines {
        top: 70px!important;
    }
//     .two-lines-card-01 {
//         top: 100px;
//     }
   
//    .two-lines-card-02 {
//        top: 130px;
//    }

//    .two-lines-card-03 {
//        top: 100px;
//    }

.two-lines-card-01 {
    top: 135px;
}

.two-lines-card-02 {
   top: 135px;
}

.two-lines-card-03 {
   top: 110px;
}
    
   .view-resources--row {
    margin-top: -70px;
    margin-bottom: 54px;
    @media(max-width:@mobile) {
        margin-top: 10px;
        margin-bottom: 25px;
    }
   
    @media(min-width:@tablet) {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    @media(max-width:@mobile) {
        margin-top: -3px;
        margin-bottom: 50px;
    }
   }

   .large--carousel-slider-mobile {
    .slick-dots {

        @media(max-width:@mobile) {
            top: 90%!important;
            left: 162px;
            // top: -135px;
            // left: 185px;
        }

        @media(max-width:@xs--mobile) {
            top: 89%!important;
            left: 158px;
        }
    }
}

#clinical-resources-financial {
    margin-bottom: 60px;

    @media(max-width:1023px) {
        width: 416px;
        height: 550px;
        // min-height: 439px;
        // display: flex;
        // flex-direction: column;
        margin-left: auto;
        margin-right: auto;
       }

    @media(max-width: @mobile) {
        width: 100%;
        height: 440px;
    }

    .slick-dots {
        @media(max-width:@xl-mobile) {
            bottom: 38px;
        }
        @media(max-width: @mobile) {
            bottom: -45px;
        }
     }
 

}


   
}
#page02--join360hero-footer {


#join360-footer {

    #join360-row {      
        background-color: @teal--100!important;
        .join360-row-bg1 {         
            background-color:  @three-sixty--midaqua!important;
           
        }
    
        .join360-row-bg2 {           
            background-color: @teal--110!important;  
        }
        .join360--hero-container {
            background-color: #ffffff;
           
            .join360--hero-container--content {
               
                .header {
                    color: @teal--110!important;
                    
                }
            }
    
           
        }
    }

}

}
