
#fluad{
	background-color: #F9FAFA;
	
	.container{
		background-color: transparent;
	}
	
	.prod-sbs__key-features-header{
		background-color: #F0FAFD;
	}
	
	.prod-tabs{
		&__tab{
			&.active{
				.prod-tabs__header{
					h4{
						border-left: 4px solid #72CDF4;
					}
				}
			}
		}
	}
	
	.prod-sb{
		
		&__img{
			max-width: 156px;
			margin-bottom: 0;
			@media(min-width:@desktop) {
				max-width: 240px;
			}
		}
	}
	
	.resources{
		
		.row-flex{
			margin-left: 0;
			margin-right: 0;
		}
		
		.container{
			margin-left: 0 !important;
    		margin-right: 0 !important;
			
			@media(min-width:@desktop) {
				margin-left: auto!important;
    			margin-right: auto!important;
			}
		}
		
		.resources--card{
			height: 440px;
			width: auto;
			background-color: @three-sixty--white;
		}

		.slick-list{
			padding:0 10% 0 10%;
			margin: 0 -27px;
		}

		.slick-slide {
			margin: 0 10px;
		}


		.cards-pl-0-mobile {
			@media (max-width: 1023px){
				margin-left: 0;
				margin-right: 0;
				padding-right: 0;
			}
		}
		
		#clinical-resources-financial {

			@media(max-width:1023px) {
				width: 100%;
			}
		}
		
		.resources--card-btn {
			background-color: @three-sixty--white;

			@media(max-width:@lg--mobile) {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-top: 0;
				padding: 0;
			}

			span {

				@media(max-width:@lg--mobile) {
					margin-left: 20px;
				}

				@media(max-width:@tablet) {
					margin-left: 20px;
				}
			}
			
			img {
				left: 0;
				top: 0;
				margin-right: 20px;
				
				@media(max-width:@mobile) {
					left: 0;
					top: 0;
					margin-right: 20px;
				}

			}

			&.two-lines {
				top: 105px;
			}
		}
		
		.button--view-resources-outline-grey{
			background-color: transparent;
		}
	}
	
	.references{
		background: #F9FAFA;
		padding-top: 20px;
		padding-bottom: 20px;
		
		.container{
			background-color: transparent;
		}
	}
}