#influenza-burden {
    &.container  {
        @media(max-width:1023px) {
            margin-left: 0!important;
            margin-right: 0!important;
            width: 100%!important;
        }
        @media(max-width:@mobile) {
            margin-left: 0!important;
            margin-right: 0!important;
        }

        @media(min-width:1100px) {
            max-width: 90%!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }

        @media(min-width:1200px) {
            width: 1296px!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }
    
}
    .hero--overview {
        position: relative;
        background-repeat: no-repeat;
        @media (max-width:@mobile) {
            background-image: url('../cms/assets/images/influenza-burden-hero.png')!important;
            top: 48px!important;
            height: 275px!important; 
            // background-position-x: -40px!important;
        }
        @media(max-width:@lg--mobile) {
            width: 100%;
            height: 275px!important;
            background-repeat: no-repeat;
            background-size: 150% auto;
            background-position-x: 100px;
            background-color: #ffffff;
            background-image: url('../cms/assets/images/influenza-burden-hero.png');
            position: relative;
            top: 50px;
        }
        @media (max-width:@tablet) {
            width: 100%;
            background-size:cover;
            background-position-x: -149px;
            background-image: url('../cms/assets/images/influenza-burden-hero.png');
        }


        @media(min-width:@desktop) {
            // background-position-x: 0;
            background-position: center;
            background-size: cover;
            background-image: url('../cms/assets/images/influenza-burden-hero.png');
            height: 527px;
        }

        @media (max-width:768px) {
            top: 0px;
            background-position-x: 100%;
            background-size:  cover;
        }


        .hero--overview-content {
           width: 650px;
           padding-left: 100px;
           padding-top: 100px;

           @media (max-width:@tablet) {
               width: 350px;
              
           }
           @media(max-width:@lg--mobile) {
                display: none;
            }
           @media (max-width:1300px) {
            //  width: 500px;
            width: 100%;
            //  padding-top: 0px;
            padding-top: 50px;
            padding-bottom: 80px;
           }

            h1 {
                // font-weight: 400;
                width: 530px;
                padding-left: 20px;
                span {
                    color: @red--100;
                    font-family: "Campton-Bold";
                    sup {
                        font-size: 13px!important;
                        vertical-align: 10px;
                    }
                }
            }
            p {
                padding-left: 20px;
                color: @grey--100;
                span {
                    font-family: @campton-bold;
                    color: @red--100;
                }
                @media(max-width:1300px) {
                    width: 60%;
                }
            }

            button {
                margin-left: 20px;
                margin-top: 20px;
            }

            img {
               position: relative;
               top: 20px;
            }
           
        }


        .hero--desktop-image {
            width: 100%;
            display:none;
            @media (min-width:@desktop) {
                display: block;
            }
        }

        .hero--mobile-image {
            width:375px;
            height: auto;
            display:block;
            @media (min-width:@desktop) {
                display: none;
            }
        }
    }

    .hero--overview-content-mobile {
        max-width: 400px;
        @media(max-width:@tablet) {
            display: none;
        }

        @media(max-width:@lg--mobile) {
            display: block;
        }
        @media (max-width:@mobile) {
            max-width:340px;
            margin-top: 30px;
        }
        h1 {
            font-weight: 400;
            max-width: 530px;
            padding-left: 20px;
            span {
                color: @red--100!important;
                font-family: 'Campton-Bold';

                sup {
                  
                    font-size: 13px!important;
                    vertical-align: 10px;
                  
                }
            }
        }
        p {
            padding-left: 20px;
            color: @grey--100;
            @media (max-width:@mobile) {
                width: 300px;
            }
        }

        button {
            margin-left: 20px;
            margin-top: 20px;
        }

        .rectangle-down {
           position: relative;
           top: 20px;
           @media (max-width:@mobile) {
            left: 5px;
           }

           @media(max-width:@xs--mobile) {
               left: 10px!important;
           }
        }
        padding-top: 50px;
        margin-bottom: 50px;
    }


  

     #facts-card-row {

      
        @media(max-width:@xl-mobile) {
            height: 17%;
            margin: auto;
            .col-flex-md-4 {
                width: 100%;
                max-width: 100%;
                -webkit-flex-basis: 100%;
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            }
        }

        @media(max-width:@mobile) {
            height: 34%;
        }

       
    }

     .two-row--card {
         background-color: @grey--0;
         @media(max-width:@xl-mobile) {
            width: 375px;
            margin-left: auto;
            margin-right: auto;
             margin-bottom: 30px;
             padding: 20px;
         }
          @media (max-width:@mobile) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
          }
         .two-row--card-top,.two-row--card-bottom {
            //  padding-top: 20px;
            //  padding-bottom: 20px;
             text-align: center;
             p {
                 font-family: @campton-semibold;
                 font-size: 24px;
                 line-height: 24px;
                 color: @grey--100;

                 &.card-callout  {
                     color: @red--100;
                     @media(max-width:@mobile) {
                        font-size: 24px;
                        line-height: 28px;
                    }
                 }

                 @media(max-width:@mobile) {
                     font-size: 20px;
                     line-height: 16px;
                 }
             }
         }

         hr  {
             width: 80%;
             border: 1px solid #AEB7BD;
         }

         .two-row--card-top {
             padding-top: 30px;
         }

         .two-row--card-bottom {
            padding-top: 10px;
            padding-bottom: 20px;
        }

     }

     #influenza-results-header {
        margin-top: 50px;
        margin-bottom: 30px;

        h2  {
            @media(max-width:@mobile) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
                line-height: 26px;
            }
        }
     }

     #influnenza-season-header {
            margin-top: 50px;
            margin-bottom: 30px;
            @media(max-width:@mobile) {
                margin-top: 20px;
            }

            h2 {
                @media(max-width:@xl-mobile) {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }
                @media(max-width:@mobile) {
                    font-size: 20px;
                    line-height: 26px;
                }
            }
     }
     .influenza-season-footnotes {
         margin-top: 30px;
         @media (max-width:@xl-mobile) {
             width: 90%;
             margin-left: auto;
             margin-right: auto;
         }

         @media(max-width:@lg--mobile) {
            width: 60%;
         }
         @media(max-width:@mobile) {
             width: 90%;
            //  padding-left: 35px;
             margin-bottom: 50px;
         }
     }

        #influenza-hero {
            margin-top: 80px;
            @media(max-width:@xl-mobile) {
                margin-top: 0;
            }
            .influenza-hero-image  {
                width: 709px;
                @media(max-width:@xl-mobile) {
                    width: 100%;
                }
            }

            .influenza-hero-container  {
                @media(max-width:@xl-mobile) {
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                }
                margin-top: 60px;
                .rectangle-up {
                    position: relative;
                    left: 286px;
                    top: -29px;
                    @media(max-width:@mobile) {
                        left: 306px;
                    }
                }

                .rectangle-down {
                    position: relative;
                    top: 10px;
                    left: 9px;
                    @media(max-width:@mobile) {
                        left: 15px;
                    }
                }
                .callout {
                    font-family: @campton-medium;
                    font-size: 32px;
                    line-height: 40px;
                    color: @grey--110;
                    padding-left: 30px;
                    

                    @media(max-width:@xl-mobile) {
                        width: 100%;
                        font-size: 28px;
                        line-height: 32px;
                    }
                }

                .small-callout  {
                    @media(max-width:@mobile) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }

                
            }
        }

        .influenza-callout-desktop {
            // display: block;
            // @media(max-width:@xl-mobile) {
            //     display:none;
            // }
            @media(max-width:@xl-mobile) {
                position: relative;
                // top: 366px;
                // left: -126px;
                top: -43px;
                margin-left: auto;
                margin-right: auto;
            }

           
        }

        .influenza-callout-mobile {
            display: none;
            @media(max-width:@xl-mobile) {
                display:block;
            }

            .influenza-hero-container-mobile  {
                margin-top: 60px;
                .rectangle-up {
                    position: relative;
                    left: 286px;
                    top: -29px;
                }

                .rectangle-down {
                    position: relative;
                    top: 10px;
                    left: 9px;
                }
                .callout {
                    font-family: @campton-medium;
                    font-size: 32px;
                    line-height: 40px;
                    padding-left: 30px;

                }
            }
        }
        
        .disclaimer--paragraph {
            margin-top: 50px;
            margin-bottom: 50px;
            font-family: @campton-semibold;
            text-align: center;
            @media(max-width:@xl-mobile) {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .page-references {
            margin-top: 50px;
            margin-bottom: 80px;
        }

       
    }

  