#operational-efficiency {

    &.container  {
        @media(max-width:1023px) {
            margin-left: 0!important;
            margin-right: 0!important;
            width: 100%!important;
        }
        @media(max-width:@mobile) {
            margin-left: 0!important;
            margin-right: 0!important;
        }

        @media(min-width:1100px) {
            max-width: 90%!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }

        @media(min-width:1200px) {
            width: 1296px!important;
            margin-left: auto!important;
             margin-right: auto!important;
        }
    

//     @media(min-width:1200px) {
//         max-width: 1100px!important;
// margin-left: auto!important;
// margin-right: auto!important;
//     }
}

    .breadcrumbs--page-nav {
        @media(min-width:@desktop) {
            left: 0;
        }
    }
    #multiple-needs--header {
        margin-top: 50px;
        margin-bottom: 30px;
        @media(max-width:@lg--mobile) {
            margin-bottom: 30px;
        }
        @media(min-width:@tablet) {
            margin-top: 0px;
        }
        h2 {
            text-align: center;
        }
    }

    .flu360-dashboard-header-row {
        margin-top: 20px;
        margin-bottom: 20px;
        p {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
           @media(max-width:@mobile) {
               width:100%;
           }
        }
    }


    #what-if-row {
     display: flex;
     justify-content: center;

     @media(max-width:@xl-mobile) {
        &.col-flex-md-6 {
            width: 100%;
            max-width: 100%;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        }
     }
    }

    

    .disclaimer--paragraph {
        font-family: @campton-semibold;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 80px;
        @media(max-width:@xl-mobile) {
            width: 51%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        @media(max-width:@lg--mobile) {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 80px;
        }

        @media(max-width:@mobile) {
            width:90%;
        }
    }

    .large-carousel-mobile-row {
        @media(max-width:@lg--mobile) {
            // max-height: 700px;
            height: 591px;
            max-height: none;        }
    }

    .large--carousel-mobile-btn-container {
        @media(max-width:@mobile) {
            margin-left: 16%;
            margin-right: 16%;
            top: 68px;
        }
        .slick-slider-dots {
            left: 129px;

            ul {
                
                li {
                    border: none;
                }

                }
        }
       
    }

    .large--carousel-slider-mobile {
        .slick-dots {

            @media(max-width:@mobile) {
               
                top: -7px;
                left: 190px;
            }
        }
    }


   

   
}

#page01--join360hero-footer {
    #join360-footer {

        #join360-row {      
            background-color: @grey--100;
            .join360-row-bg1 {         
                background-color:  @grey--90!important;
               
            }
        
            .join360-row-bg2 {           
                background-color: @grey--80!important;  
            }
            .join360--hero-container {
                background-color: #ffffff;
               
                .join360--hero-container--content {
                   
                    .header {
                        color: @grey--100!important;
                        
                    }
                }
        
               
            }
        }
    
    }
}


