#overview {
   h2 {
       
       text-align: center;
   }
   &.container {
       @media(max-width:@mobile) {
           margin:0!important;
           margin-right: 0!important;
       }
   }
    .hero--overview {
        position: relative;
        background-repeat: no-repeat;
        @media (max-width:@mobile) {
            background-image: url('../assets/images/overview-hero-mobile.png')!important;
            top: 48px!important;
            height: 275px!important; 
            background-position-x: -40px!important;
        }
        @media(max-width:@lg--mobile) {
            width: 100%;
            height: 275px!important;
            // height: 480px!important;
            background-repeat: no-repeat;
            background-size: 150% auto;
            background-position-x: 100px;
            background-color: #ffffff;
            background-image: url('../assets/images/overview-hero-mobile.png');
            position: relative;
            top: 50px;
        }
        @media (max-width:@tablet) {
            width: 100%;
            height: 524px;
            background-size:118% auto;
            // background-position-x: -160px;
            background-image: url('../assets/images/overview-hero.png');
        }

        

       

        @media(min-width:@desktop) {
            background-position-x: 0;
            // background-size:1440px auto;
            background-size: 130% auto;
            background-image: url('../assets/images/overview-hero.png');
            height: 524px;
            // top: -60px;
            top: -100px;
        }

        // @media (max-width:1200px) {
        //     background-position-x: ;
        // }
        
        @media (max-width:768px) {
            top: 0px;
            background-position-x: 100%;
            background-size:  cover;
        }


        .hero--overview-content {
           width: 650px;
           padding-left: 100px;
           padding-top: 100px;

           @media (max-width:@tablet) {
               width: 350px;
           }
           @media(max-width:@lg--mobile) {
                display: none;
            }
           @media (max-width:1300px) {
            //  width: 500px;
            width: 100%;
            //  padding-top: 0px;
            padding-top: 70px;
           }

            h1 {
                // font-weight: 400;
                width: 530px;
                padding-left: 20px;
                span {
                    color: @red--100;
                    font-family: "Campton-Bold";
                    sup {
                        font-size: 13px!important;
                        vertical-align: 10px;
                    }
                }
            }
            p {
                padding-left: 20px;
                color: @grey--100;
                @media(max-width:1300px) {
                    width: 60%;
                }
            }

            button {
                margin-left: 20px;
                margin-top: 20px;
            }

            img {
               position: relative;
               top: 20px;
            }
           
        }


        .hero--desktop-image {
            width: 100%;
            display:none;
            @media (min-width:@desktop) {
                display: block;
            }
        }

        .hero--mobile-image {
            width:375px;
            height: auto;
            display:block;
            @media (min-width:@desktop) {
                display: none;
            }
        }
    }

    .hero--overview-content-mobile {
        max-width: 400px;
        @media(max-width:@tablet) {
            display: none;
        }

        @media(max-width:@lg--mobile) {
            display: block;
        }
        @media (max-width:@mobile) {
            max-width:340px;
            margin-top: 30px;
        }
        h1 {
            font-weight: 400;
            max-width: 530px;
            padding-left: 20px;
            span {
                color: @red--100;
                font-family: 'Campton-Bold';

                sup {
                  
                    font-size: 13px!important;
                    vertical-align: 10px;
                  
                }
            }
        }
        p {
            padding-left: 20px;
            color: @grey--100;
            @media (max-width:@mobile) {
                width: 300px;
            }
        }

        button {
            margin-left: 20px;
            margin-top: 20px;
        }

        .rectangle-down {
           position: relative;
           top: 20px;
           @media (max-width:@mobile) {
            left: 5px;
           }

           @media(max-width:@xs--mobile) {
               left: 10px!important;
           }
        }
        padding-top: 50px;
        margin-bottom: 50px;
    }


    #solutions-header-row {
       
      h2 {
          margin-bottom: 20px;
        
      }

      p{
          margin-bottom: 30px;
          @media(max-width:@tablet) {
            width:600px;
            text-align: center;
           
        }
          @media (max-width:767px) {
              width: 300px;
              font-size: 18px;
              list-style: none;
              text-align: center;
          }
      }
    }

    #solutions-cards-row {
        margin-bottom: 50px;
       margin-left: 1px;
       margin-right: 1px;
        .solutions--card {
            background: @grey--0;
            box-shadow: 0px 2px 4px rgba(0,0,0,.5);
            margin-bottom: 20px;
            @media(max-width:@mobile) {
                // margin-bottom: 20px;
                margin-left: 0!important;
            }
            @media(max-width:@tablet) {
                margin-right: 0;
                padding-right: 0;
            }
            @media (min-width:@desktop) {
                // margin-right: 20px;
                // margin-left: 20px;
            }
            .solutions--btn {
                position: relative;
                top:0px;
                left:280px;
                width: 45px;
                height: 45px;
                cursor: pointer;
                @media(min-width:@desktop) {
                    top:5px;
                    left:82%;
                }
                @media(max-width:@tablet) {
                    left: 84%;
                    margin-right: 0;
                }
                .solutions--hitarea {
                    position: relative;
                    width:45px;
                    height:45px;
                    margin-top: -10px;
                    background:transparent;
                }

                .collapse--btn {
                    display: none;
                }
                img {
                    // margin-top: -55px;
                    // margin-left: 15px;
                    margin-top: -25px;
                    margin-left: 25px;
                    width: 20px;
                    height: 20px;
                }
            }
            .header {
                font-size: 20px;
                font-family: @campton-medium;
                padding-left: 20px;
                min-height: 35px!important;
                @media (min-width:@desktop) {
                    font-size: 24px;
                    padding-left: 30px;
                }
            }
            .content{ 
                padding-left: 20px;
                padding-right: 20px;
                height: 130px;
                overflow: hidden;
                @media(min-width:@desktop) {
                    padding-left: 30px;
                }
                .content--expand {
                    display: none;
                }
                p {
                    color:@grey--100;
                    @media(max-width:@tablet) {
                        font-size: 18px;
                        line-height: 26px;
                        // padding-left: 20px;
                        overflow: hidden;
                    }
                }

                ul {
                    li {
                        font-family: @campton-book;
                    }
                    margin-bottom: 20px;
                }

                }

                .solutions--card-cta {
                    font-family: @campton-medium;
                    color:@grey--110!important;
                    position: absolute;
                    top: 95%;
                    bottom: 0;
                    width: 100%;
                    height: 50px;

                    @media(min-width:1440px) {
                        top: 88%;
                    }

                    @media(max-width:@mobile) {
                        top: 93%;
                    }

                   

                    img {
                        margin-left: 10px;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                
                }
           
                width: 335px;
                height: 271px;

           
           
            @media(min-width:@desktop) {
                width: 416px;
                height: 301px;     
            }

            @media(max-width:@mobile) {
                width:335px!important;
            }

            // @media(max-width:@xs--mobile) {
            //     margin-bottom: 20px!important;
            // }

            @media(max-width:@tablet) {
                 width: 300px;
                //  margin-left: 20px;
                
            }

           
            .solutions--card-icon {
                position: relative;
                top: -20px;
                left: 20px;
                width: 40px;
                height: 40px;
                @media(min-width:@desktop) {
                    left: 30px;
                }
            }
        }
    }

    #vaccine-row  {
        width: 100%;
        height: 418px;
        overflow: hidden;
        margin-left: 0;
    
        @media (min-width:@tablet) {
            height:301px;
        }
       
        .flu-vaccine--image {
            position: relative;
            top: 20%;
            // top: 25px;
            // left: 150px;
            width:246px;
            height: auto;
            
            @media (max-width:@lg--mobile) {
                // top:50%;
                // left:-90px!important;
                 left: 50%!important;
                // top:-100px!important;
            }


            // @media (max-width:1024px) and (max-height:768px) {
            //     left: -420px !important;
            // }
            @media (max-width:900px) {
                // top:50%;
                top: 0;
                // left: 40%!important;
                left: 80%;
                
            }
            @media(max-width:@tablet) {
                // left: -420px;
                // left: -90px;
                // top:60px;
                left: 100%;
                // top: 220px;
            }
            @media (max-width:@mobile) {
                left: 17%!important;
                top: 20px!important;
            }
            @media (min-width:@tablet) {
                top: 52px;
                // left: 200px;
                left: -500px;
                width: 300px;
            }

            @media(min-width:1028px) {
                left: 0px!important;
            }

            @media(max-width:1199px) {
                left: 0px;
            }

            @media(min-width:1200px) {
                left: 52%!important;
            }
        }

        .hide-flu-desktop {
            display: none;
         @media(min-width:@tablet) {
             display: block;
         }
        }

        .flu-vaccine--callout {
             position: relative;
             top: 20px;
            //  left: 130px;
            // left: 330px;
            left: 200px;
              width: 60%;

            @media(max-width:767px) {
                left: 55px;
            }

            @media(max-width:@lg--mobile) {
                // left: 230px;
                left: 30%;
                width: 50%;
            }

            @media (max-width:@mobile) {
                left: 12%;
                width: 90%;
            }

            @media(max-width:@xs--mobile) {
                left: 16%!important;
                width: 80%;
            }

        

        
             @media(min-width:@tablet) {
                padding-top: 30px;
                // top: 50px;
                 left: 90%;
                width: 500px;
            }

            @media(max-width: 1028px) {
                left: 30%;
            }

            @media(max-width:1199px) {
                left: 13rem;
            }

            @media(min-width: 1200px) {
                left: 33rem;
            }
            p {
                font-family: @campton-medium;
                color: @grey--110;
                font-size: 28px;
                line-height: 32px;
                font-weight: 500;
                margin-left: -10px;
                @media(max-width:@xs--mobile) {
                    // font-size: 27px;
                    width: 100%!important;
                    font-size: 24px;
                }
                @media(max-width:@mobile) {
                    margin-left: 10px;
                }
                @media(min-width:@tablet){
                    width: 80%;
                }
                @media (min-width:@desktop) {
                    width: 100%;
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 500;
                }
              
            }

            .rectangle-down {
               position: relative;
               top:10px;
               left: -25px;
               @media (min-width:@desktop) {
                left: -35px;
                top: 0;
               }

               @media(max-width:@mobile) {
                   left: -10px;
               }
            }

            .rectangle-up {
                position: relative;
                left: 210px;
                top:-10px;
                @media(max-width:@xs--mobile) {
                    // left: 250px!important;
                    left: 185px!important;
                    top: -30px!important;
                }
                @media(max-width:@mobile) {
                    // left: 200px;
                    // top: -10px;
                    left: 210px;
                    top: -20px;
                }
                @media(min-width:@tablet) {
                    left: 250px;
                    top: -20px;
                    
                }
                @media (min-width:@desktop) {
                    left: 230px;
                    top: -20px;
                }
            }
        }
    }

    #multiple-needs-header{
        margin-top: 20px;
        margin-bottom: 20px;
        @media(min-width:@desktop) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

       @media(max-width:767px) {
          max-width: 400px;
           margin-left: 7%;
       }

        @media (max-width:@mobile) {
            width: 350px!important;
            margin-left: 10%;
           h2 {
             
              margin-right: 0;
              margin-left: -35px;
           }
        }

        @media(max-width:@xs--mobile) {
            margin-left: 7%;
        }
    }

    #what-if-row {
        margin-bottom: 30px;
        @media (min-width:@desktop) {
            margin-bottom: 40px;
        }
        .whatif--card-row {
            // display: inline;
             display: flex;
             flex-direction: column;
             justify-content: center;
            @media (min-width:@desktop) {
               // display: inline;
                 flex-direction: row;
            }
        }
    
        .whatif--card {
            background-color: @grey--0;
            width: 300px;
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            flex: 1;
            @media(max-width:375px) {
                width: 335px;
                height: 297px;
            }
            @media(min-width:@desktop) {
                width:415px;
                height: 259px;
                // margin-right: 30px;
            }
    
            .whatif--card-content {
                    // padding: 30px;
                    p {
                        font-family: @content-font;
                    }
                    .whatif--card-header { 
                        font-family: @campton-medium;
                        font-size: 20px;
                        line-height: 26px;
                        @media (min-width:@desktop) {
                            font-size: 24px;
                            line-height: 31px;
                        }
                    }
    
                    .content {  
                        font-weight: 400;
                        color: @grey--100;
                        font-size: 16px;
                        line-height: 24px;
                        width: 110%;
                    }

                    .width--250 {
                        width: 250px;
                    }

                    .mt-callout-10 {
                        margin-bottom:10px!important;
                    }
    
                   .callout {
                        font-family: @campton-semibold;
                        font-size: 16px;
                        line-height: 24px;
                        // margin-bottom: 30px;
                        @media (min-width:@desktop) {
                            font-size: 18px;
                        }
                    }
    
                   
                
            }

            .cta {
                font-family: @campton-semibold;
                color:@grey--110;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 20px;
                height: 20px;
                img {
                    width:24px;
                    height: auto;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

    }

    #laptop-row  {
        height: 402px;
        overflow: hidden;

        @media (max-width:@lg--mobile) {
            height: 700px;
        }

        @media (max-width:@mobile) {
            margin-top: 50px;
            height: 650px;
        }
        .laptop-paragraph-content {
            margin-top: 40px;
            margin-left: 15%;
            width: 500px;
            @media (max-width:768px) {
                // margin-left: 5%;
                // width: 560px;
                margin-top: -40px;
            }

            @media (max-width:@mobile) {
                // width: 370px;
                width: 360px;
                margin-left: 5%;
                margin-top: -80px;
            }
          
            h2 {
                text-align: left;
                font-size: 32px;
                line-height: 40px;
                @media (max-width:@mobile) {
                    width: 95%;
                    font-size: 28px;
                    line-height: 32px;
                }

                @media (max-width:@xs--mobile) {
                    font-size: 26px!important;
                    // font-size: 28px;
                    // line-height: 32px;
                }
               
            }
            p {
                font-weight: 18px;
                line-height: 27px;
                color: @grey--100;
                @media(max-width: 767px){
                    font-weight: 16px;
                    line-height: 24px;
                    width: 320px;
                }
            }
            ul {
                // margin-left: -20px;
                li{
                    font-weight: 400;
                    line-height: 27px;
                    margin-bottom: 10px;
                    @media(max-width: 767px){
                        font-weight: 16px;
                        line-height: 24px;
                        max-width: 375px;
                    }

                    @media (max-width:@mobile) {
                        width: 270px;
                    }
                }
            }
        }
        .laptop-image  {
            position: absolute;
            width:866px;
            top: -90px;
            left: -250px;
            @media(min-width:@desktop) {
                top: -85px;
                left: 450px;
                -ms-transform: translateX(-650px);
                width:866px;
            }
            @media(max-width:@tablet) {
                position: relative;
                width: 550px;
                top: 5px;
                left: 460px;
            }
        }
        .hide-laptop-mobile {
            display: none;
            @media(min-width:@tablet) {
                display: block;
                 position: absolute;
                
            }
        }
        .hide-laptop-desktop {
            display: none;
            @media(max-width:768px) {
                display:block;
            }
        }
        .laptop-image-mobile {
           width:375px;
        //    margin-top: 40px;
           @media(max-width:@lg--mobile) {
               width: 575px;
               position: relative;
               top: -60px;
               left: 0px;
           }

           @media(max-width:@mobile) {
            //    left:-30px;
            //    top: -40px;
            //    width: 375px;
            left: -70px;
            top: -40px;
            width:485px;
           }

           @media(max-width:@xs--mobile) {
            width: 455px;
           }
        }
    }

    #end-hero-row {
        height: 383px;
        overflow: hidden;
        @media (max-width:@mobile) {
            height: 550px!important;
            // margin-bottom: 160px;
        }
        @media (max-width:@lg--mobile) {
            height: 700px;
            // margin-bottom: 160px;
        }
        .end-hero--image {

            @media (max-width:@mobile) {
                width:100%;
            }

            @media (max-width:@lg--mobile) {
                width: 100%;
                // margin-bottom: 160px;
            }
        }
        .end-hero--callout {
            position: relative;
            top: 20px;
            left: 100px;
            width: 350px;

            @media(max-width:@xs--mobile) {
                left: 50px!important;
            }

            @media (max-width:@mobile) {
                top: -45px!important;
                left: 50px!important;
                width: 320px!important;
            }

            @media (max-width:@lg--mobile) {
                top: -40px;
                left: 110px;
                width: 320px;
            }

            @media(min-width:@desktop) {
                position: relative;
                top: 50px;
                left: 100px;
                width: 370px;
            }
            p {
                font-family: @campton-medium;
                color: @grey--110;
                font-size: 28px;
                line-height: 32px;
                font-weight: 500;
                margin-left: -10px;
              
                @media (min-width:@desktop) {
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 500;
                    margin-left: 0px;
                }
            }

            .rectangle-down {
               position: relative;
               top:10px;
               left: -25px;

             
               @media (min-width:@desktop) {
                left: -35px;
                top: 0;
               }
            }

            .rectangle-up {
                position: relative;
                left: 210px;
                top:-10px;
                @media (min-width:@desktop) {
                    // left: 330px;
                    // top: 0;
                    left: 316px;
                    top: -30px;
                }
                @media (max-width:@mobile) {
                    left: 80%;
                    top: -35px;
                }
            }

            .button--solid-red {
                 position: relative;
                 top: 60px;
                 left: -50px;
                 @media (max-width:@mobile) {
                    top: 40px;
                    left: -40px;
                 }
            }
        
        }
    }

    .expand--card {
        height: 520px!important;
        display: flex;
        flex-direction: column;
        
        .expand--btn {
            display: none!important;
        }
        .collapse--btn {
            display: block!important;
        }
        .solutions--card {

            &.solutions--btn {
                &.expand--btn {
                    display: none!important;
                }
    
               & .collapse--btn {
                    display: block!important;
                }
            }
        }

       
        
       @media(max-width:1200px) {
        // height: fit-content!important;
        height: 100%!important;
       }

       @media(max-width:@mobile) {
        height: 100%!important;
        margin-bottom: 20px;
       }
        @media (min-width:@desktop) {
        //   height: 100%!important;
        }
    }

    .card-mt-mobile {
        @media(max-width:@mobile) {
            margin-top: 20px!important;
        }
    }

   .expand--content {
        display: block!important;

   }
   .expand-padding-card-01 {
    @media(min-width: @desktop) {
        // padding-bottom: 20%;
    }
}
.expand-padding-card-02 {
 @media(min-width: @desktop) {
    //  padding-bottom: 35%;
 }

 .expand-padding-card-03 {
     @media(min-width: @desktop) {
        //  padding-bottom: 35%;
     }
 }
  
}
   .after-flex {
       @media(max-width:1200px){
        //    position: relative;
        //    top:20px;
        //    left: -165px;
       }
   }

}