.breadcrumbs--page-nav {
    position: relative;
    top: 0px;
    left: 0px;
    height: 47px;
    background: #ffffff;
    margin-bottom: 0;
 
    @media  (min-width: @desktop) {
        top:1.5vh;
        left: 100px;
        margin-bottom: 2%;
        background:transparent;
        z-index: 3;
        width: 100%;
    }
    @media (max-width:767px) {
        position: absolute;
        width:100%;
        top:0px;
        z-index: 3;
    }
    @media (max-width:@mobile) {
        width: 100%;
    }
    p {
        font-size: 14px;
        color: @grey--100;
        padding-top: 12px;
        margin-left: 25px;
        @media (min-width:@desktop) {
            padding-top: 0;
            margin-left: 0;
        }

        strong {
            font-family: @campton-bold;
        }
    }
}

.access-financial-resources-header--row {
    margin-bottom: 30px;
    @media(max-width:@mobile) {
        margin-bottom: 20px;
    }
    .header--container {
        display: inline-block;
        h2 {
        
            // font-size: 20px;
            // line-height: 26px;
            // margin-left: auto;
            line-height: 26px;
            margin-left: 5%;
            width: 100%;

            @media(max-width:@mobile) {
            font-size: 20px;
                line-height: 26px;
                margin-left: 7%;
                margin-bottom: 0;
            }

            // @media(max-width:@lg--mobile) {
            //     // margin-left: 30%;
            //     width: 80%;
            // }

            @media(max-width:900px) {
                font-size: 24px;
                // margin-left: 30%;
                width: 90%;
                margin-bottom: -20px;
                margin-left: 21%;
                // margin-left: 22%;
            }
           
            @media(min-width:@tablet) {
                font-size: 24px;
                line-height: 31px;
                margin-left: 2%;
                width: 150%;
                display: inline-flex;
                flex-direction: row;
            }
        }
        .header-line{
          
            display: none;
            @media(min-width:@tablet) {
                display: block;
                width: 950px;
                height: 2px;
                background: #AEB7BD;
                opacity: .5;
                margin-top: 13px;
                position: relative;
                left: 15px;
            }
        }
    }

}