#prod-landing {
	.references{
		background-color: @grey--0;
		
		.container{
			background-color: transparent;
		}
		
		p{
			padding: 20px 0;
			font-size: 14px;
			color: @grey--100;
			letter-spacing: 0;
			line-height: 21px;
		}
	}
}